<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Theme style -->
    {% include '/shared/base-style-links.html' %}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>

  
  <body class="hold-transition skin-igh login-page ">
    <div class="wrapper">
      
      <div class="col farm-image ">&nbsp;</div>
      
      <div class="col ">
        <div class="login-form">
          <div class="login-box">
            <div class="login-logo">
              <img src="{{url_for('.static',filename='img/farmcloud-by-synnefa.png')}}"  ><br />
            </div>

            <h2>Welcome</h2>
            <p class="login-box-msg">Login to continue to the FarmCloud dashboard</p>

            <div class="login-box-body">
              <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group has-feedback">
                  <input type="email" name="username" class="form-control" placeholder="Email" value="{{POSTED['username']}}">
                </div>
                <div class="form-group has-feedback">
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                <div class="form-group has-feedback">
                  <button type="submit" class="btn btn-block btn-success btn-flat btn-login">Login</button>
                </div>


                <div class="row">
                  <div class="col-xs-12">
                    <a class="forgot-password" href="/reset-request">Forgot Password?</a>
                  </div>

                  <div class="col-xs-12">
                    <a class="login-box-msg termsnfcond"  href="https://www.synnefa.io/farmcloud-terms-of-service-agreement">By clicking “Request Invite” you agree to the <u>FarmCloud Terms of Service</u> </a>
                  </div>
                  <!-- /.col -->
                  <div class="col-xs-12">
                    <p class="login-box-msg">New to FarmCloud?</p>

                    <!-- <a href="/register" type="submit" class="btn btn-default btn-flat btn-request-invite">Request Invite</a> -->
                    <a href="/request-invite" type="submit" class="btn btn-default btn-flat btn-request-invite">Request Invite</a>
                    
                  </div>
                  <!-- /.col -->
                </div>
              </form>
              <!-- /.social-auth-links -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    {% include '/shared/base-js.html' %}
  </body>


  
</html>
