<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Register</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Theme style -->
    {% include '/shared/base-style-links.html' %}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="hold-transition skin-igh register-page">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 ">
            <img src="{{url_for('.static',filename='img/illuminum_logo_color.png')}}" width="125"><br />
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <div class="login-box">
            <div class="register-box-body">
              <h2>Request an invite</h2>
              <p>Please enter the required basic details below to receive an acceptance email invite</p>
              <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <div class=" form-group has-feedback">
                  <input type="text" name="first_name" class="form-control" placeholder="First Name" value="{{POSTED['first_name']}}" required="required">
                </div>
                <div class="form-group has-feedback">
                  <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="{{POSTED['last_name']}}" >
                </div>
                <div class="form-group has-feedback">
                  <input type="tel" name="phone_number" class="form-control" placeholder="Phone Number" value="{{POSTED['phone_number']}}">
                </div>
                <div class="form-group has-feedback">
                  <input type="email" name="email_address" class="form-control" placeholder="Email Address" value="{{POSTED['email_address']}}" required="required">
                </div>
                <div class="form-group has-feedback">
                  <textarea name="physical_address" class="form-control" rows="1" placeholder="Physical Address" required="required">{{POSTED['physical_address']}}</textarea>
                </div>
                {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                <div class="form-group has-feedback">
                  <button type="submit" class="btn btn-block btn-success btn-flat btn-request-invite">Request invite</button>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <p class="login-box-msg">Already have an invite?</p>

                    <a href="/login" type="submit" class="btn btn-default btn-flat btn-login">Login</a>
                  </div>
                  <!-- /.col -->
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include '/shared/base-js.html' %}
  </body>
</html>
