<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Request Invite</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Theme style -->
    {% include '/shared/base-style-links.html' %}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="hold-transition skin-igh request-invite-page ">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <img src="{{url_for('.static',filename='img/illuminum_logo_color.png')}}" width="125"><br />
          </div>
        </div>
        <div class="col-sm-12 text-left">
          <div class="login-box">
            <div class="login-box-body">
              <div class="text-center">
                <h2>Request an invite</h2>
                <p>Please enter the required basic details below to receive an acceptance email invite</p>
              </div>
              <form action="" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group has-feedback">
                  <input type="text" name="fullname" class="form-control" placeholder="Full Name" pattern="[a-zA-Z][a-zA-Z ]{2,}" value="{{POSTED['fullname']}}" required="required">
                </div>
                <div class="form-group has-feedback">
                  <input type="email" name="email_address" class="form-control" placeholder="Email ID" value="{{POSTED['email_address']}}" required="required">
                </div>
                {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}
                <div class="form-group has-feedback">
                  <select name="role" class="form-control select2" required="required">
                    <option value="">Select role</option>
                    <option value="customer">Farm Owner</option>
                  </select>
                </div>
                <div class="form-group has-feedback text-center">
                  <button type="submit" class="btn btn-block btn-success btn-flat btn-request-invite">Request invite</button>
                </div>

                <div class="row text-center">
                  <div class="col-xs-12">
                    <p class="login-box-msg">Already have an invite?</p>

                    <a href="/login" type="submit" class="btn btn-default btn-flat btn-login">Login</a>
                  </div>
                  <!-- /.col -->
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function(){
        $(".select2").select2();

      });
    </script>
  </body>
</html>
