<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          {% if FORM_ACTION_RESPONSE.type != "success" %}
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="history.go(-1);">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Request</button>
          </span>
          {%endif%}
        </section>

        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <!-- <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li> -->
              <li class="active"><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>3. Maintenance details</h3>
                  </div>
                </div>

                <div class="custom-form userform mt-4">
                  <form name="frm_details" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Pest/Disease</label>
                          <select name="main_name" class="form-control select2" required="required">
                           
                            <option value="Pest" selected="selected">Pest</option>
                            <option value="Disease" selected="selected">Disease</option>
                          </select>
                        </div>
                      </div>
                      
                      
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Name of Pest/Disease</label>
                          <select name="pest_id" class="form-control select2" required="required">
                            {% for pest in PEST %}
                           
                            <option value="{{pest.id}}" {% if pest.id == pest_id %}  selected="selected"{% endif %}>{{pest.name}}</option>
                           
                            {% endfor %}

                            <input type="text" name="pest_alter" id="pest_alter"
                            class="form-control" id="" placeholder="Others" />
                          </select>
                        </div>
                      </div>
                     
                      
                      

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Device ID</label>
                          <select name="customer_shield_id" class="form-control select2" required="required">
                            {% for device in SHIELDS %}

                            <option value="{{device.id}}"  {% if device.id == customer_shield_id %}  selected="selected"{% endif %}>{{device.shield.serial.boron_id}}</option>

                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse ID</label>
                          <select name="green_id" class="form-control select2" required="required">
                            {% for device in SHIELDS %}
                            <option value="{{device.shield.greenhouse_id}}" {% if device.shield.greenhouse_id == green_id %}selected="selected" {% endif %}>{{device.shield.greenhouse_id}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Plant name</label>
                          <select name="plant_id" class="form-control select2 select2-container--default" required="required">
                            {% for plant in PLANTS %}
                            <option value="{{plant.id}}"{% if plant.id == plant_id %} selected="selected"{% endif %}>{{plant.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Variety</label>
                          <select name="variety_id" class="form-control select2" required="required">
                            {% for varities in VARITIES %}
                            <option value="{{varities.id}}" {% if varities.id == variety_id %}selected="selected"{% endif %}>{{varities.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-sm-4">

 
                        <label for="">Stage of production</label>

                        
                        <select name="production_stage_id" class="form-control select2" required="required">
                          {% for stag in STAGES %}
                          <option value="{{stag.id}}" {% if stag.id == production_stage_id %}selected="selected"{% endif %}>{{stag.name}}</option>
                          {% endfor %}
                        </select>
                        <input type="text"  class="form-control" aria-label="Text input with dropdown button">
                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Notes</label>
                          <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions">
            <!-- <a href="../request/photos" class="btn btn-grey btn-flat pull-left">Previous</a> -->
            {% if FORM_ACTION_RESPONSE.type == "success" %}
            <a href="../../" class="btn btn-success btn-flat pull-right">Next</a>
            {%endif%}
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });

    function submit_form() {
          $("form[name='frm_details']").submit();
      }
  </script>
    

  </body>
</html>
