<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          {% if FORM_ACTION_RESPONSE.type != "success" %}
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>
            
            <button class="btn btn-success btn-flat" id="submit_type" onclick="submit_form();">Request</button>
       
          </span>
          {% endif %}
        </section>
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li><a href="#">TYPE OF MAINTENANCE</a></li>
              <li><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>1. Basic details</h3>
                  </div>
                </div>
                <form name="frm_request" action="" method="post" enctype="application/x-www-form-urlencoded">
                 
                <div class="row mt-3 ">
                  <div class="col-md-3 col-sm-4 hidden">
                    <div class="form-group">
                      <p>
                        Reqest ID<br />
                        <input type="text" placeholder="M-XX" class="form-control" name="serial" id="serial">
                        <!-- <input class="date-today">M-10</input> -->
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Date of creation<br />
                        <span class="date-today">{{data.today.strftime('%d %b %Y')}}</span>
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Created by<br />
                        <span class="date-today">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>

        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions text-right pull-right">
            {% if FORM_ACTION_RESPONSE.type == "success" %}
            <a href="./request/type" class="btn btn-success btn-flat" >Next</a>
            {% endif %}
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });


    

    });

    function submit_form() {
          $("form[name='frm_request']").submit();
      }

    
  </script>
    </script>

  </body>
</html>
