<tr>
    <td colspan="8" class="collapsed-row">
      <div id="#closed-support-{{maintain.id}}" class="accordian-body collapse in content-container">
        <div class="row">
          <div class="col-xs-12">
            <span class="f-14-bold dark-grey-text">Pests</span><br />
            <span class="f-12">Below are the details </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-2 col-xs-3 mt-4">
            <div class="meta-data-box">
              <p>
                Name of pest/Disease<br />
                <span>Mite</span>
              </p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 mt-4">
            <div class="meta-data-box">
              <p>
                Device ID<br />
                <span>D-0001</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 mt-4 col-md-2">
            <div class="meta-data-box">
              <p>
                Greenhouse ID<br />
                <span>G-120001</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 mt-4 col-md-2">
            <div class="meta-data-box">
              <p>
                Plant name<br />
                <span>Basil</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 mt-4 col-md-2">
            <div class="meta-data-box">
              <p>
                Variety<br />
                <span>Anise Basil</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 mt-4 col-md-2">
            <div class="meta-data-box">
              <p>
                Stage of production<br />
                <span>Planting</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box bg-light-yellow">
              <p>
                <span class="yellow-text">Notes</span> <br />
                <span>Pests are too many</span>
              </p>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-xs-2 col-md-1">
            <img src="/customer/static/img/greenhouse.jpg" class="width-100" />
          </div>
          <div class="col-xs-2 col-md-1">
            <img src="/customer/static/img/shadenet.jpg" class="width-100" />
          </div>
          <div class="col-xs-2 col-md-1">
            <img src="/customer/static/img/screenhouse.jpg" class="width-100" />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box">
              <p>
                Closing notes <br />
                <span>It was a simple visit</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>



  
  
  <tr data-toggle="collapse" data-target="#closed-support-4" class="accordion-toggle">
    <td><input type="checkbox" name="" value="" class="minimal" /></td>
    <td><span class="dark-grey-text f-14-bold">M-11</span></td>
    <td>12 Nov 2020</td>
    <td>Greenhouse</td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        John Handon
        <span class="date">103</span>
      </span>
    </td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        Jane Doe
        <span class="date">12 Nov 2020</span>
      </span>
    </td>
    <td>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star"></span>
      <span class="fa fa-star rating-star"></span>
    </td>
    <td>
      <span class="square-sm up square-sm-green-outline"><i class="fa fa-chevron-up"></i></span>
    </td>
  </tr>
  <tr>
    <td colspan="8" class="collapsed-row">
      <div id="closed-support-4" class="accordian-body collapse in content-container">
        <div class="row">
          <div class="col-xs-12">
            <span class="f-14-bold dark-grey-text">Greenhouse</span><br />
            <span class="f-12">Below are the details </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Device ID<br />
                <span>D-0001</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Device type<br />
                <span>FarmCloud Pro</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Greenhouse ID<br />
                <span>G-120001</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Spear ID<br />
                <span>S-100</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Issue<br />
                <span>Readings</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Issue battery<br />
                <span>Planting</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Issue battery<br />
                <span>Signal</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xs-12">
            <div class="meta-data-box bg-light-yellow">
              <p>
                <span class="yellow-text">Notes</span> <br />
                <span>The device is not irrigating correctly</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box">
              <p>
                Closing notes <br />
                <span>The device needs to be changed</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>

  <tr data-toggle="collapse" data-target="#closed-support-5" class="accordion-toggle">
    <td><input type="checkbox" name="" value="" class="minimal" /></td>
    <td><span class="dark-grey-text f-14-bold">M-11</span></td>
    <td>12 Nov 2020</td>
    <td>Screenhouse</td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        John Handon
        <span class="date">103</span>
      </span>
    </td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        Jane Doe
        <span class="date">12 Nov 2020</span>
      </span>
    </td>
    <td>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star"></span>
      <span class="fa fa-star rating-star"></span>
    </td>
    <td>
      <span class="square-sm up square-sm-green-outline"><i class="fa fa-chevron-up"></i></span>
    </td>
  </tr>
  <tr>
    <td colspan="8" class="collapsed-row">
      <div id="closed-support-5" class="accordian-body collapse in content-container">
        <div class="row">
          <div class="col-xs-12">
            <span class="f-14-bold dark-grey-text">Screenhouse</span><br />
            <span class="f-12">Below are the details </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Screenhouse ID<br />
                <span>G-0001</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Screenhouse type<br />
                <span>Custom</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Issue<br />
                <span>repair screenhouse</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Farm ID<br />
                <span>F-12001</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Greenhouse ID<br />
                <span>G-120001</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xs-12">
            <div class="meta-data-box bg-light-yellow">
              <p>
                <span class="yellow-text">Notes</span> <br />
                <span>None</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box">
              <p>
                Closing notes <br />
                <span>None</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr data-toggle="collapse" data-target="#closed-support-6" class="accordion-toggle">
    <td><input type="checkbox" name="" value="" class="minimal" /></td>
    <td><span class="dark-grey-text f-14-bold">M-11</span></td>
    <td>12 Nov 2020</td>
    <td>Shadnet</td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        John Handon
        <span class="date">103</span>
      </span>
    </td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        Jane Doe
        <span class="date">12 Nov 2020</span>
      </span>
    </td>
    <td>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star"></span>
      <span class="fa fa-star rating-star"></span>
    </td>
    <td>
      <span class="square-sm up square-sm-green-outline"><i class="fa fa-chevron-up"></i></span>
    </td>
  </tr>
  <tr>
    <td colspan="8" class="collapsed-row">
      <div id="closed-support-6" class="accordian-body collapse in content-container">
        <div class="row">
          <div class="col-xs-12">
            <span class="f-14-bold dark-grey-text">Shadnet</span><br />
            <span class="f-12">Below are the details </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Shadnet ID<br />
                <span>SN-0001</span>
              </p>
            </div>
          </div>
          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Shadnet size<br />
                <span>10ft x 10ft</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Issue<br />
                <span>repair shadnet</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Farm ID<br />
                <span>F-12001</span>
              </p>
            </div>
          </div>

          <div class="col-xs-3 col-md-2 mb-3">
            <div class="meta-data-box">
              <p>
                Device ID<br />
                <span>D-120001</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xs-12">
            <div class="meta-data-box bg-light-yellow">
              <p>
                <span class="yellow-text">Notes</span> <br />
                <span>None</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box">
              <p>
                Closing notes <br />
                <span>None</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr data-toggle="collapse" data-target="#closed-support-7" class="accordion-toggle">
    <td><input type="checkbox" name="" value="" class="minimal" /></td>
    <td><span class="dark-grey-text f-14-bold">M-11</span></td>
    <td>12 Nov 2020</td>
    <td>Others</td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        John Handon
        <span class="date">103</span>
      </span>
    </td>
    <td>
      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
        &nbsp;
      </span>
      <span class="names">
        Jane Doe
        <span class="date">12 Nov 2020</span>
      </span>
    </td>
    <td>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star star-checked"></span>
      <span class="fa fa-star rating-star"></span>
      <span class="fa fa-star rating-star"></span>
    </td>
    <td>
      <span class="square-sm up square-sm-green-outline"><i class="fa fa-chevron-up"></i></span>
    </td>
  </tr>
  <tr>
    <td colspan="8" class="collapsed-row">
      <div id="closed-support-7" class="accordian-body collapse in content-container">
        <div class="row">
          <div class="col-xs-12">
            <span class="f-14-bold dark-grey-text">Others</span><br />
            <span class="f-12">Below are the details </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box bg-light-yellow">
              <p>
                <span class="yellow-text">Notes</span> <br />
                <span>None</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xs-12">
            <div class="meta-data-box">
              <p>
                Closing notes <br />
                <span>None</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>