<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          {% if FORM_ACTION_RESPONSE.type != "success" %}
          <span class="actions text-right pull-right">
            <!-- <button class="btn btn-cancel btn-flat" onclick="history.go(-2);">Cancel</button> -->
            <button class="btn btn-success btn-flat" onclick="submit_form();">Request</button>
          </span>
          {%endif%}
        </section>

        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li>
              <li><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="type-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>2. Select one type of maintenance</h3>
                  </div>
                </div>

              <form name="frm_type" action="" method="post" enctype="application/x-www-form-urlencoded">

                <div class="row mt-3 my_Div">
                  
                  
                  
                 
                  <div class="col-lg-3 col-sm-4 text-center mb-5 types active" >
                    <a  class="meta-data-box-link">
                      <img src="/customer/static/img/icons/pests.svg" alt="" />
                      <input class="col-lg-2 col-sm-5" type="radio" name="type" id="type" value ="1" > Pests/Diseases</input>
                    </a>
                  </div>
               
               

                  <div class="col-lg-3 col-sm-4 text-center mb-5 types"type="checkbox">
                    <a class="meta-data-box-link " name="type1" id="type1">
                      <img src="/customer/static/img/icons/calendar.svg" alt="" />
                      <input class="col-lg-2 col-sm-5" type="radio" name="type" id="type" value ="2">Agronomist visit</input>
                    </a>
                  </div>
                  
                  <div class="col-lg-3 col-sm-4 text-center mb-5" name="type2" id="type2">
                    <a href="#" class="meta-data-box-link" >
                      <img src="/customer/static/img/icons/smart-farm.svg" alt="" class="device"/>
                      <input class="col-lg-2 col-sm-5" type="radio" name="type" id="type" value ="3">Device issue</input>
                    </a>
                  </div>

                 

                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a  class="meta-data-box-link" name="type3" id="type3">
                      <img src="/customer/static/img/icons/greenhouse.svg" alt="" />
                      <input class="col-lg-1 col-sm-5" type="radio" name="type" id="type" value ="4">Greenhouse issue</input>
                    </a>
                  </div>

                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a  class="meta-data-box-link" name="type4" id="type4">
                      <img src="/customer/static/img/icons/screenhouse.svg" alt="" />
                      <input class="col-lg-1 col-sm-5" type="radio" name="type" id="type" value ="5">Sreenhouse issue</input>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a class="meta-data-box-link" name="type5" id="type5">
                      <img src="/customer/static/img/icons/net.svg" alt="" />
                      <input class="col-lg-2 col-sm-5" type="radio" name="type" id="type" value ="6">Shadnet issue</input>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                      <a  class="meta-data-box-link" name="type6" id="type6">
                        <img src="/customer/static/img/icons/net.svg" alt="" class="others" />
                        <input class="col-lg-1 col-sm-5" type="radio" name="type" id="type" value ="7">Traceable report</input>
                      </a>
                    </div>
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a  class="meta-data-box-link" name="type7" id="type7">
                      <img src="/customer/static/img/icons/others.svg" alt="" class="others" />
                      <input class="col-lg-2 col-sm-5" type="radio" name="type" id="type" value ="8">Others</input>
                    </a>
                  </div>

                


                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
       
      </div>


        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions">
            <!-- <a href="../request" class="btn btn-grey btn-flat pull-left">Previous</a> -->
            {% if TYPE == "1" %}
            <a href="../request/detail" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "2" %}
            <a href="../request/agronomy" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "3" %}
            <a href="../request/device_issue" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "4" %}
            <a href="../request/greenhouse_issue" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "5" %}
            <a href="../request/screenhouse_issue" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "6" %}
            <a href="../request/shadnet_issue" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "7" %}
            <a href="../request/trace_report" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% elif TYPE == "8" %}
            <a href="../request/others" class="btn btn-success btn-flat pull-right"onclick="submit_form();">Next</a>
            {% endif %}
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("span[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });



      

      $(document).ready(function() {
    $('a').bind("click",(function() {
        $('a.meta-data-box-link.active').removeClass("active");
        $(this).addClass('selected').addClass("active");
    }));
});


$(document).ready(function() {
  $(":checkbox").click(function(event) {
    if ($(this).is(":checked"))
      $(".myClass").show();
    else
      $(".myClass").hide();
  });
});


     
  
    
 



// $(document).ready(function() {
//             $('a').bind("click",function() {
//                $.each( $("input[name='type']"), function( i, l ){
//                 $('a.meta-data-box-link.active').removeClass("active");
//                 return $(this).value
//                 console.log($(this).value)
//               });
             
//                   $(this).addClass('selected').addClass('active');
                 
//                   console.log($(this).value)
//                   // types.push($(this).val());
//              });
//         });



    });

     function submit_form() {
          $("form[name='frm_type']").submit();
      }
  </script>
    </script>

  </body>
</html>
