<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="history.go(-1);">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="submit_form();">Request</button>
          </span>
        </section>

        <div class="row bg-light-grey full-active">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li>
              <li class="active"><a href="#">MAINTENANCE DETAILS</a></li>
              
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>3. Maintenance details</h3>
                  </div>
                </div>

                <div class="custom-form userform mt-4">
                  <form name="frm_agro" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Date of visit</label>

                          <input type="date" name="visit_date" id="visit_date" class="form-control green-bg" data-date-format="mm/dd/yyyy">
                         
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Time of visit</label>

                          <input type ="time" name="visit_time" id="visit_time" class="timepicker form-control  green-bg" data-time-format="hh:mm" >
                         
                        </div>
                      </div>

                      
                    </div>


                    <div class="row form-group">
                      <div class=" col-md-8 col-sm-4">
                       
                       <input name="reorder_fertilizer" type="checkbox" value = "1" id="reorder_fertilizer" class="minimal green-bg" {% if reorder_fertilizer == 1 %} checked=true {% endif %} >  Reorder Fertilizer</input>
                         
                      </div>

                    </div>



                    <div class="row form-group">
                      <div class="col-md-8 col-sm-4 ">
                       
                       <input name="reorder_agrochemical" type="checkbox" value="1" id="reorder_agrochemical" class="minimal green-bg" {% if reorder_agrochemical == 1 %} checked=true {% endif %}>  Reorder Agrochemical</input>
                         
                      </div>

                    </div>



                    <div class="row ">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Fertilizer Brand</label>
                          <select name="fertilizer_id" class="form-control select2" required="required">
                            {% for brand in BRAND %}
                            <option value="{{brand.id}}" {% if brand.id == fertilizer_id %} selected="selected" {% endif %}>{{brand.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Fertilizer Component</label>
                          <select name="fertilizer_main_component_id" class="form-control select2 select2-container--default" required="required">
                            {% for comp in COMPONENT %}
                            <option value="{{comp.id}}"{% if comp.id == fertilizer_main_component_id %} selected="selected"{% endif %}>{{comp.component}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Amount</label>

                          <div class="input-group custom-input-group">
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="fertilizer_amount" name ="fertilizer_amount" value="0" />
                            <div class="input-group-addon right">Kgs</div>


                          <!-- <select name="fertilizer_amount" class="form-control select2" required="required">
                            <option value="" selected="selected">Jackie Chebet</option>
                          </select> -->
                        </div>
                      </div>
                    </div>
                  </div>


                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Agrochemical Brand</label>
                          <select name="agrochemical_id" class="form-control select2" required="required">
                            {% for brand in BRAND %}
                            <option value="{{brand.id}}" {% if brand.id == agrochemical_id %} selected="selected"{% endif %}>{{brand.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Agrochemical Component</label>
                          <select name="agrochemical_main_component_id" class="form-control select2 select2-container--default" required="required">
                            {% for comp in COMPONENT %}
                            <option value="{{comp.id}}"{% if comp.id == agrochemical_main_component_id %} selected="selected" {% endif %} >{{comp.component}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Amount</label>

                          <div class="input-group custom-input-group">
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="agrochemical_amount" name ="agrochemical_amount" value="0" />
                            <div class="input-group-addon right">Kgs</div>

                          <!-- <select name="" class="form-control select2" required="required">
                            <option value="" selected="selected">10KG</option>
                          </select> -->
                        </div>
                      </div>
                    </div>
                  </div>
                   
                   

                    <div class="row mt-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Notes</label>
                          <textarea name = "notes" id = "notes" class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions">
            <a href="../request/type" class="btn btn-grey btn-flat pull-left">Previous</a>
            <a href="../" class="btn btn-success btn-flat pull-right">Done</a>
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

      $('.datepicker').datepicker({
        startDate: '-3d'
        });

      $('.timepicker').timepicker();

    });

    function submit_form() {
          $("form[name='frm_agro']").submit();
      }
  </script>
    </script>

  </body>
</html>
