<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud Dashboard </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Theme style -->
    {% include '/shared/base-style-links.html' %}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}
    <div class="wrapper">


      <div class="container">

        <section class="content-header">
          <div class="row">
            <div class="col-xs-12">
              <div class="mb-4">
                <a href="./../../" class="btn btn-light-green btn-flat" > <i class="fa fa-chevron-left pr-2"></i>Maintenance</a>
              </div>
              <h1></h1>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-sm-12">
            <img src="{{url_for('.static',filename='img/illuminum_logo_color.png')}}" width="125"><br />
          </div>
        </div>
        
        <div class="" id="closer_type" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Close Maintenance</h3>
                  </div>
                </div>
              </div>
              {% if FORM_ACTION_RESPONSE %}
              <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
            {% endif %}
              <form name="frm_close" action="" method="post" enctype="application/x-www-form-urlencoded">
              <div class="modal-body pl-3 pr-1">
               
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Note</label>
                        <!-- <input type="text" class="form-control" id="type-desc" rows="3" placeholder="" /> -->
                        <textarea class="form-control" id="note" name = "note" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
               
              </div>
            </form>
           
              <div class="modal-footer">
               
                <button type="button"  class="btn btn-sm btn-success btn-add-green" onclick="submit_form();">Close</button>
              </div> 
           

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
    {% include '/shared/base-js.html' %}
  </body>
</html>

<script>
 


  function submit_form() {
        $("form[name='frm_close']").submit();
    }
</script>
