<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Request Support or maintenance</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          {% if FORM_ACTION_RESPONSE.type != "success" %}
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="history.go(-1);">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Request</button>
          </span>
          {%endif%}
        </section>
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li>
              <li class="active"><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>3. Maintenance details</h3>
                  </div>
                </div>

                {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                <div class="custom-form userform mt-4">
                  <form name="frm_details" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Pest/Disease</label>
                          <select name="main_name" class="form-control select2" required="required">
                            <option value="Pest" selected="selected">Pest</option>
                            <option value="Disease" selected="selected">Disease</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Name of Pest/Disease</label>
                          <input list="methods" name="pest_id" class="form-control" required="required"/>
                          <datalist id="methods">
                            {% for pest in PEST %}
                            <option value="{{pest.name}}" {% if pest.id == pest_id %} selected="selected"{% endif %}>{{pest.name}}</option>
                            {% endfor %}
                            <!-- <input type="text" name="pest_alter" id="pest_alter"
                            class="form-control" id="" placeholder="Others" /> -->
                          </datalist>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Device ID</label>
                          <select name="customer_shield_id" class="form-control select2" required="required">
                            {% for device in SHIELD %}
                            <option value="{{device.id}}"  {% if device.id == customer_shield_id %} selected="selected" {% endif %}>{{device.shield.serial.boron_id}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse ID</label>
                          <select name="green_id" class="form-control select2" required="required">
                            {% for device in SHIELD %}
                            <option value="{{device.shield.greenhouse_id}}" {% if device.shield.greenhouse_id == green_id %}selected="selected" {% endif %}>{{device.shield.greenhouse_id}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Plant name</label>
                          <select name="plant_id" class="form-control select2 select2-container--default" required="required">
                            {% for plant in PLANTS %}
                            <option value="{{plant.id}}"{% if plant.id == plant_id %}  selected="selected"{% endif %}>{{plant.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Variety</label>
                          <select name="variety_id" class="form-control select2" required="required">
                            {% for varities in VARITIES %}
                            <option value="{{varities.id}}" {% if varities.id == variety_id %}selected="selected"{% endif %}>{{varities.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <label for="">Stage of production</label>
                        <select name="production_stage_id" class="form-control select2" required="required">
                          {% for stag in STAGES %}
                          <option value="{{stag.id}}" {% if stag.id == production_stage_id %}selected="selected"{% endif %}>{{stag.name}}</option>
                          {% endfor %}
                          <input type="text" name="satge_alter" id="stage_alter" class="form-control" placeholder="Others" aria-label="Text input with dropdown button">
                        </select>
                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Notes</label>
                          <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions">
          <a href="../request/type" class="btn btn-grey btn-flat pull-left">Previous</a>
          <a href="../request/photos" class="btn btn-success btn-flat pull-right">Next</a>
        </div>
      </footer>

      {% include '/shared/footer.html' %}
    </div>
    <!-- Assign Modal -->

    <div class="modal fade custom-modal" id="assign" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Assign Maintenance</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Assign to</label><br />
                  <select name="" class="form-control select2" required="required">
                    <option value="" selected="selected">Jackie Chebet</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });


      function submit_form() {
          $("form[name='frm_details']").submit();
      }
    </script>
  </body>
</html>
