<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='js/imageuploadify.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
            {% if FORM_ACTION_RESPONSE %}
            <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
            {% endif %}
          </h1>
          {% if FORM_ACTION_RESPONSE.type != "success" %}
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="history.go(-4);">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Request</button>
          </span>
          {%endif%}
        </section>

        <div class="row bg-light-grey full-active">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li>
              <li class="active"><a href="#">MAINTENANCE DETAILS</a></li>
              <li class="active"><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-sm-8">
                    <h3>4. Upload photos</h3>
                  </div>
                  <div class="col-sm-4">
                    <div class="float-sm-right">
                      <span class="red-link"> *Total 5mb allowed</span>
                    </div>
                  </div>
                </div>
               

                <div class="custom-form userform mt-4">
               <form name="frm_details" action="" method="post" class="dropzone text-center">


                
                    <div class="row">
                      <div class="col-xs-12">
                        <!-- <div class="dz-message needsclick">
                          <p>Drag and drop photos</p>
                          <p>-OR-</p>

                          <a type="file" name="files[]" multiple="true" autocomplete="off" >Browse</a>
                        </div> -->


                        <div  style="margin-top: 1em;">
                         
                              <input type="file"  name="fileim[]" id="fileim" accept="image/*,.jpg,.jpeg,.png"class="btn-success" multiple="true">
                         
                      </div>
                      </div>
                    </div>

                    <!-- <div class="row mt-5">
                      <div class="col-md-2 col-sm-3 col-xs-6 mb-5">
                        <img src="/customer/static/img/shadenet.jpg" class="width-100" />
                        <div class="remove-icon-top-right">
                          <a href="">
                            <i class="fa fa-times"></i>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-3 col-xs-6 mb-5">
                        <img src="/customer/static/img/shadenet.jpg" class="width-100" />
                        <div class="remove-icon-top-right">
                          <a href="">
                            <i class="fa fa-times"></i>
                          </a>
                        </div>
                      </div>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      


 


 

      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions">
          <a href="../request/pests-diseases" class="btn btn-grey btn-flat pull-left">Previous</a>
          <a href="../" class="btn btn-success btn-flat pull-right">Finish !</a>
        </div>
      </footer>
      {% include '/shared/footer.html' %}
    </div>
    <!-- Assign Modal -->

    <div class="modal fade custom-modal" id="assign" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Assign Maintenance</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Assign to</label><br />
                  <select name="" class="form-control select2" required="required">
                    <option value="" selected="selected">Jackie Chebet</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success" >Update</button>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script type="text/javascript" src="{{url_for('.static',filename='js/imageuploadify.min.js')}}"></script>
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });


     

      $(document).ready(function() {
                $('input[type="file"]').imageuploadify();
            })

    function submit_form() {
          $("form[name='frm_details']").submit();
      }
    </script>
  </body>
</html>
