<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="history.go(-3);">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Request</button>
          </span>
        </section>

        <div class="row bg-light-grey full-active">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <!-- <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li> -->
              <li class="active"><a href="#">MAINTENANCE DETAILS</a></li>
             
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>3. Maintenance details</h3>
                  </div>
                </div>

                <div class="custom-form userform mt-4">
                  <form name="frm_shad" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Shadenet ID</label>
                          <select name="shadenet_maintenance_id" class="form-control select2" required="required">
                            {% for shad in SHADENET %}
                          <option value="{{shad.id}}"  {% if shad.id == shadenet_maintenance_id %}  selected="selected"{% endif %}>{{shad.shadenet.shadenet_ref}}</option>
                          {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Issues</label>
                          <select name="issue_id" class="form-control select2" required="required">
                            {% for issue in ISSUES %}
                            <option value="{{issue.id}}"{% if issue.id == issue_id %} selected="selected"{% endif %}>{{issue.name}}</option>
                            {% endfor %}
                            <input type="text" name="sdissue_alter" id="sdissue_alter" class="form-control" placeholder="Others" aria-label="Text input with dropdown button">
                          </select>
                        </div>
                      </div>

                      
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Shadenet Size</label>
                          <select name="shad_size" class="form-control select2" required="required">
                            {% for shad in SHADENET %}
                          <option value="{{shad.id}}"  {% if shad.id == shad_size %}  selected="selected"{% endif %}>{{shad.shadenet.size}}</option>
                          {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Farm ID</label>
                          <select name="farm_id" class="form-control select2 select2-container--default" required="required">
                            {% for frm in FARMS %}
                          <option value="{{frm.id}}"  {% if frm.id == farm_id %}  selected="selected"{% endif %}>F-{{frm.farm.main_id}}</option>
                          {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse ID</label>
                          <select name="greenhous_id" class="form-control select2" required="required">
                            {% for grnh in GREENHOUSE %}
                            <option value="{{grnh.id}}" {% if grnh.id == greenh_id %} selected="selected" {% endif %}>{{grnh.greenhouse.greenhouse_ref}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                   

                    <div class="row mt-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Notes</label>
                          <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions">
            <!-- <a href="../request/type" class="btn btn-grey btn-flat pull-left">Previous</a> -->
            <a href="../../../../"class="btn btn-success btn-flat pull-right" >Done</a>
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });


    function submit_form() {
          $("form[name='frm_shad']").submit();
      }
  </script>
    </script>

  </body>
</html>
