<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Synnefa FarmCloud - Activity Logs</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse activity-logs">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Activity log
          </h1>

          <div class="clearfix">&nbsp;</div>
          <div class="row search-users">
            <div class="col-sm-12">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by Name/Greenhouse ID/ Farm ID/ Device ID ..." class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      
        <section class="content">
          
          <div class="col-sm-12 logs-container">
            
            
            {% for loggy in LOGS  %}
            

            <!-- <div class="row">
              <div class="col-sm-12">
                <h5>{{loggy.created}}</h5>
              </div>
            </div> -->
            <div class="activity-log-container col-sm-12">
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">{{loggy.created}} {{loggy.created_time}}</div>
                <div class="pull-left pr-1">{{loggy.action}}<a href="#" class="green-link underline">{{loggy.ref}}</a></div>
                <div class="pull-right">{{loggy.created_by.first_name}}</div>
              </div>
            </div>
            {%endfor%}
           
          </div>

      
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(".select2").select2();
    </script>

  </body>
</html>
