<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Multiple Users</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh layout-top-nav sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">
      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            User account bulk upload
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../users';">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="populate_user_fields();">Add</button>
          </span>
        </section>

        <section class="content">

          <form id="upload_form" name="upload_form" action="" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-4">
                <div class="callout hidden">
                  <p>&nbsp;</p>
                </div>

                <h5 class="mb-1 f-16-bold">CSV bulk upload</h5>

                <div class="upload-progress hidden">
                  <div class="progress-percentage green-text-lighter mt-4"><span class="progress-percentage-number">0</span>% <small>completed</small></div>
                  <div class="progress progress-sm mb-3">
                    <div id="progress-bar" class="progress-bar progress-bar-success border-radius-3" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="upload-info hidden">
                  <p class="light-grey-text pt-0"><span id="uploaded-user-count">0</span> user accounts detected</p>
                  <a class="btn btn-success btn-flat btn-preview mt-3" onclick="populate_user_fields();">Preview</a>
                  <a class="btn btn-grey-outline btn-flat btn-try-again mt-3">Try again</a>
                </div>

                <div class="upload-csv-file">
                  <div class="input-group mt-4 mb-4">
                    <input id="file-name" type="text" class="form-control white-bg" readonly />
                    <label class="input-group-btn" for="file-to-upload">
                      <span class="btn btn-success"> <input id="file-to-upload" name="file-to-upload" type="file" style="visibility: hidden; position: absolute;" />Browse </span>
                    </label>
                  </div>
                  <span class="label label-info" id="upload-file-info"></span>
                  <p class="light-grey-text pt-0">Acceptable file types: CSV</p>
                  <p class="light-grey-text pt-0">Here is a <a href="/admin/static/files/users.csv" class="green-link underline">sample users CSV file</a> </p>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>

    {% include '/shared/base-js.html' %}

    <script>
      var uploaded_users = []
      $(function(){
        $(document).on("change", "input[name='file-to-upload']", function(e){
          $("#file-name").val(e.target.files[0].name)
          $('#upload_form').submit();
        })

        $(".btn-try-again").on("click", function(){
          $('#upload_form').trigger('reset');

          $(".upload-info, .upload-progress").addClass("hidden");
          $(".upload-csv-file").removeClass("hidden");
          $("#uploaded-user-count").text(0);
          $(".callout p").text("");
          $(".callout").removeClass("callout-danger").addClass("hidden");

        })

        $('#upload_form').submit(function(e) {
          var formData = new FormData(this);

          $.ajax({
            type:'POST',
            url: './add-multiple',
            data:formData,
            xhr: function() {
              var myXhr = $.ajaxSettings.xhr();
              if(myXhr.upload){
                myXhr.upload.addEventListener('progress',progress, false);
              }
              return myXhr;
            },
            cache:false,
            contentType: false,
            processData: false,

            success:function(data){
              if (data.error != undefined) {
                $(".callout p").text(data.error);
                $(".callout").addClass("callout-danger").removeClass("hidden");
              }
              if (data.uploaded != undefined) {
                uploaded_users = data.uploaded;
                $("#uploaded-user-count").text(data.uploaded.length);
              }
            },

            error: function(data){
              $(".callout p").text("An error occured during processing, reload then try again.");
              $(".callout").addClass("callout-danger").removeClass("hidden");
            }
          });
          e.preventDefault();
        });
      });

      function progress(e){
        $(".upload-progress").removeClass("hidden");
        if(e.lengthComputable){
          var max = e.total;
          var current = e.loaded;
          var percentage = (current * 100)/max;
          $(".upload-progress .progress-percentage-number").text(percentage);
          $(".upload-progress #progress-bar").css("width", percentage + "%");

          if(percentage >= 100) {
            $(".upload-info").removeClass("hidden");
            $(".upload-csv-file").addClass("hidden");
          }
        }
      }

      function submit_form() {
        // $('#upload_form').submit();
      }

      function populate_user_fields() {
        if (uploaded_users != undefined && uploaded_users.length > 0) {
          // console.log(uploaded_users)
          var $form = $('<form style="display:none;" action="/admin/settings/user-invites/add" method="post"/>');
          $form.append($('<input type="hidden" name="add-multiple" value="1">'));
          $.each(uploaded_users, function(i, v) {
            $.each(v, function(k, val) {
              $form.append($('<input type="hidden" name="' + k + '[]" value="' + val + '">'));
            });
          });
          $('body').append($form);
          $form[0].submit();

        } else {
          $(".callout p").text("There are no users to preview.");
          $(".callout").addClass("callout-warning").removeClass("hidden");
        }
      }
    </script>

  </body>
</html>
