<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Admin - Edit User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse profile">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="actions">
            <a href="/admin/settings/users" class="btn btn-success btn-flat"><i class="fa fa-angle-left"></i> Users & invites</a>
          </div>
          <h1 class="pull-left">
            User profile
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-success btn-deactivate btn-flat" onclick="deactivate_account();">Deactivate Account</button>
          </span>
          <div class="clearing">&nbsp;</div>
        </section>

        <section class="content">
          <div class="row user">
            <div class="col-sm-2">
              <div class="white-block shadow-outline">
                <div id="active_user_avatar" class="avatar" style="background-image: url(/customer/static/{% if USER.detail.avatar_media %}files/{{USER.detail.avatar_media.file_url}}{% else %}img/avatar.png{% endif %});">&nbsp;</div>
                <div class="edit">
                  <a href="" data-toggle="modal" data-target="#change_avatar">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <div class="name">{{USER.detail.first_name}} {{USER.detail.last_name}}</div>
                {% if USER.role != {} %}
                <div class="role">{{USER.role.role.name}}</div>
                {%else%}

                <div class="role">NA</div>

                {%endif%}

                <div class="status">
                  <span class="badge bg-green disabled">Active</span>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              {% if ACTION_RESPONSE %}
              <div class="callout callout-{{ACTION_RESPONSE['type']}}">
                <p>{{ACTION_RESPONSE['message']}}</p>
              </div>
              {% endif %}
              <div class="detail white-block shadow-outline">
                <form action="" method="post">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Details</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <a href="/admin/settings/profile/{{USER.detail.id}}" class="btn btn-flat btn-default">Cancel</a>
                      <button type="submit" class="btn btn-flat btn-edit">Update</button>
                      <input type="hidden" class="form-control" name="edit_profile" id="edit_profile" value="{{USER.detail.id}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="fullname">Fullname</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" pattern="[a-zA-Z][a-zA-Z ]{2,}" value="{{USER.detail.first_name}} {{USER.detail.last_name}}" required="required">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Employee ID</p>
                        <p class="val">{{USER.staff_info.employee_id}}</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="role">Role</label>
                        <select name="role" class="form-control select2" required="required">
                          {% for role in ROLES %}
                          
                          <option value="{{role.id}}"{% if role.id == USER.role.role.id %} selected="selected"{% endif %}>{{role.name}}</option>
                          
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Password</p>
                        <p class="val"><a href="" class="reset-password" data-toggle="modal" data-target="#change_password">Reset</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Email Address</p>
                        <p class="val">{{USER.detail.email_address}}</p>
                      </div>
                     
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" pattern="+[0-9]*" maxlength=12 inputmode="numeric" class="form-control" name="phone_number" id="phone_number" value="{{USER.detail.phone_number}}" required>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="alerts_subscription">Additional alert subscription</label>
                        <select name="alerts_subscription" class="form-control select2" required="required">
                          <option {% if USER.alert_config.code == config.NOTIFICATION_MODE_EMAIL %}selected="selected"{% endif %}value="{{config.NOTIFICATION_MODE_EMAIL}}">Email</option>
                          <option {% if USER.alert_config.code == config.NOTIFICATION_MODE_SMS %}selected="selected"{% endif %}value="{{config.NOTIFICATION_MODE_SMS}}">SMS</option>
                          <option {% if USER.alert_config.code == config.NOTIFICATION_MODE_ALL %}selected="selected"{% endif %}value="{{config.NOTIFICATION_MODE_ALL}}">Email & SMS</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="data">
                        <p class="key">Ranking</p>
                        <p class="val">{{USER.staff_info.rank}}</p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <div class="modal fade" id="change_avatar" tabindex="-1" role="dialog" aria-labelledby="change_avatar_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Avatar</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <input type="file" name="avatar_file" />
              </div>
              <div class="col-sm-6">
                <div class="avatar-view">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat" onclick="change_avatar($(this));">Save</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
      <div class="modal-dialog" role="document" style="width: 425px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Password</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="errors hidden" style="margin-bottom: 10px;">
                  <span class="label label-danger">Failed!</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="new_password">New password</label>
                  <input type="password" class="form-control" name="new_password" id="new_password" required="required">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" required="required">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat" onclick="change_password($(this));">Update</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      var customer_report;
      $(function () {
        $(".select2").select2();

        customer_report = {{CUSTOMER_REPORT|tojson}};
        plot_bar_chart('#customer_report', customer_report);
      });

      function change_avatar(avatar_modal) {
        var new_avatar = avatar_modal.closest(".modal-content").find("input[name=avatar_file]")[0].files[0];
        if (new_avatar != undefined) {
          var formData = new FormData();
          formData.append("avatar", true);
          formData.append("image_file", new_avatar);
          $.ajax({
             url : './{{USER.detail.id}}',
             type : 'POST',
             data : formData,
             processData: false,
             contentType: false,
             success : function(data) {
               if (data.status) {
                 $("#active_user_avatar").attr("style", "background-image: url(/customer/static/files/avatar/" + data.avatar + ")");
                 avatar_modal.closest(".modal-content").find("input[name=avatar_file]").val("");
                 $("#change_avatar").modal('toggle');
               }
             }
          });
        }
      }

      function change_password(password_modal) {
        var _elems = password_modal.closest(".modal-content");
        var new_password = _elems.find("#new_password").val();
        var confirm_password = _elems.find("#confirm_password").val();

        if (new_password != "" && new_password == confirm_password) {
          var formData = new FormData();

          _elems.find(".errors").addClass("hidden");
          _elems.find(".errors .label").text("");

          formData.append("password", true);
          formData.append("new_password", new_password);
          formData.append("confirm_password", confirm_password);

          $.ajax({
             url : './{{USER.detail.id}}',
             type : 'POST',
             data : formData,
             processData: false,
             contentType: false,
             success : function(data) {
               if (data.status) {
                 $("#change_password").modal('toggle');
               }
             }
          });
        } else {
          _elems.find(".errors").removeClass("hidden");
          _elems.find(".errors .label").text("Identical new password and confirm password are needed to reset.");
        }
      }

    </script>

  </body>
</html>
