<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Admin - User Roles</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/chartist.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/iCheck/all.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="mb-4">
            <a href="../../roles" class="btn btn-light-green btn-flat"> <i class="fa fa-chevron-left pr-2"></i>Admin roles</a>
          </div>
          <h1>{{ROLENAME.name}}</h1>
        </section>

        <section class="content">
          <div class="row mb-3">
            <div class="col-sm-12">
              <h4>Users <span class="badge badge-default">{{USERROLES|list|length}}</span></h4>
            </div>
          </div>

          <div class="row user">

            {% for users in USERROLES %}
            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="white-block shadow-outline text-center user-role-card mb-4">
                <div class="delete">
                  <a href="">
                    <i class="fa fa-times-circle"></i>
                  </a>
                </div>
                <div class="avatar" style="background-image: url(/admin/static/img/avatar.png);">&nbsp;</div>

                <div class="role f-14-bold-medium">{{users.user.first_name}} {{users.user.last_name}}</div>
                <div class="small-text mb-2">{{users.role.name}}</div>
                {% if users.role.status == 'Inactive' %}
                <span class="badge badge-success Inactive">{{users.role.status}}</span>
                {%else%}
                <span class="badge badge-success active">{{users.role.status}}</span>
                {%endif%}

              </div>
            </div>
            {%endfor%}

            
          </div>
        </section>
      </div>

      {% include '/shared/footer.html' %}
    </div>

    <script src="{{url_for('.static',filename='js/chartist.min.js')}}"></script>
    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/iCheck/icheck.min.js')}}"></script>
    <script>
      var customer_report;
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: 'icheckbox_minimal-green'
        });
      });
    </script>

  </body>
</html>
