<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Admin - Users</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/chartist.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/iCheck/all.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Users & invites <span class="badge badge-default">{{INVITES|length + ACTIVE_USERS|length + INACTIVE_USERS|length}}</span>
          </h1>
          <span class="actions pull-right">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-success">+ Add users</button>
              <div class="btn-group" role="group">
                <button id="add_users_btn_group" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add_users_btn_group">
                  <a class="btn btn-sm btn-link" href="/admin/settings/users/add">+ Add a single user account</a>
                  <a class="btn btn-sm btn-link" href="/admin/settings/users/add-multiple">+ Bulk upload accounts</a>
                </div>
              </div>
            </div>

          </span>
          <div class="clearing">&nbsp;</div>
          <div class="row search-users">
            <div class="col-sm-1">
              <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
            </div>
            <div class="col-sm-11">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by employee ID/employee name" class="form-control" id="">
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="row tallies">
            <div class="col-sm-12">
              <div class="tally tally-invites">
                <p>{{INVITES|length}}<br />
                  <span class="inverse">Total invites</span>
                </p>
              </div>
              <div class="tally tally-active">
                <p>{{ACTIVE_USERS|selectattr('user.user.status','equalto','Active')|list|length}}<br />
                  <span class="inverse">Total active</span>
                </p>
              </div>
              <div class="tally tally-inactive">
                <p>{{INACTIVE_USERS|selectattr('user.user.status','equalto','Inactive')|list|length}}<br />
                  <span class="inverse">Total inactive</span>
                </p>
              </div>
            </div>
          </div>

          <div class="accounts">

            <div class="row accounts-header">
              <div class="col-xs-1">&nbsp;</div>
              <div class="col-xs-1 employee-id">EMPLOYEE ID <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></div>
              <div class="col-xs-2 username">USER NAME <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></div>
              <div class="col-xs-2 role">ROLE <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></div>
              <div class="col-xs-2 date-created-by">DATE & CREATED BY <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></div>
              <div class="col-xs-2 alert-subscription">ALERT SUBSCRIPTION <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></div>
              <div class="col-xs-1 status">STATUS <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></div>
              <div class="col-xs-1">&nbsp;</div>
            </div>

            <div class="accounts-records accounts-records-invites" data-toggle="collapse" data-target="#account-alerts" class="accordion-toggle">
              <h2>
                <i class="fa fa-caret-down"></i> Account invites <span class="badge badge-default">{{INVITES|length}}</span>
              </h2>
              <div class="account-records" id="account-alerts">
                {% for user in INVITES %}
                <div class="row account-record white-block">
                  <div class="col-xs-1">
                    <input type="checkbox" name="" value="" class="minimal" />
                  </div>
                  <div class="col-xs-1">{{user.user.staff.employee_id}}</div>
                  <div class="col-xs-2">
                    {% if user.user.user.avatar_media %}
                    <span class="avatar" style="background-image: url(./static/files/{{user.user.user.avatar_media.file_url}});">
                      &nbsp;
                    </span>
                    {% else %}
                    <span class="avatar">
                      {{user.user.user.first_name[:1]}}
                    </span>
                    {% endif %}
                    <span class="names">{{user.user.user.first_name}} {{user.user.user.last_name}}</span>
                  </div>
                  <div class="col-xs-2">
                    {{user.role.role.name}}
                  </div>
                  <div class="col-xs-2">
                    {{user.user.created}}
                  </div>
                  <div class="col-xs-2">
                    {{user.alert_config.mode}}
                  </div>
                  <div class="col-xs-1">
                    {% if user.user.accept == 1 %}
                    <span class="badge badge-success active">Accepted</span>
                    {% else %}
                    <span class="badge badge-success inactive">Pending</span>
                    {% endif %}
                  </div>
                  <div class="col-xs-1 action-btn">
                    <a href="/admin/settings/profile/{{user.user.user.id}}" class="btn btn-flat btn-sm btn-success btn-success-outline">View Profile</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="accounts-records accounts-records-active"data-toggle="collapse" data-target="#account-active" class="accordion-toggle">
              <h2>
                <i class="fa fa-caret-down"></i> Active users <span class="badge badge-default">{{ACTIVE_USERS|selectattr('user.user.status','equalto','Active')|list|length}}</span>
              </h2>
              <div class="account-records" id ="account-active">
                {% for user in ACTIVE_USERS %}
                {% if user.user.user.status == 'Active' %}
                <div class="row account-record white-block">
                  <div class="col-xs-1">
                    <input type="checkbox" name="" value="" class="minimal" />
                  </div>
                  <div class="col-xs-1">{{user.user.employee_id}}</div>
                  <div class="col-xs-2">
                    {% if user.user.user.avatar_media %}
                    <span class="avatar" style="background-image: url(./static/files/{{user.user.user.avatar_media.file_url}});">
                      &nbsp;
                    </span>
                    {% else %}
                    <span class="avatar">
                      {{user.user.user.first_name[:1]}}
                    </span>
                    {% endif %}
                    <span class="names">{{user.user.user.first_name}} {{user.user.user.last_name}}</span>
                  </div>
                  {% if user.role != {} %}
                  <div class="col-xs-2">
                    
                    {{user.role.role.name}}
                    

                  </div>
                  {%else%}
                  <div class="col-xs-2">NA</div>
                  {%endif%}
                  <div class="col-xs-2">
                    {{user.user.created}}
                  </div>
                  <div class="col-xs-2">
                    {{user.alert_config.mode}}
                  </div>
                  <div class="col-xs-1">
                   
                    <span class="badge badge-success active">{{user.user.user.status}}</span>
                    
                  </div>
                  <div class="col-xs-1 action-btn">
                    <a href="/admin/settings/profile/{{user.user.user.id}}" class="btn btn-flat btn-sm btn-success btn-success-outline">View Profile</a>
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>

            <div class="accounts-records accounts-records-inactive"data-toggle="collapse" data-target="#inaccount-active" class="accordion-toggle">
              <h2>
                <i class="fa fa-caret-down"></i> Inactive users <span class="badge badge-default">{{INACTIVE_USERS|selectattr('user.user.status','equalto','Inactive')|list|length}}</span>
              </h2>
              <div class="account-records" id ="inaccount-active">
                {% for user in INACTIVE_USERS %}
                {% if user.user.user.status != 'Active'%}
                <div class="row account-record white-block">
                  <div class="col-xs-1">
                    <input type="checkbox" name="" value="" class="minimal" />
                  </div>
                  <div class="col-xs-1">{{user.user.employee_id}}</div>
                  <div class="col-xs-2">
                    {% if user.user.user.avatar_media %}
                    <span class="avatar" style="background-image: url(./static/files/{{user.user.user.avatar_media.file_url}});">
                      &nbsp;
                    </span>
                    {% else %}
                    <span class="avatar">
                      {{user.user.user.first_name[:1]}}
                    </span>
                    {% endif %}
                    <span class="names">{{user.user.user.first_name}} {{user.user.user.last_name}}</span>
                  </div>
                  <div class="col-xs-2">
                    {{user.role.role.name}}
                  </div>
                  <div class="col-xs-2">
                    {{user.user.created}}
                  </div>
                  <div class="col-xs-2">
                    {{user.alert_config.mode}}
                  </div>
                  <div class="col-xs-1">
                    <span class="badge badge-success inactive">{{user.user.user.status}}</span>
                  </div>
                  <div class="col-xs-1 action-btn">
                    <a href="/admin/settings/profile/{{user.user.user.id}}" class="btn btn-flat btn-sm btn-success btn-success-outline">View Profile</a>
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="accounts-tallies">
            <div class="row">
              <div class="col-sm-12 hidden">
                Showing 1 to 7 of 7
              </div>
            </div>
          </div>
        </section>
      </div>

      {% include '/shared/footer.html' %}
    </div>

    <script src="{{url_for('.static',filename='js/chartist.min.js')}}"></script>
    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/iCheck/icheck.min.js')}}"></script>
    <script>
      var customer_report;
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: 'icheckbox_minimal-green'
        });
      });
    </script>

  </body>
</html>
