<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Add Users</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=farm-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add user accounts
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../users';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Send emails</button>
          </span>
          <div class="clearing">&nbsp;</div>
        </section>
        <section class="content">
          <div class="user-form white-block shadow-outline">
            <h3>User accounts <span class="badge badge-default badge-user-count">1</span></h3>
            {% if FORM_ACTION_RESPONSE %}
            <div class="callout callout-{{FORM_ACTION_RESPONSE['type']}}">
              <p>{{FORM_ACTION_RESPONSE['message']}}</p>
            </div>
            {% endif %}

            <div class="meta-data">
              <p>Created date<br />
                <span class="date-today">{{data.today.strftime('%d %b %Y')}}</span>
              </p>
            </div>
            <div class="meta-data">
              <p>Created by<br />
                <span class="date-today">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</span>
              </p>
            </div>
            <div class="meta-data">
              <p>Alert subscription<br />
                <span class="date-today">Email & SMS</span>
              </p>
            </div>
            <hr class="separator"/>
            <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
              <div class="row headers">
                <div class="col-sm-2">Full name</div>
                <div class="col-sm-2">Employee ID</div>
                <div class="col-sm-2">Role</div>
                <div class="col-sm-2">Email ID</div>
                <div class="col-sm-2">Password</div>
                <div class="col-sm-2">&nbsp;</div>
              </div>
              <div class="users-to-add">
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-success btn-flat btn-add-user">+ Add user account</a>
                </div>
              </div>
            </form>
            <div class="hidden">
              <div class="user-fields">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <input type="text" placeholder="Enter full name" class="form-control" name="full_name[]" required="required">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <input type="text" placeholder="Enter employee ID" class="form-control" name="employee_id[]" required="required">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      
                      <select class="form-control select2 select2-hidden-accessible" name="role[]" style="width: 100%;" aria-hidden="true">
                      {% for role in ROLES %}
                    
                      <option value="{{role.id}}"{% if role.id == role %} selected="selected"{% endif %}>{{role.name}}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <input type="email" placeholder="Enter email ID" class="form-control" name="email_id[]" required="required">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <input type="text" placeholder="Enter password" class="form-control" name="password[]" required="required">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row" onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
      $(function(){

        add_user_row();
        $(".btn-add-user").on("click", function(){
          add_user_row();
        });
      });

      function add_user_row() {
        $(".users-to-add").append($(".user-fields .row").clone());
        $(".users-to-add .select2").select2();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".users-to-add").find(".row").length);
      }

      function submit_form() {
          $("form[name='frm_user']").submit();
      }
    </script>

  </body>
</html>
