<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/iCheck/all.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">Users & invites <span class="badge badge-default">{{INVITEDUSERS|list|length}}</span></h1>

          <div class="actions text-right pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add users</button>
              <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>

              <ul class="dropdown-menu btn-list-sm-text" role="menu">
                <li><a href="./users/add"> + Add a users account</a></li>
                <li><a href="./users/bulk"> + Bulk upload accounts</a></li>
              </ul>
            </div>
          </div>

          <div class="clearfix">&nbsp;</div>
          <div class="row search-users">
            <div class="col-sm-1">
              <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
            </div>
            <div class="col-sm-11">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by employee ID/employee name" class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="row tallies">
            <div class="col-sm-12">
              <div class="tally tally-invites mb-3">
                <p>
                  {{INVITEDUSERS|list|length}}<br />
                  <span class="inverse">Total invites</span>
                </p>
              </div>
              <div class="tally tally-active mb-3">
                <p>
                  {{INVITEDUSERS|selectattr('user.status','equalto','Active')|list|length}}<br />
                  <span class="inverse">Total active</span>
                </p>
              </div>
              <div class="tally tally-inactive mb-3">
                <p>
                  {{INVITEDUSERS|selectattr('user.status','equalto','Inactive')|list|length}}<br />
                  <span class="inverse">Total inactive</span>
                </p>
              </div>
            </div>
          </div>

          <div class="row accounts">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table section-table section-table-header user-invites-table-header accounts-records">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="" value="" class="minimal" /> &nbsp;</th>
                      <th>EMPLOYEE ID</th>
                      <th class="w-220">USER NAME</th>
                      <th class="w-150">ROLE</th>
                      <th>DATE & CREATED BY</th>
                      <th>ALERT SUBSCRIPTION</th>
                      <th>STATUS</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr data-toggle="collapse" data-target="#account-alerts" class="accordion-toggle">
                      <td colspan="9" class="no-border">
                        <h2> Account invites <span class="badge badge-default">{{INVITEDUSERS|length}}</span></h2>
                      </td>
                    </tr>
                    {% for invite in INVITES %}
                    <tr>
                      <td colspan="9" class="hidden-table-row">
                        <div class="accordian-body collapse in" id="account-alerts">
                          <table class="table accounts-records accounts-records-invites">
                            <tbody>
                              <!-- <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-120">-</td>
                                <td>
                                  <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> John Handon</span>
                                </td>
                                <td>Agronomist</td>
                                <td>12 Nov 2020</td>
                                <td>Email & SMS</td>
                                <td><span class="badge active">Active</span></td>
                                <td><a href="./profile" class="btn btn-success btn-success-outline btn-flat">View profile</a></td>
                                <td>
                                  <div class="table-dropdown dropdown">
                                    <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    
                                      <i class="fa fa-ellipsis-v"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                      <li><a href="#" class="red-link">Deactivate account</a></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr> -->

                              <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-120">{{invite.user.user.employee_id}}</td>
                                <td>
                                  <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> {{invite.user.user.first_name}} {{invite.user.user.last_name}}</span>
                                </td>
                                <td>{{invite.role.role.name}}</td>
                                <td>{{invite.user.user.created}}</td>
                                <td>Email & SMS</td>
                                {% if invite.user.accept == 1 %}
                                <td><span class="badge active">Accepted</span></td>
                                {%else%}
                                <td><span class="badge active">Pending</span></td>
                                {%endif%}
                                <td><a href="./profile/{{invite.user.user.id}}" class="btn btn-success btn-success-outline btn-flat">View profile</a></td>
                                <td>
                                  <div class="table-dropdown dropdown">
                                    <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      
                                      <i class="fa fa-ellipsis-v"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                      <li><a href="#" class="red-link">Reject invite</a></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    {%endfor%}
                    

                    <tr data-toggle="collapse" data-target="#active accounts" class="accordion-toggle">
                      <td colspan="9">
                        <h2> Active accounts <span class="badge badge-default">{{INVITEDUSERS|selectattr('user.status','equalto','Active')|list|length}}</span></h2>
                      </td>
                    </tr>
                    
                    <tr>
                      <td colspan="9" class="hidden-table-row">
                        <div id="active accounts" class="accordian-body collapse in">
                          <table class="table accounts-records accounts-records-invites">
                            <tbody>
                              {% for actvacc in INVITEDUSERS %}
                              {% if actvacc.user.status == "Active" %}
                              <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-120"><span class="f-14-bold dark-grey-text">{{actvacc.employee_id}}</span></td>
                                <td>
                                  <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> {{actvacc.user.first_name}} {{actvacc.user.last_name}}</span>
                                </td>
                                <td>Customer User</td>
                                <td>{{actvacc.user.created}}</td>
                                <td>Email & SMS</td>
                                <td><span class="badge active">{{actvacc.user.status}}</span></td>
                                <td><a href="./profile/{{actvacc.user.id}}" class="btn btn-success btn-success-outline btn-flat">View profile</a></td>
                                <td>
                                  <div class="table-dropdown dropdown">
                                    <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      
                                      <i class="fa fa-ellipsis-v"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                      <li><a href="./deactivate/{{actvacc.user.id}}" class="red-link">Deactivate account</a></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              {% endfor %}
                             
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                   

                    <tr data-toggle="collapse" data-target="#inactive-accounts" class="accordion-toggle">
                      <td colspan="9">
                        <h2> Inactive Accounts <span class="badge badge-default">{{INVITEDUSERS|selectattr('user.status','equalto','Inactive')|list|length}}</span></h2>
                      </td>
                    </tr>
                    {% for actvacc in INVITEDUSERS %}
                    {% if actvacc.user.status == "Inactive" %}
                    <tr>
                      <td colspan="9" class="hidden-table-row">
                        <div id="inactive-accounts" class="accordian-body collapse in">
                          <table class="table accounts-records accounts-records-invites">
                            <tbody>
                              <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-120"><span class="f-14-bold dark-grey-text">{{actvacc.employee_id}}</span></td>
                                <td>
                                  <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> {{actvacc.user.first_name}} {{actvacc.user.last_name}}</span>
                                </td>
                                <td>Customer User</td>
                                <td>{{actvacc.user.created}}</td>
                                <td>Email & SMS</td>
                                <td><span class="badge inactive">{{actvacc.user.status}}</span></td>
                                <td><a href="./profile/{{actvacc.user.id}}" class="btn btn-success btn-success-outline btn-flat">View profile</a></td>
                                <td>
                                  <div class="table-dropdown dropdown">
                                    <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                     
                                      <i class="fa fa-ellipsis-v"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                      <li><a href="./activate/{{actvacc.user.id}}" class="green-link">Activate account</a></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accounts-tallies">
            <div class="row">
              <div class="col-sm-12">
                Showing 1 to 7 of 7
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/iCheck/icheck.min.js')}}"></script>
    <script>
      $(function () {
        // $("#_customers").DataTable();
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: 'icheckbox_minimal-green'
        });

        $("#add_users").on("change", function(){
          var val = $(this).val();
          if (val != "") {
            document.location.href = "/customer/settings/users/add?" + val
          }
        });

      });
    </script>

  </body>
</html>
