<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Device types -Synnefa FarmCloud</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% include '/shared/base-style-links.html' %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
  <div class="wrapper">

    {% include '/shared/header.html' %}

    {% include '/shared/main-sidebar.html' %}

    <div class="content-wrapper">
      <section class="content-header">
        <div class="mb-4">
          <a href="./device-types" class="btn btn-light-green btn-flat"> <i class="fa fa-chevron-left pr-2"></i>Devices</a>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h1>Device types</h1>
          </div>

          <div class="col-sm-3">
            <div class="float-sm-right">
              <button type="button" class="btn btn-success btn-success-outline btn-flat mt-sm-4" data-toggle="modal"
                data-target="#add-greenhouse"><i class="fa fa-plus pr-2"></i> Add type</button>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table custom-normal-table accounts-records">
                <thead>
                  <tr>
                    <th>TYPE NAME</th>
                    <th>DESCRIPTION</th>
                    <th>PRODUCT LINKS</th>
                    <th colspan="2">CREATED BY & DATE</th>
                  </tr>
                </thead>
                <tbody>
                  {% for device in DEVICE %}
                  <tr>
                    <td><span class="f-14-bold dark-grey-text">{{device.name}}</span></td>
                    <td class="max-350 responsive-wrap">
                      {{device.description}}
                    </td>
                    <td><a href="#" class="blue-link">{{device.info_link}}</a></td>
                    <td>
                      <span class="avatar" style="background-image: url(../../assets/img/avatar.png);">
                        &nbsp;
                      </span>
                      <span class="names">
                        {{device.created_by.first_name}} {{device.created_by.last_name}}
                        <span class="date">{{device.created}}</span>
                      </span>
                    </td>

                    <td>
                      <a href="" class="btn btn-success btn-success-outline btn-flat mr-3" data-toggle="modal"
                        data-target="#edit-device">Edit</a>
                      <a href="./device-types/delete/{{device.id}}" class="btn btn-success btn-danger-outline btn-flat">Remove</a>
                    </td>
                  </tr>

                  {% endfor %}


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

    </div>

    {% include '/shared/footer.html' %}

    <!-- Add Device -->

    <div class="modal fade custom-modal" id="add-greenhouse" tabindex="-1" role="dialog"
      aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Add device type</h3>
              </div>
            </div>
          </div>
          <div class="modal-body pl-3 pr-1">
            <form>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Type name</label>
                    <input type="text" class="form-control" id="device-name" placeholder="Firmshield Pro" />
                  </div>
                </div>

                <!-- <div class="col-lg-3">
                    <div class="form-group">
                      <label>Size of greenhouse</label>
                      <input type="text" class="form-control" id="" placeholder="10ft x10ft" />
                    </div>
                  </div> -->

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Product links</label>
                    <input type="text" class="form-control" id="device-link" placeholder="1223143243//ss" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 mb-4">
                  <label class="f-12-light light-grey-text">Creation date</label>
                  <div class="meta-data-sm">
                    <span class="f-12-medium">{{data.utc_date.strftime('%d %B %Y')}}</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control"id="device-desc" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success btn-add-device">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- EdiDevice -->

    <div class="modal fade custom-modal" id="edit-greenhouse" tabindex="-1" role="dialog"
      aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Edit greenhouse type</h3>
              </div>
            </div>
          </div>
          <div class="modal-body pl-3 pr-1">
            <form>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Type name</label>
                    <input type="text" class="form-control" id="device-name" placeholder="Firmshield Pro" />
                  </div>
                </div>

                <!-- <div class="col-lg-3">
                  <div class="form-group">
                    <label>Size of greenhouse</label>
                    <input type="text" class="form-control" id="" placeholder="10ft x10ft" />
                  </div>
                </div> -->

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Product links</label>
                    <input type="text" class="form-control" id="" placeholder="1223143243//ss" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include '/shared/base-js.html' %}

  </script>
  <script>

    $(function () {

      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

      $(".modal").find("button.btn-add-device").on("click", function () {

        var name = $(".modal").find("#device-name").val().trim();
       
        var info_link = $(".modal").find("#device-link").val().trim();
        var description = $(".modal").find("#device-desc").val().trim();
        if (name != "" && info_link != "" && description != "") {
          //add_type(fields)
          add_dtype(name,info_link, description);

          $('#add-greenhouse').modal('hide');

          location.reload();
        }

        else {

          alert("Field Missing!");
        }
       })


    });



    function add_dtype(type_name,type_link, type_desc) {
      if (type_name != undefined) {
        $.post(
          "./device-types",
          {
            "action": "add_devices",
            "name": type_name,
            "info_link": type_link,
            "description": type_desc
          },


        );
      }
    }




  </script>

</body>

</html>