<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud Dashboard </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Theme style -->
    {% include '/shared/base-style-links.html' %}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

        {% include '/shared/header.html' %}

        {% include '/shared/main-sidebar.html' %}
    <div class="wrapper">


      <div class="container">

        <section class="content-header">
          <div class="row">
            <div class="col-xs-12">
              <!-- <div class="mb-4">
                <a href="./../././" class="btn btn-light-green btn-flat"  onclick="deactivate_account();"> <i class="fa fa-chevron-left pr-2"></i>Customer Panel</a>
              </div> -->
              <h1></h1>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-sm-12">
            <img src="{{url_for('.static',filename='img/illuminum_logo_color.png')}}" width="125"><br />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="login-box">
            <div class="">
              <div class="col-sm-12 text-center">
                <h2 class="text-danger">Customer deactivated successfully </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include '/shared/base-js.html' %}
  </body>
</html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud Dashboard </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Theme style -->
    {% include '/shared/base-style-links.html' %}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

        {% include '/shared/header.html' %}

        {% include '/shared/main-sidebar.html' %}
    <div class="wrapper">


      <div class="container">

        <section class="content-header">
          <div class="row">
            <div class="col-xs-12">
              <!-- <div class="mb-4">
                <a href="./../././" class="btn btn-light-green btn-flat"  onclick="deactivate_account();"> <i class="fa fa-chevron-left pr-2"></i>Customer Panel</a>
              </div> -->
              <h1></h1>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-sm-12">
            <img src="{{url_for('.static',filename='img/illuminum_logo_color.png')}}" width="125"><br />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="login-box">
            <div class="">
              <div class="col-sm-12 text-center">
                <h2 class="text-danger">Greenhouse Type Deleted successfully </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include '/shared/base-js.html' %}
  </body>
</html>
