<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Greenhouse</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add greenhouse
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>Greenhouse <span class="badge badge-default badge-user-count">1</span></h3>
                  </div>
                  <div class="col-lg-2 col-sm-4">
                    <a href="./bulk" class="btn btn-success btn-sm btn-success-outline btn-flat float-md-right">Greenhouse bulk upload</a>
                  </div>
                </div>

                {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                <div class="row mt-3">
                  <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Created date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>

                  <div class="col-lg-2 col-md-3 col-sm-4 pl-sm-0">
                    <div class="meta-data">
                      <p>
                        Created by<br />
                        <span class="date-today">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-5 pl-sm-0">
                    <div class="meta-data">
                      <p>
                        Greenhouse status<br />
                        <span class="date-today">Active</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator" />

                <form name="frm_green" action="" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="row headers mt-3">
                    <div class="col-sm-1">&nbsp;</div>
                    <div class="col-sm-2 pl-sm-0">Greenhouse type *</div>
                    <div class="col-sm-2 pl-sm-0">Greenhouse size *</div>
                    <!-- <div class="col-sm-2 pl-sm-0">Select devices to add</div> -->
                    <div class="col-sm-3 pl-sm-0">Product links</div>
                    <div class="col-sm-2 pl-sm-0">Greenhouse ID</div>
                    <div class="col-sm-1">&nbsp;</div>
                  </div>

                  <div class="greenhouse-to-add"></div>

                  <div class="row">
                    <div class="col-sm-12">
                      <a href="#" class="btn btn-success btn-flat btn-add-greenhouse"> <i class="fa fa-plus pr-2"></i> Add greenhouse</a>
                    </div>
                  </div>

                  <div class="hidden">
                    <div class="greenhouse-fields">
                      <div class="row">
                        <div class="square-edit relative">
                          <i class="fa fa-pencil"></i>
                          <span class="square-sm square-sm-green square-sm-text-bottom">G</span>
                        </div>
                        
                        <div class="col-sm-2 pl-sm-0">
                          <div class="form-group">

                            <select name="greenhouse_type_id[]" class="form-control select2" required="required">
                              {% for type in TYPESS %}
                              <option value="{{type.id}}"{% if type.id == MULTIGREEN.greenhouse_type_id %} selected="selected"{% endif %}>{{type.name}}</option>
                              {% endfor %}
                            </select>
                      
                            <!-- <select name="greenhouse_type_id[]" class="form-control select2 green-bg" required="required">
                              <option value="" selected="selected">Test</option>
                            </select> -->
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0">
                          <div class="form-group has-feedback">
                           
                            <input type="text" placeholder="21ft x 21ft"  class="form-control" name="size[]" required="required" />
                              
                          
                          </div>
                        </div>
                        
                        <!-- <div class="col-sm-2 pl-sm-0">
                          <div class="form-group">
                            <select name="device_id[]" class="form-control select2" required="required">
                              {% for type in TYPESS %}
                              <option value="" selected="selected">D-10004, D-10005</option>
                              {%endfor%}
                            </select>
                          </div>
                        </div> -->
                        <div class="col-sm-3 pl-sm-0 ">
                          <div class="form-group">
                            <input href="#" type="text" placeholder="https://www.greenhouselink.xyz.com" class="form-control blue-link underline" name="info_link[]" required="required" />
                            <!-- <a href="#" class="blue-link underline" name="info_link">321423454565//2</a> -->
                          </div>
                         
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          
                          <div class="form-group has-feedback">
                            <input type="text" id="greenhouse_ref[]" name="greenhouse_ref[]" class="form-control" value="GH-XXXXX" required="required" autofocus></input>
                           
                          </div>
                        </div>
                        <div class="col-lg-1 col-sm-1 pl-xl-0">
                          <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}

    </div>

    {% include '/shared/base-js.html' %}
    <script>
       var greenh = {{MULTIGREEN|tojson}};
      $(function () {
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
        if (greenh.length == 0) {
            add_greenhouse_row();
          }
        else {
          $.each(greenh, function(k,v){
              add_greenhouse_row_with_data(v);
          });
          add_greenhouse_row();
        }

        $(".btn-add-greenhouse").on("click", function () {
          add_greenhouse_row();
        });

      });

      function add_greenhouse_row() {
        $(".greenhouse-to-add").append($(".greenhouse-fields .row").clone());
        $(".greenhouse-to-add .select2").select2();

        update_tally();
      }


      function add_greenhouse_row_with_data(data) {
        var fields = $(".greenhouse-fields .row").clone();

        fields.find(".col-sm-2:nth-child(1) input").val(data.greenhouse_ref);
        fields.find(".col-sm-2:nth-child(2) input").val(data.size);
        fields.find(".col-sm-2:nth-child(4) input").val(data.info_link);
        fields.find(".col-sm-2:nth-child(5) select").val(greenhouse_type_id);

        $(".greenhouse-to-add").append(fields);
        $(".greenhouse-to-add .select2").select2();

        // add_user_row();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".greenhouse-to-add").find(".row").length);
      }

    

      function submit_form() {
          $("form[name='frm_green']").submit();
      }

    </script>

  </body>
</html>
