<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Greenhouse types -Synnefa FarmCloud</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   
    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <form name="edit_green_type" action="" method="post" enctype="application/x-www-form-urlencoded">

      <div class="content-wrapper">
        <section class="content-header">
          <div class="mb-4">
            <a href="./" class="btn btn-light-green btn-flat"> <i class="fa fa-chevron-left pr-2"></i>Greenhouses</a>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <h1>Greenhouse types</h1>
            </div>
                {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

            <div class="col-sm-3">
              <div class="float-sm-right">
                <button type="button" class="btn btn-success btn-success-outline btn-flat mt-sm-4" data-toggle="modal" data-target="#add-greenhouse"><i class="fa fa-plus pr-2"></i> Add type</button>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table custom-normal-table accounts-records">
                  <thead>
                    <tr>
                      <th>TYPE NAME</th>
                      <th>DESCRIPTION</th>
                      <th>SIZE</th>
                      <th>PRODUCT LINKS</th>
                      <th colspan="2">CREATED BY & DATE</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for type in TYPES %}
                    <tr>
                      <td><span class="f-14-bold dark-grey-text">{{type.name}}</span></td>
                      <td class="max-350 responsive-wrap">
                        {{type.description}}
                      </td>
                      <td> {{type.size}}</td>
                      <td><a href="#" class="blue-link"> {{type.info_link}}</a></td>
                      <td>
                        <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                          &nbsp;
                        </span>
                        <span class="names">
                          {{type.created_by.first_name}} {{type.created_by.last_name}}
                          <span class="date">{{type.created}}</span>
                        </span>
                      </td>
                     
                      <td>

                       
                        <button type="button" id ="{{type.id}}" t_name="{{type.name}}" t_desc ="{{type.description}}" t_size="{{type.size}}" t_info="{{type.info_link}}" data-id="1" class="myclass btn btn-success btn-success-outline btn-flat mr-3" data-toggle="modal" data-target="#edit-greenhouse"> Edit</button>
                        
                        <button  id="delete_type" name ="delete_type" value="{{ type.id }}" type="submit" class="btn btn-success btn-danger-outline btn-flat" onclick="submit_form();">Remove</button>
                        <!-- href="greenhouse-types/delete/{{type.id}}" -->
                      </td>
                   
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    

      {% include '/shared/footer.html' %}

      <!-- Add Greenhouse -->

      <div class="modal fade custom-modal" id="add-greenhouse" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Add greenhouse type</h3>
                </div>
              </div>
            </div>
            <div class="modal-body pl-3 pr-1">
              <form>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Type name</label>
                      <input type="text" class="form-control" id="type-name" placeholder="Mwanzishi" />
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Size of greenhouse</label>
                      <input type="text" class="form-control" id="type-size" placeholder="10ft x10ft" />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Product links</label>
                      <input type="text" class="form-control" id="type-link" placeholder="1223143243//ss" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 mb-4">
                    <label class="f-12-light light-grey-text">Creation date</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium">{{data.utc_date.strftime('%d %B %Y')}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Description</label>
                      <!-- <input type="text" class="form-control" id="type-desc" rows="3" placeholder="" /> -->
                      <textarea style="resize: none;"class="form-control"id="type-desc" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button"  class="btn btn-sm btn-success btn-add-green">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- EdiGreenhouse -->

      <div class="modal fade custom-modal" id="edit-greenhouse" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Edit Greenhouse type</h3>
                </div>
              </div>
            </div>
            <div class="modal-body pl-3 pr-1">
             
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Type name</label>
                      <input type="text" class="form-control" name="type-edit-name" id="type-edit-name" placeholder="Mwanzishi" />
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Size of greenhouse</label>
                      <input type="text" class="form-control" name="type-edit-size" id="type-edit-size" placeholder="10ft x10ft" />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Product links</label>
                      <input type="text" class="form-control" name="type-edit-link" id="type-edit-link" placeholder="1223143243//ss" />
                    </div>
                  </div>
               

                
                  <div class="col-xs-12">
                    <div class="form-group" >
                      <label>Description</label>
                      <input class="form-control" name ="type-edit-desc" id="type-edit-desc" rows="2"></input>
                    </div>
                  </div>

                </div>
                
              
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success btn-update-green">Update</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    </div>

    {% include '/shared/base-js.html' %}
    <!-- <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script> -->



<script>
  
  $(function () { 


    $(".modal").find("button.btn-add-green").on("click", function(){
        
          var name = $(".modal").find("#type-name").val().trim();
          var size = $(".modal").find("#type-size").val().trim();
          var info_link = $(".modal").find("#type-link").val().trim();
          var description = $(".modal").find("#type-desc").val().trim();
          if (name != "" && size != "" && info_link != "" && description != ""){
          //add_type(fields)
          add_type(name,size,info_link,description);

          $('#add-greenhouse').modal('hide');

          location.reload(); 
          }

          else
            {  
                                
              alert("Field Missing!");    
            }  

         
          
        });



    

$('.myclass').click(function(){
 var btn_id =  $(this).attr('id'); //getting the btn's id
 var name_ty = $(this).attr('t_name');
 var desc_ty = $(this).attr('t_desc');
 var size_ty =  $(this).attr('t_size');
 var link_ty = $(this).attr('t_info');
//  alert(btn_id)

$(".modal").find('#type-edit-name').val(name_ty)
$(".modal").find("#type-edit-size").val(size_ty);
$(".modal").find("#type-edit-desc").val(desc_ty);
$(".modal").find("#type-edit-link").val(link_ty);



$(".modal").find("button.btn-update-green").on("click", function(event){
         
         var name1 = $(".modal").find("#type-edit-name").val().trim();
        //  var name1 = $(".modal").find('#type-edit-name').val(name_ty);
         var size1 = $(".modal").find("#type-edit-size").val().trim();
         var info_link1 = $(".modal").find("#type-edit-link").val().trim();
         var description1 = $(".modal").find("#type-edit-desc").val().trim();
         var type_id1 = btn_id;
         //var idk = btn.data('edit_typez'); 
         //console.log(text + ' --> ' + type_id1);
         // var idk = $(e.relatedTarget).data('target-id');
        //  $("#id").val(event.name); 
        //  var id = $(this).data('id'); 
        //  alert(name1);
       
         if (name1 != ""){
         //add_type(fields)
        //  alert(name1);  
        //  console.log(recipient);
         edit_type(type_id1,name1,size1,info_link1,description1);
 
         $('#edit-greenhouse').modal('hide');
 
         location.reload(); 
         }
 
         else
           {  
                               
             alert("Field Missing!");    
           }  
 
        
         
       });
 
});


  




  // const deleteVenueBtn = document.getElementById("delete_type");
  // deleteVenueBtn.onclick = function(e) {
  //   const venueId = e.target.dataset["id"];
  //   console.log(`DELETE /greenhouse-types/delete/${venueId}`);
  //   fetch(`greenhouse-types/delete/${venueId}`, {
  //     method: "DELETE",

  //   }).then(response => {
  //       // HTTP 301 response
  //       // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
  //       if (response.redirected) {
  //           window.location.href = response.url;
  //       }
  //   })
  // };
     




  





        








 });  



          function add_type(type_name,type_size,type_link,type_desc) {
            if (type_name != undefined) {
          $.post(
            "./greenhouse-types",
            {
              "action": "add_types",
              "name": type_name,
              "size": type_size,
              "info_link": type_link,
              "description": type_desc
            },
            
            
          );
          }
      }


     


      function edit_type(type_id1,type_name1,type_size1,type_link1,type_desc1) {
            if (type_name1 != undefined) {
          $.post(
            "./greenhouse-types",
            {
              "action": "edit_types",
              "type_id": type_id1,
              "name1": type_name1,
              "size1": type_size1,
              "info_link1": type_link1,
              "description1": type_desc1
            },
            
            
          );
          }
      }


     


      function submit_form() {
          $("form[name='edit_green_type']").submit();
      }




</script>

  </body>
</html>
