<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Greenhouse</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add greenhouses
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <div class="content">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-4">
              <!-- <h5 class="mb-1 f-16-bold">CSV bulk upload</h5> -->


                <div class="input-group mt-4 mb-4">
                    <input type="text" class="form-control white-bg" readonly />
                    <label class="input-group-btn">
                      <span class="btn btn-success"> <input type="file" style="display: none;" multiple />Browse </span>
                    </label>
                  </div>
                  <span class="label label-info" id="upload-file-info"></span>
                  <p class="light-grey-text pt-0">Acceptable file types: CSV</p>
                  <p class="light-grey-text pt-0">Here is a<a href="#" class="green-link underline"> sample CSV format</a> </p>
            </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}

    </div>

    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });

        add_greenhouse_row();
        $(".btn-add-greenhouse").on("click", function () {
          add_greenhouse_row();
        });

      });

      function add_greenhouse_row() {
        $(".greenhouse-to-add").append($(".greenhouse-fields .row").clone());
        $(".greenhouse-to-add .select2").select2();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".greenhouse-to-add").find(".row").length);
      }

      function submit_form() {
        $("form[name='frm_user']").submit();
      }

    </script>

  </body>
</html>
