<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Screenhouse</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add Screenhouse
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>

        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline">
                <div class="row">
                  <div class="col-lg-10 col-sm-9">
                    <h3>Screenhouses <span class="badge badge-default badge-user-count">1</span></h3>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <a href="./bulk" class="btn btn-success btn-sm btn-success-outline btn-flat float-md-right" >Screenhouse Bulk upload</a>
                  </div>
                </div>

                {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
              {% endif %}

                <div class="row mt-3">
                  <div class=" col-lg-2 col-md-3  col-sm-4  ">
                    <div class="meta-data">
                      <p>Created date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>

                  <div class=" col-lg-2 col-md-3  col-sm-4   pl-sm-0">
                    <div class="meta-data">
                      <p>Created by<br />
                        <span class="date-today">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</span>
                      </p>
                    </div>
                  </div>
                    <div class=" col-lg-2 col-md-3  col-sm-4   pl-sm-0">
                      <div class="meta-data">
                        <p>Screenhouse Status<br />
                          <span class="date-today">Active</span>
                        </p>
                      </div>
                    </div>


                </div>
                <hr class="separator"/>

                <form name="frm_screen" action="" method="post" enctype="application/x-www-form-urlencoded">
                 <div class="row headers mt-3">
                   <div class="col-sm-3 pl-sm-0">Screenhouse size</div>
                   <div class="col-sm-3 pl-sm-0">Product links</div>
                   <div class="col-sm-2 pl-sm-0">Screenhouse ID</div>
                   <div class="col-sm-2">&nbsp;</div>
                 </div>

                 <div class="screenhouse-to-add">
                 </div>

                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-success btn-flat btn-add-screenhouse">+ Add Screenhouse</a>
                  </div>
                </div>

                <div class="hidden">
                        <div class="screenhouse-fields">
                          <div class="row">
                            <div class="col-sm-3 ">
                              <div class="form-group">
                                  <input type="text" placeholder="10M X 10M" class="form-control" name="size[]" required="required">
                              </div>
                            </div>
                            <div class="col-sm-3 pl-sm-0">
                              <div class="form-group">
                                <input type="text" placeholder="https://www.screenhouselink.xyz.com" class="form-control" name="info_link[]" required="required">
                              </div>
                            </div>
                            <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                               
                                <div class="form-group">
                                  <input type="text" placeholder="SH-0012" class="form-control" name="screenhouse_ref[]" required="required" />
                                </div>
                               
                            </div>
                            <div class="col-sm-1  pl-sm-0">
                              <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>

                </form>


              </div>
            </div>
          </div>
        </div>

      </div>

      {% include '/shared/footer.html' %}

    </div>

    {% include '/shared/base-js.html' %}
    <script>
      var screenh = {{SCREENHS|tojson}};

      $(function () {
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
        if (screenh.length == 0) {
            add_screenhouse_row();
          }
        else {
          $.each(screenh, function(k,v){
              add_screenhouse_row_with_data(v);
          });
          add_screenhouse_row();
        }

        $(".btn-add-screenhouse").on("click", function () {
          add_screenhouse_row();
        });

      });




      function add_screenhouse_row() {
        $(".screenhouse-to-add").append($(".screenhouse-fields .row").clone());
        $(".screenhouse-to-add .select2").select2();

        update_tally();
      }


      function add_screenhouse_row_with_data(data) {
        var fields = $(".screenhouse-fields .row").clone();

        fields.find(".col-sm-2:nth-child(1) input").val(data.screenhouse_ref);
        fields.find(".col-sm-2:nth-child(2) input").val(data.size);
        fields.find(".col-sm-2:nth-child(4) input").val(data.info_link);
        

        $(".screenhouse-to-add").append(fields);
        $(".screenhouse-to-add .select2").select2();

        

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".screenhouse-to-add").find(".row").length);
      }

    

      function submit_form() {
          $("form[name='frm_screen']").submit();
      }


     
    </script>

  </body>
</html>
