<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Invoice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="container">
        <div class="page-header">
            <h1>Invoice </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 body-main">
                    <div class="col-md-12">
                        
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>INVOICE ID</h2>
                                <h5>{{CUSTOMER.main_id}}-{{INVOICE.serial}}</h5>
                            </div>
                        </div> <br />
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <h5>Description</h5>
                                        </th>
                                        <th>
                                            <h5>Amount</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-9">Subscription</td>
                                        <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> {{INVOICE.net}} </td>
                                    </tr>
                                   
                                    
                                    <tr>
                                        <td class="text-right">
                                            <p> <strong>Shipment and Taxes:</strong> </p>
                                            <p> <strong>Total Amount: </strong> </p>
                                            <p> <strong>Discount: </strong> </p>
                                            <p> <strong>Payable Amount: </strong> </p>
                                        </td>
                                        <td>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{INVOICE.tax}}  Kes</strong> </p>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{INVOICE.net}}  Kes</strong> </p>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{INVOICE.deductions}}  Kes</strong> </p>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{INVOICE.net}}  Kes</strong> </p>
                                        </td>
                                    </tr>
                                    <tr style="color: #F81D2D;">
                                        <td class="text-right">
                                            <h4><strong>Total:</strong></h4>
                                        </td>
                                        <td class="text-left">
                                            <h4><strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{INVOICE.net}} KES </strong></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <p><b>Date :</b> {{INVOICE.created}}</p> <br />
                                <p><b>Signature</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script>
  </body>
</html>
