<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse profile">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            My Profile
          </h1>
          <span class="actions text-right pull-right visible-lg-block visible-md-block">
            <a class="btn btn-success btn-deactivate btn-flat" data-toggle="modal" data-target="#deactivate_account">Deactivate Account</a>
            <!-- <button class="btn btn-success btn-deactivate btn-flat" onclick="deactivate_account();">Deactivate Account</button> -->
          </span>
          <div class="clearing">&nbsp;</div>
        </section>
        <section class="content">
          <div class="row user">
            <div class="col-sm-2">
              <div class="white-block shadow-outline">
                <div id="active_user_avatar" class="avatar" style="background-image: url(/customer/static/{% if session.profile.user.avatar_media %}files/{{session.profile.user.avatar_media.file_url}}{% else %}img/avatar.png{% endif %});">&nbsp;</div>
                <div class="edit">
                  <a href="" data-toggle="modal" data-target="#change_avatar">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <div class="name">{{THISUSER.first_name}} {{THISUSER.last_name}}</div>
                <div class="role">{{session.profile.role.role.name}}</div>
                <div class="status">
                  <span class="badge bg-green disabled">{{THISUSER.status}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="detail white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Details</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button class="btn btn-flat btn-edit" data-toggle="modal" data-target="#edit_account">Edit</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Full name</p>
                      <p class="val">{{THISUSER.first_name}} {{THISUSER.last_name}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Employee ID</p>
                      <p class="val">E-{{CUSTOMER_REAL_DETTAILS.employee_id}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Role</p>
                      <p class="val">{{session.profile.role.role.name}}</p>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Password</p>
                      <p class="val"><a href="" class="reset-password" data-toggle="modal" data-target="#change_password">Reset</a></p>
                    </div>
                  </div>
                  <!-- <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Password <a class="reset-password">Reset</a></p>
                      <p class="val">*****</p>
                    </div>
                  </div> -->
                  <div class="col-sm-4">
                    <div class="data">
                      <p class="key">Email Address</p>
                      <p class="val">{{session.profile.user.email_address}}</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="data">
                      <p class="key">Phone number</p>
                      <p class="val">{{THISUSER.phone_number}}</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="data">
                      <p class="key">Additional alert subscription</p>
                      <p class="val">Email & SMS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row org">
            <div class="col-sm-12">
              <div class="details white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Customer ID - {{session.profile.org_number}} details</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button class="btn btn-flat btn-edit" data-toggle="modal" data-target="#edit_org">Edit</button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <h5>Basic details</h5>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="data">
                          <p class="key">Full name/Company</p>
                          <p class="val">{{CUSTOMERDETAILS.name}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Relationship manager</p>
                          {% if CUSTOMERDETAILS.igh_contact != {} %}
                          <p class="val">{{CUSTOMERDETAILS.igh_contact.user.first_name}} {{CUSTOMERDETAILS.igh_contact.user.last_name}}</p>
                          {% else %}
                          <p class="val">NA</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Registration date</p>
                          <p class="val">{{CUSTOMERDETAILS.created}}</p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="data">
                          <p class="key">Phone number</p>
                          <p class="val">{{CUSTOMERDETAILS.contact_person_id.phone_number}}</p>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="data">
                          <p class="key">Email address</p>
                          <p class="val">{{session.profile.user.email_address}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h5>Billing details</h5>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="data">
                          <p class="key">Type of sale</p>
                          <p class="val">Subscription</p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="data">
                          <p class="key">Billing amount</p>
                          <p class="val">{{SUBSCRIPTION.amount}} KES</p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="data">
                          <p class="key">Billing cycle date</p>
                          <div>
                            <a href="https://flutterwave.com/pay/farmcloud"
                            class="green-link underline pull-right">Bill Pay</a>
                          </div>
                          <p class="val">{{SUBSCRIPTION.cylce}}</p>
                          
                        </div>
                      
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Billing address</p>
                          <p class="val">{{CUSTOMERDETAILS.billing_address}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Shipping address</p>
                          <p class="val">{{CUSTOMERDETAILS.shipping_address}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row billing">
            &nbsp;
          </div>





          <div class="modal fade" id="edit_account" tabindex="-1" role="dialog" aria-labelledby="edit_account_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Edit customer details</h3>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Registration date</p>
                        <p class="val">{{session.profile.user.created}}</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Relationship manager</p>
                        {% if CUSTOMERDETAILS.igh_contact != {} %}
                        <p class="val">{{CUSTOMERDETAILS.igh_contact.user.first_name}} {{CUSTOMERDETAILS.igh_contact.user.last_name}}</p>
                        {% else %}
                        <p class="val">NA</p>
                        {% endif %}

                      </div>
                    </div>
                    
                   
                   
                  </div>
                  <div class="row">
                    <div class="col-sm-6" >
                      <div class="form-group">
                        <label for="account_name">Full name</label>
                        <input  type="text" placeholder="Enter name" class="form-control" name="account_name" pattern="[a-zA-Z][a-zA-Z ]{2,}" id="account_name" required="required" value="{{session.profile.user.first_name}} {{session.profile.user.last_name}}">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="account_phone_number">Phone number</label>
                        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength=12 pattern="[0-9]*+" inputmode="numeric" placeholder="Enter phone number" class="form-control" name="account_phone_number" id="account_phone_number" required="required" value="{{session.profile.user.phone_number}}">
                      </div>
                    </div>
                  
                  
                   
                  </div>
                </div>
                <div class="modal-footer">
                  <span class="actions text-right pull-right">
                    <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success btn-flat btn-account-update-cdetails">Save</button>
                  </span>
                </div>
              </div>
            </div>
          </div>


         


          <div class="modal fade" id="edit_org" tabindex="-1" role="dialog" aria-labelledby="edit_org_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Edit customer ID - {{session.profile.org_number}} details</h3>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Registration date</p>
                        <p class="val">{{session.profile.user.created}}</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Relationship manager</p>

                        
                        {% if CUSTOMERDETAILS.igh_contact != {} %}
                        <p class="val" name="igh_cont" id="igh_cont">{{CUSTOMERDETAILS.igh_contact.user.first_name}} {{CUSTOMERDETAILS.igh_contact.user.last_name}}</p>
                        {% else %}
                        <p class="val">NA</p>
                        {% endif %}

                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Billing cycle date</p>
                        <p class="val">{{SUBSCRIPTION.cylce}}</p>
                       
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Type of sale</p>
                        <p class="val">Subscription</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="data">
                        <p class="key">Cost of sale</p>
                        <p class="val">Kes {{SUBSCRIPTION.amount}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3" >
                      <div class="form-group">
                        <label for="org_name">Full name/Company</label>
                        <input  type="text" placeholder="Enter name" class="form-control" name="org_name" id="org_name" required="required" value="{{session.profile.staff_info.customer.name}}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="tel" pattern="[0-9]*+" inputmode="numeric" placeholder="Enter phone number" class="form-control" name="phone_number" id="phone_number" required="required" value="{{session.profile.user.phone_number}}">
                      </div>
                    </div>
                    <!-- <div class="col-sm-3">
                      <div class="form-group">
                        <label for="email_address">Email address</label>
                        <input type="email" placeholder="Enter email address" class="form-control" name="email_address" id="email_address" required="required" value="{{session.profile.email_address}}">
                      </div>
                    </div> -->
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="billing_address">Billing address</label>
                        <input type="text" placeholder="Enter billing address" class="form-control" name="billing_address" id="billing_address" required="required" value="{{session.profile.staff_info.customer.billing_address}}">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="shipping_address">Shipping address</label>
                        <input type="text" placeholder="Enter shipping address" class="form-control" name="shipping_address" id="shipping_address" required="required" value="{{session.profile.staff_info.customer.shipping_address}}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <span class="actions text-right pull-right">
                    <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success btn-flat btn-update-cdetails">Save</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    <div class="modal fade" id="change_avatar" tabindex="-1" role="dialog" aria-labelledby="change_avatar_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Avatar</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <input type="file" accept="image/*,.jpg,.jpeg,.png" name="avatar_file" />
              </div>
              <div class="col-sm-6">
                <div class="avatar-view">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat"  onclick="change_avatar($(this));">Save</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <form name="frm_deactivate" action="" method="post" enctype="application/x-www-form-urlencoded">

    <div class="modal fade" id="deactivate_account" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
      <div class="modal-dialog" role="document" style="width: 425px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Deactivate Account !</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="errors hidden" style="margin-bottom: 10px;">
                  <span class="label label-danger">Deactivate Account !</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  
                  <input type="hidden" value="{{session.profile.user.id}}" name="user_id" required="required">Are you sure?</input>
                </div>
              </div>
             
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat" onclick="deactivate_form();" >Yes</button>
            </span>
          </div>
        </div>
      </div>
    </div>

  </form>



    <div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
      <div class="modal-dialog" role="document" style="width: 425px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Password</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="errors hidden" style="margin-bottom: 10px;">
                  <span class="label label-danger">Failed!</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="new_password">New password</label>
                  <input type="password" class="form-control" name="new_password" id="new_password" required="required">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" required="required">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat" onclick="change_password($(this));">Update</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>

      $(".select2").select2();

      $(function () {
        $("#_customers").DataTable();




$(".modal").find("button.btn-update-cdetails").on("click", function () {

var _org_name = $(".modal").find("#org_name").val();
var _phone_number = $(".modal").find("#phone_number").val();
var _email_address = $(".modal").find("#email_address").val();
var _billing_address = $(".modal").find("#billing_address").val();
var _shipping_address = $(".modal").find("#shipping_address").val();
// var _igh_contact = $(".modal").find("#igh_cont").val();
// alert(_igh_contact)



if (_org_name != "") {
  update_customer_details(_org_name, _phone_number,_email_address,_billing_address, _shipping_address);

  $('#edit_org').modal('hide');

  location.reload();
}

else {

  alert("Field Missing!");
}

});






$(".modal").find("button.btn-account-update-cdetails").on("click", function () {

var _account_name = $(".modal").find("#account_name").val();
var _account_phone_number = $(".modal").find("#account_phone_number").val();




if (_account_name != "") {
  update_customer_account_details(_account_name,_account_phone_number);

  $('#edit_account').modal('hide');

  location.reload();
}

else {

  alert("Field Missing!");
}

});




 });





 function update_customer_account_details(_account_name, _account_phone_number) {
      if (_account_name != undefined) {
        $.post(
          "/customer/settings/profile",
          {
            "action": "edit_account",
            "account_name": _account_name,
            "account_phone_number": _account_phone_number,
          
          },


        );
      }
    }



 function update_customer_details(_org_name, _phone_number, _email_address, _billing_address,_shipping_address) {
      if (_org_name != undefined) {
        $.post(
          "/customer/settings/profile",
          {
            "action": "edit_org",
            "org_name": _org_name,
            "phone_number": _phone_number,
            "email_address": _email_address,
            "billing_address": _billing_address,
            "shipping_address": _shipping_address,
            // "igh_contact_relation": _igh_contact
           

          },


        );
      }
    }





      function update_customersss_details() {
        var org_name = $('#org_name').val();
        var phone_number = $('#phone_number').val();
        var email_address = $('#email_address').val();
        var billing_address = $('#billing_address').val();
        var shipping_address = $('#shipping_address').val();
        var org_id = "{{session.profile.org_id}}";
        

        $.post(
          "/customer/settings/profile",
          {
            org_name: org_name,
            phone_number:phone_number,
            email_address: email_address,
            billing_address: billing_address,
            shipping_address: shipping_address,
            org_id: org_id
          },
          function(resp){
            if (resp.type == 'success') {
              $('#edit_org').modal('toggle');
            }
          }
        );
      }





      function change_avatar(avatar_modal) {
        var new_avatar = avatar_modal.closest(".modal-content").find("input[name=avatar_file]")[0].files[0];
        if (new_avatar != undefined) {
          var formData = new FormData();
          formData.append("avatar", true);
          formData.append("image_file", new_avatar);
          $.ajax({
             url : './profile',
             type : 'POST',
             data : formData,
             processData: false,
             contentType: false,
             success : function(data) {
               if (data.status) {
                 $("#active_user_avatar").attr("style", "background-image: url(/customer/static/files/avatar/" + data.avatar + ")");
                 avatar_modal.closest(".modal-content").find("input[name=avatar_file]").val("");
                 $("#change_avatar").modal('toggle');
               }
             }
          });
        }
      }

      function change_password(password_modal) {
        var _elems = password_modal.closest(".modal-content");
        var new_password = _elems.find("#new_password").val();
        var confirm_password = _elems.find("#confirm_password").val();

        if (new_password != "" && new_password == confirm_password) {
          var formData = new FormData();

          _elems.find(".errors").addClass("hidden");
          _elems.find(".errors .label").text("");

          formData.append("password", true);
          formData.append("new_password", new_password);
          formData.append("confirm_password", confirm_password);

          $.ajax({
             url : './profile',
             type : 'POST',
             data : formData,
             processData: false,
             contentType: false,
             success : function(data) {
               if (data.status) {
                 $("#change_password").modal('toggle');
               } else {
                 console.log(data)
               }
             }
          });
        } else {
          _elems.find(".errors").removeClass("hidden");
          _elems.find(".errors .label").text("Identical new password and confirm password are needed to reset.");
        }
      }

      function deactivate_form() {
          $("form[name='frm_deactivate']").submit();
      }
    </script>

  </body>
</html>
