<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        
        <section class="content-header">
          <h1 class="pull-left">
            Activate Shadenet
          </h1>
          {% if FORM_ACTION_RESPONSE.type != 'success' %}
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../product-inventory';">Cancel</button>
            <button class="btn btn-success btn-flat" type="submit" id="btnSubmit" name="btnSubmit" onclick="submit_form();">Activate</button>
          </span>
          {%endif%}
        </section>
        <form name="frm_shad" action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Shadenet details</h3>
                  </div>
                </div>

                {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                <form action="" class="custom-form" action="" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Farm ID</label>
                        <select name="farm_type" class="form-control select2" required="required">
                          {% for farm in FARMS %}
                          <option value="{{farm.id}}"{% if farm.id == farm_type %} selected="selected"{% endif %}>{{farm.farm.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-3 hidden">
                      <div class="form-group">
                        <label>Assign greenhouses</label>
                        <select name="green_house" class="form-control select2" required="required">
                          {% for gr in CGREEN %}
                          <option value="{{gr.id}}" {% if gr.id == green_house %} selected="selected"{% endif %}>{{gr.greenhouse.greenhouse_ref}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>

                  <hr class="separator"/>
                  <div class="row mb-4">
                    <div class="col-sm-3">
                      <label>Shadenet ID</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">{{SHADNET.shadenet.shadenet_ref}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3 mb-4">
                      <label>Shadenet size</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">{{SHADNET.shadenet.size}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3 mb-4">
                      <label>Assigned by</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">{{SHADNET.created_by.first_name}} {{SHADNET.created_by.last_name}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3 mb-4">
                      <label>Assigned date</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">{{SHADNET.created}}</span>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <label>Shadenet status</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">{{SHADNET.shadenet.status}}</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>

      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions text-right pull-right">
          
          {% if FORM_ACTION_RESPONSE['type'] == 'success' %}
                 
                  
          <a  name ="submit_finish" class="btn btn-success btn-flat" onclick="document.location.href='../product-inventory';" >Done</a>

          {% endif %}
         
        </div>
      </footer>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });


    function submit_form() {
          $("form[name='frm_shad']").submit();
          //disable the submit button    
      }

   


     


     

     

      
  </script>
    </script>

  </body>
</html>
