<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Edit Greenhouse</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">
      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Edit Greenhouse
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>
            
            <button class="btn btn-success btn-flat" onclick="submit_form();">Update</button>
          </span>
        </section>
        <form name="user_type" action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> GREENHOUSE DETAILS</a></li>
              <li><a href="#">DEVICES</a></li>
              
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>1. Greenhouse details</h3>
                  </div>
                
                </div>


                <div class="row">
                    <div class="col-md-3 col-sm-4">
                      <div class="form-group custom-form">
                        <label>Farm ID</label>
                        <select name="farm_id" class="form-control select2 green-bg" required="required">
                         
                          <option value=""  selected="selected"></option>
                          
                        </select>
                      </div>
                    </div>
                  </div>

               
                <hr class="separator" />
                <div class="custom-form">
                  <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse ID</label>
                          <input type="text" name="greenhouse_id" class="form-control" value="" required="required">
                          
                        </div>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse Type</label>
                          <input type="text" name="greenhouse_type" class="form-control" value="" required="required">
                          
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse Size</label>
                          <input type="text" name="greenhouse_size" class="form-control"  value="" required="required">
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Spear ID</label>
                          <input type="text" name="spear_id" class="form-control" value="" required="required">
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Assigned By</label>
                          <input type="text" name="assign_by" class="form-control" value="" required="required">
                        </div>
                      </div>

                   
                    </div>



                    <div class="row">

                        <div class="col-md-3 col-sm-4">
                          <div class="form-group">
                            <label>Assigned Date</label>
                            <input type="text" name="assigned_date" class="form-control" value="" required="required">
                            
                          </div>
                        </div>
  
                        <div class="col-md-3 col-sm-4">
                          <div class="form-group">
                            <label>Greenhouse Status</label>
                            <input type="text" name="greenhouse_status" class="form-control"  value="" required="required">
                          </div>
                        </div>
  
                       
                     
                      </div>

                    {% if FORM_ACTION_RESPONSE %}
                    <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                    {% endif %}

                    
                    <hr class="separator" />

                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="f-14-bold dark-grey-text">Shield details</h6>
                      </div>
                    </div>

                  

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                              <label> Assign a shield to greenhouse</label>
                              <select name="name" id="name"class="form-control select2 green-bg" required="required">
                                <option value="Subscriptions" selected="selected">Subscription</option>
                              </select>
                            </div>
                          </div>
                        </div>

                    <div class="row">

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Assigned Shield ID</label>
                          <input type="text" name="farm_address" class="form-control green-bg">
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Assigned Shield ID</label>

                          <input type="text" id="farm_state" name="farm_state" class="form-control" >
            
                        </div>
                      </div>


                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Assigned Shield ID</label>

                          <input type="text" id="farm_city" name="farm_city" class="form-control" >
            
                        </div>
                      </div>
                    </div>

                   


                   


                    {% if FARM_ACTION_RESPONSE %}
                    <p class="resp-text text-{{FARM_ACTION_RESPONSE['type']}}">{{FARM_ACTION_RESPONSE['message1']}}</p>
                    {% endif %}

                    <hr class="separator" />

                   

                   

                   

                   
                  
                    <p class="resp-text text-"></p>
                   
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    

        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions text-right pull-right">
            
           
            <a href="" name ="register" class="btn btn-success btn-flat"  onclick="submit_form();">Next</a>
           
          </div>
        </footer>

      </form>
        {% include '/shared/footer.html' %}
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script>
     
      $(function () {

        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
        

        $('.datepicker').datepicker({
       startDate: '-3d'
        });


        function buttonState(){
    $("a").each(function(){
        $('#register').attr('disabled', 'disabled');
        if($(this).val() == "" ) return false;
        $('#register').attr('disabled', '');
    })
}

$(function(){
    $('#register').attr('disabled', 'disabled');
    $('input').change(buttonState);
})



       
   
     $.each(customer, function(k,v){
      add_customer_row_with_data(v);
     });
      });


  function add_customer_row_with_data(data) {
   var fields = $(".user-form .row").clone();

   fields.find(".col-md-3:nth-child(1) input").val(data.first_name);
   fields.find(".col-md-3:nth-child(2) input").val(data.phone_number);
   fields.find(".col-md-3:nth-child(3) input").val(data.email_address);
   fields.find(".col-md-3:nth-child(4) select").val(data.igh_contact_id);
   fields.find(".col-md-3:nth-child(5) select").val(data.billing_address);
   fields.find(".col-md-3:nth-child(6) select").val(data.shipping_address);
   fields.find(".col-md-3:nth-child(3) input").val(data.cylce);
   fields.find(".col-md-3:nth-child(3) input").val(data.amount);
   fields.find(".col-md-3:nth-child(3) select").val(data.name);
   
  
   // add_user_row();

   update_tally();



 }


 function submit_form() {
     $("form[name='user_type']").submit();
 }


</script>



  </body>
</html>
