<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Edit External Shield</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

  {% include '/shared/base-style-links.html' %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
  <div class="wrapper">
    {% include '/shared/header.html' %}

    {% include '/shared/main-sidebar.html' %}



    <div class="content-wrapper">
      <section class="content-header">
        <h1 class="pull-left">
          Edit External Shield
        </h1>
        <span class="actions text-right pull-right">
          <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>

          <button class="btn btn-success btn-flat" onclick="submit_form();">Activate</button>
        </span>
      </section>
      <form name="shield_type" action="" method="post" enctype="application/x-www-form-urlencoded">


        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>1. External Shield Details</h3>
                  </div>

                </div>


                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group custom-form">
                      <label>Farm ID</label>
                      <select name="farm_id" class="form-control select2 green-bg" required="required">

                        <option value="" selected="selected"></option>

                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="form-group custom-form">
                      <label>Greenhouse ID</label>
                      <select name="greenhouse_id" class="form-control select2 green-bg" required="required">

                        <option value="" selected="selected"></option>

                      </select>
                    </div>
                  </div>
                </div>


                <hr class="separator" />
                <div class="custom-form">

                  <div class="row">
                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Shield ID</label>
                        <input type="text" name="shield_id" class="form-control" value="" required="required">

                      </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Shield Type</label>
                        <input type="text" name="shield_type" class="form-control" value="" required="required">

                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Assigned By</label>
                        <input type="text" name="greenhouse_size" class="form-control" value="" required="required">
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Assigned Date</label>
                        <input type="text" name="spear_id" class="form-control" value="" required="required">
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Shield Status</label>
                        <input type="text" name="assign_by" class="form-control" value="" required="required">
                      </div>
                    </div>


                  </div>





                  {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                  {% endif %}


                  <hr class="separator" />

                  <div class="row">
                    <div class="col-xs-12">
                      <h6 class="f-14-bold dark-grey-text">Other details</h6>
                    </div>
                  </div>





                  <div class="row">

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Shield longitude</label>
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="shield_long" class="form-control green-bg">
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Shield latitude</label>

                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="shield_lat" name="shield_lat" class="form-control">

                      </div>
                    </div>


                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Growth area</label>
                        <div class="input-group custom-input-group">

                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="growth_area" name="growth_area" class="form-control">
                          <div class="input-group-addon right">sq.m</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                      <div class="form-group">
                        <label>Type of Soil</label>

                        <input type="text" id="soil_type" name="soil_type" class="form-control">

                      </div>
                    </div>

                  </div>












                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <level>Plant details</level>
          </div>

        </div>


        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline mt-3 mb-3">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>Plant <span class="badge badge-default badge-user-count">1</span></h3>
                  </div>

                </div>

                {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}





                <div class="row headerssmall mt-3">
                  <!-- <div class="col-sm-1">&nbsp;</div> -->
                  <div class="col-sm-1 pl-sm-0">Name of Plant</div>
                  <div class="col-sm-2 pl-sm-0">Start date</div>
                  <div class="col-xs-1 pl-sm-0">Variety of plant</div>
                  <div class="col-xs-2 pl-sm-0">Number of plant</div>
                  <div class="col-xs-2 pl-sm-0">Harvest Estimate</div>
                  <div class="col-sm-1 pl-sm-0">Planting period</div>
                  <div class="col-sm-1 pl-sm-0">production period</div>
                  <div class="col-sm-1 pl-sm-0">Harvest period</div>



                  <div class="col-sm-2">&nbsp;</div>
                </div>



                <div class="">
                  <div class="plant-fields">
                    <div class="row">

                      <!-- <div class="col-sm-1">&nbsp;</div> -->
                      <div class="col-sm-1 pl-sm-0">
                        <div class="form-group">

                          <input type="text" placeholder="Name" class="form-control" name="plant_name[]"
                            required="required" />


                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">

                          <input type="date" placeholder="" class="form-control" name="start_date[]"
                            required="required" />


                        </div>
                      </div>

                      <div class="col-sm-1 pl-sm-0">
                        <div class="form-group">

                          <input type="text" placeholder="Veriety" class="form-control" name="plant_variety[]"
                            required="required" />


                        </div>
                      </div>

                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">

                          <div class="input-group custom-input-group">

                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="number_plant[]"
                              required="required" />
                            <div class="input-group-addon right">seeds</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <div class="input-group custom-input-group">
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="harv_estimate[]"
                              required="required" />

                            <div class="input-group-addon right">kgs</div>
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-1 pl-sm-0">
                        <div class="form-group">

                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="planting_period[]"
                            required="required" />

                          <div class="input-group-addon right">Days</div>
                        </div>
                      </div>

                      <div class="col-sm-1 pl-sm-0">
                        <div class="form-group">

                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="prod_time[]"
                            required="required" />

                          <div class="input-group-addon right">Days</div>
                        </div>
                      </div>


                      <div class="col-sm-1 pl-sm-0">
                        <div class="form-group">

                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="harvest_period[]"
                            required="required" />

                          <div class="input-group-addon right">Days</div>
                        </div>
                      </div>




                      <div class="col-lg-1 col-sm-4 pl-xl-0">
                        <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4"
                          onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="greenhouse-to-add"></div>

                <div class="row">
                  <div class="col-sm-12">
                    <a href="#" class="btn btn-success btn-flat btn-add-greenhouse"> <i class="fa fa-plus pr-2"></i>
                      Add Plant</a>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <level>Shield Setting</level>
          </div>

        </div>



        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline mt-3 mb-3">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>Water Tank</h3>
                  </div>

                </div>

                {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}





                <div class="row headers mt-3">

                  <div class="col-sm-2 pl-sm-0">Total liters</div>
                  <div class="col-sm-2 pl-sm-0">Irrigation time(max)</div>
                  <div class="col-xs-2 pl-sm-0">Irrigation time(min)</div>
                  <div class="col-xs-2 pl-sm-0">Start time</div>
                  <div class="col-xs-2 pl-sm-0">End time</div>
                  <div class="col-sm-2 pl-sm-0">Interval period</div>




                  <!-- <div class="col-sm-2">&nbsp;</div> -->
                </div>



                <div class="">
                  <div class="greenhouse-fields">
                    <div class="row">


                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <div class="input-group custom-input-group">
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="tot_lit"
                              required="required" />
                            <div class="input-group-addon right">Lit</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <div class="input-group custom-input-group">
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="irrigation_max"
                              required="required" />

                            <div class="input-group-addon right">Hrs</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <div class="input-group custom-input-group">
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" placeholder="" class="form-control" name="irrigation_min"
                              required="required" />

                            <div class="input-group-addon right">Hrs</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">

                          <input type="time" placeholder="" class="form-control" name="start_irr_time"
                            required="required" />


                        </div>
                      </div>

                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">

                          <input type="time" placeholder="" class="form-control" name="end_irr_time"
                            required="required" />


                        </div>
                      </div>

                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">

                          <input type="text" placeholder="" class="form-control" name="interval_time"
                            required="required" />


                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <h6 class="recomeneded-green">Recommended: 1000L </h6>
                    </div>

                    <div class="col-md-4 ">
                      <h6 class="recomeneded-red">Recommended: 2hrs- 2hrs</h6>
                    </div>

                  </div>
                </div>






              </div>
            </div>
          </div>
        </div>





        <div class="content">
          <div class="row">
            <div class="row col-md-10 col-md-offset-1">
              <div class="col-md-4 user-form white-block shadow-outline mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-3 col-sm-3">
                    <h3>CO2</h3>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_co2" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_co2" class="form-control green-bg">
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <h6 class="recomeneded-green">Recommended: 400 </h6>
                  </div>
                </div>

              </div>



              <div class=" col-md-4 user-form white-block shadow-outline  mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h3>Air Temperature</h3>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_co2" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_co2" class="form-control green-bg">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 ">
                    <h6 class="recomeneded-green">Recommended: 26 </h6>
                  </div>
                </div>

              </div>
              <div class=" col-md-4 user-form white-block shadow-outline  mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h3>Air Humidity</h3>
                  </div>

                </div>
                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_co2" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_co2" class="form-control green-bg">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h6 class="recomeneded-green">Recommended: 53 % </h6>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>






        <div class="content">
          <div class="row">
            <div class="row col-md-10 col-md-offset-1">
              <div class="col-md-4 user-form white-block shadow-outline mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-3 col-sm-3">
                    <h3>Light</h3>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_light" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_light" class="form-control green-bg">
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <h6 class="recomeneded-green">Recommended: 400 Lux </h6>
                  </div>
                </div>

              </div>



              <div class=" col-md-4 user-form white-block shadow-outline  mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h3>Soil Temperature</h3>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_st" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_st" class="form-control green-bg">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 ">
                    <h6 class="recomeneded-green">Recommended: 26 </h6>
                  </div>
                </div>

              </div>
              <div class=" col-md-4 user-form white-block shadow-outline  mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h3>Soil Moisture</h3>
                  </div>

                </div>
                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_sm" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_sm" class="form-control green-bg">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h6 class="recomeneded-green">Recommended: 53 % </h6>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>




        <div class="content">
          <div class="row">
            <div class="row col-md-10 col-md-offset-1">
              <div class="col-md-4 user-form white-block shadow-outline mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-3 col-sm-3">
                    <h3>Nitrogen</h3>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_nitro" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_nitro" class="form-control green-bg">
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <h6 class="recomeneded-green">Recommended: 400 </h6>
                  </div>
                </div>

              </div>



              <div class=" col-md-4 user-form white-block shadow-outline  mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h3>Phosphorus</h3>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_phos" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_phos" class="form-control green-bg">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 ">
                    <h6 class="recomeneded-green">Recommended: 400 </h6>
                  </div>
                </div>

              </div>
              <div class=" col-md-4 user-form white-block shadow-outline  mt-1 mb-1">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h3>Potassium</h3>
                  </div>

                </div>
                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Minimum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="miminum_pota" class="form-control green-bg">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label>Maximum</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="maximum_pota" class="form-control green-bg">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h6 class="recomeneded-green">Recommended: 400 </h6>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </form>





      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions text-right pull-right">


          <a href="" name="register" class="btn btn-success btn-flat" onclick="submit_form();">Activate</a>

        </div>
      </footer>

      </form>
      {% include '/shared/footer.html' %}
    </div>
  </div>

  {% include '/shared/base-js.html' %}
  <script>

    $(function () {
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });
      if (greenh.length == 0) {
        add_plant_row();
      }
      else {
        $.each(greenh, function (k, v) {
          add_plant_row_with_data(v);
        });
        add_plant_row();
      }

      $(".btn-add-greenhouse").on("click", function () {
        add_plant_row();
      });
    });

    function add_plant_row() {
      $(".greenhouse-to-add").append($(".plant-fields .row").clone());
      $(".greenhouse-to-add .select2").select2();

      update_tally();
    }


    function add_plant_row_with_data(data) {
      var fields = $(".plant-fields .row").clone();

      fields.find(".col-sm-2:nth-child(1) input").val(data.greenhouse_ref);
      fields.find(".col-sm-2:nth-child(2) input").val(data.size);
      fields.find(".col-sm-2:nth-child(4) input").val(data.info_link);
      fields.find(".col-sm-2:nth-child(5) select").val(greenhouse_type_id);

      $(".greenhouse-to-add").append(fields);
      $(".greenhouse-to-add .select2").select2();

      // add_user_row();

      update_tally();
    }

    function submit_form() {
          $("form[name='shield_type']").submit();
      }


   
  </script>



</body>

</html>