<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">

    
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}
      
      <div class="content-wrapper">
        <section class="content-header">
          <div class="row">
            <div class="col-sm-8">
              <h1 class="mt-0">Fertilizers & Agrochemicals</h1>
            </div>

            <!-- <div class="col-sm-4">
              <div class="float-sm-right">
                <div class="btn-group dropizo">
                  <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add Product</button>
                  <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle " data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>

                  <ul class="dropdown-menu btn-list-sm-text " role="menu">
                    <li>
                      <a href="" data-toggle="modal" data-target="#add-fertilizer"> <i class="fa fa-plus pr-2"></i> Add fertilizer</a>
                    </li>
                    <li>
                      <a href="" data-toggle="modal" data-target="#add-agrochemical"><i class="fa fa-plus pr-2"></i> Add agrochemical </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
        </section>
       
        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mb-5">
                <ul class="nav nav-tabs" id="rowTab">
                  <li class="active"><a href="#fertilizers" data-toggle="tab" aria-expanded="false">Fertilizers</a></li>
                  <li class=""><a href="#agrochemicals" data-toggle="tab" aria-expanded="true">Agrochemicals</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- fertilizers -->
                <div id="fertilizers" class="tab-pane active">
                  <div class="row">
                    <div class="col-sm-8">
                      <h3 class="mt-2 f-22-medium">Fertilizers <span class="badge badge-default">{{SUPPLY|selectattr('commodity','equalto',1)|list|length}}</span></h3>
                    </div>

                    <div class="col-sm-4">
                      <div class="float-sm-right">
                        <a href="" class="btn btn-success btn-flat" data-toggle="modal" data-target="#add-fertilizer"><i
                            class="fa fa-plus pr-2"></i>Add fertilizer</a>
                      </div>
                    </div>


                   

                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Fertilizers/supplier name" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-3">
                      <div class="summary-grey-outline mt-4">
                        {% set vars = {'total_amount': 0} %}
                        {% for supplye in SUPPLY %}
                        {% if supplye.commodity == 1 %}
                        {% if vars.update({'total_amount': vars.total_amount + supplye.remaining }) %}
                        {% endif %}
                        {%endif%}
                        {% endfor %}

                        <p>
                          {{ vars.total_amount }} kgs<br />
                          <span class="inverse">Today's total opening stock</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                      <div class="summary-grey-outline mt-4">
                        {% set vars = {'total_amount': 0} %}
                        {% for supplye in SUPPLY %}
                        {% if supplye.commodity == 1 %}
                        {% if vars.update({'total_amount': vars.total_amount + supplye.remaining }) %}
                        {% endif %}
                        {%endif%}
                        {% endfor %}
                        
                        <p>
                          {{ vars.total_amount }} kgs<br />
                          <span class="inverse">Today's total closing stock</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                      <div class="summary-grey-outline mt-4">
                        {% set count = [] %}
                        {% for supply in SUPPLY %}
                        {% if supply.commodity == 1 %}
        
                        {% if count.append('1') %}{% endif %}
                        {% endif %}{%endfor%}
                        <p>
                          {{ count|length }}<br />
                          <span class="inverse">Total names of fertilizers</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table accounts-table custom-collapsable-table mt-4 " style="margin-bottom: 100px;">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value="" class="minimal" /></th>
                              <th>DATE ADDED</th>
                              <th>DATE OF REORDER</th>
                              <th>NAME</th>
                              <th>SUPPLIER NAME</th>
                              <th>TOTAL QTY</th>
                              <th>REMAINING QTY</th>
                              <th colspan="3">STATUS</th>
                            </tr>
                          </thead>
                          {% for supply in SUPPLY %} 
                          {% if supply.commodity == 1 %}
                          <tbody>
                            <tr data-toggle="collapse" data-target="#ongoing-support-{{supply.id}}" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>{{supply.created}}</td>
                              <td>{{supply.modified}}</td>
                              <td>{{supply.name}}</td>
                              <td>{{supply.supplier_commodity.name}}</td>
                              <td>{{supply.quantity}} {{supply.metric}}</td>
                              <td>{{supply.remaining}} {{supply.metric}}</td>
                              {% if supply.minimum >= supply.remaining %}
                              <td><span class="badge warning">low</span></td>
                              {% else %}
                              <td><span class="badge badge-success active">High</span></td>
                              {% endif %}
                              <td>
                                <span class="square-sm square-sm-green"><i class="fa fa-chevron-down"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><button class ="btn btn-success btn-success-outline btn-flat fertclass" style="width: 180px;" f_id="{{supply.id}}" fe_name="{{supply.name}}" fe_quantity="{{supply.quantity}}" fe_minimum="{{supply.minimum}}" fe_remaining ="{{supply.remaining}}"fe_supply="{{supply.supplier_commodity.name}}" fe_component="{{supply.active_component.component}}" fe_created="{{supply.created}}" fe_reordered="{{supply.modified}}" fe-notes = "{{supply.notes}}" data-toggle="modal" data-target="#edit-fertilizer">Edit details</button></li>
                                    <li><button class="btn btn-success btn-success-outline btn-flat reorder-fert" style="width: 180px;" re_order_id = "{{supply.id}}" re_order_name ="{{supply.name}}"  data-toggle="modal" data-target="#reorder_fert">Reorder </button></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>

                           
                           
                        
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div class="accordian-body collapse content-container" id="ongoing-support-{{supply.id}}">
                                  <div class="row">
                                    <div class="col-sm-8">
                                      <span class="f-14-bold dark-grey-text">Fertilizer details </span><br />
                                      <span class="f-12">Below are the details </span>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="float-sm-right">
                                        <button re_order_id = "{{supply.id}}" type="button" re_order_name = "{{supply.name}}" data-toggle="modal" data-target="#reorder_fert" class="btn btn-success btn-success-outline btn-flat reorder-fert">Reorder</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-5">
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>fertilizer component</p>
                                        <span>{{supply.active_component.component}}</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Reordered by</p>
                                        <span>{{supply.created_by.first_name}}{{supply.created_by.last_name}}</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Active ingredients</p>
                                        <span>Nitrogen</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                           
                           
                          </tbody>
                          {% endif %}
                          {% endfor %}
                        </table>
                      </div>


                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>



                 

                <!-- Agrochemicals-->

                <div id="agrochemicals" class="tab-pane">
                  <div class="row">
                    <div class="col-sm-8">
                      <h3 class="mt-2 f-22-medium">Agrochemicals <span class="badge badge-default">{{SUPPLY|selectattr('commodity','equalto',2)|list|length}}</span></h3>
                    </div>

                    <div class="col-sm-4">
                      <div class="float-sm-right">
                        <a href="" class="btn btn-success btn-flat" data-toggle="modal" data-target="#add-agrochemical"><i
                            class="fa fa-plus pr-2"></i>Add agrochemical</a>
                      </div>
                    </div>

                  </div>



                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Fertilizers/supplier name" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-3">
                      <div class="summary-grey-outline mt-4">
                        {% set vars = {'total_amount': 0} %}
                        {% for supplye in SUPPLY %}
                        {% if supplye.commodity == 2 %}
                        {% if vars.update({'total_amount': vars.total_amount + supplye.remaining }) %}
                        {% endif %}
                        {%endif%}
                        {% endfor %}

                        <p>
                          {{ vars.total_amount }} kgs<br />
                          <span class="inverse">Today's total opening stock</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                      <div class="summary-grey-outline mt-4">
                        {% set vars = {'total_amount': 0} %}
                        {% for supplye in SUPPLY %}
                        {% if supplye.commodity == 2 %}
                        {% if vars.update({'total_amount': vars.total_amount + supplye.remaining }) %}
                        {% endif %}
                        {%endif%}
                        {% endfor %}
                        
                        <p>
                          {{ vars.total_amount }} kgs<br />
                          <span class="inverse">Today's total closing stock</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                      <div class="summary-grey-outline mt-4">
                        {% set count = [] %}
                        {% for supply in SUPPLY %}
                        {% if supply.commodity == 2 %}
        
                        {% if count.append('1') %}{% endif %}
                        {% endif %}{%endfor%}
                        <p>
                          {{ count|length }}<br />
                          <span class="inverse">Total names of agrochemicals</span>
                        </p>
                      </div>
                    </div>
                  </div>

                 

                  {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                  {% endif %}

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table accounts-table custom-collapsable-table mt-4" style="margin-bottom: 60px;">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value="" class="minimal" /></th>
                              <th>DATE ADDED</th>
                              <th>DATE OF REORDER</th>
                              <th>NAME</th>
                              <th>SUPPLIER NAME</th>
                              <th>TOTAL QTY</th>
                              <th>REMAINING QTY</th>
                              <th colspan="3">STATUS</th>
                            </tr>
                          </thead>


                          {% for supply in SUPPLY %} 
                          {% if supply.commodity == 2 %}

                          <tbody>
                            <tr data-toggle="collapse" data-target="#ongoing-support-{{supply.id}}" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>{{supply.created}}</td>
                              <td>{{supply.modified}}</td>
                              <td>{{supply.name}}</td>
                              <td>{{supply.supplier_commodity.name}}</td>
                              <td>{{supply.quantity}} {{supply.metric}}</td>
                              <td>{{supply.remaining}} {{supply.metric}}</td>
                              {% if supply.minimum >= supply.quantity %}
                              <td><span class="badge warning">low</span></td>
                              {% else %}
                              <td><span class="badge badge-success active">High</span></td>
                              {% endif %}
                              
                              <td>
                                <span class="square-sm square-sm-green-outline"><i class="fa fa-chevron-down"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><button class ="btn btn-success btn-success-outline btn-flat agroclass" style="width: 180px;" ag_id="{{supply.id}}" ag_name="{{supply.name}}" ag_quantity="{{supply.quantity}}" ag_minimum="{{supply.minimum}}" ag_remaining ="{{supply.remaining}}"ag_supply="{{supply.supplier_commodity.name}}" ag_component="{{supply.active_component.component}}" ag_created="{{supply.created}}" ag_reordered="{{supply.modified}}" ag-notes = "{{supply.notes}}" data-toggle="modal" data-target="#edit-agrochemical">Edit details</button></li>
                                    <!-- <li><a href="#" data-toggle="modal" data-target="#edit-agrochemical">Edit details</a></li> -->
                                    <li><button class="btn btn-success btn-success-outline btn-flat reorder-agro" style="width: 180px;" re_order_ag_id = "{{supply.id}}" re_order_ag_name ="{{supply.name}}"  data-toggle="modal" data-target="#reorder_agro">Reorder </button></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                           
                            
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div class="accordian-body collapse content-container"id="ongoing-support-{{supply.id}}">
                                  <div class="row">
                                    <div class="col-sm-8">
                                      <span class="f-14-bold dark-grey-text">Agrochemicals </span><br />
                                      <span class="f-12">Below are the details </span>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="float-sm-right">
                                        <button href="" class="reorder-agro btn btn-success btn-success-outline btn-flat" re_order_ag_id = "{{supply.id}}" re_order_ag_name ="{{supply.name}}" data-toggle="modal" data-target="#reorder_agro">Reorder</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-5">
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Agrochemicals component</p>
                                        <span>{{supply.active_component.component}}</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Reordered by</p>
                                        <span>{{supply.created_by.first_name}}{{supply.created_by.last_name}}</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Active ingredients</p>
                                        <span>Nitrogen</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                       
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div id="fertilizer-3" class="accordian-body collapse content-container">
                                  <!-- Place content here -->
                                </div>
                              </td>
                            </tr>
                          </tbody>

                          {% endif %}
                          {% endfor %}
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  ./row -->
        </section>
     
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <!-- Add Fertilizer Modal -->


    <div class="modal fade custom-modal" name="add-fertilizer" id="add-fertilizer" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Add fertilizer</h3>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Date of reorder</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">{{data.utc_date.strftime('%d %B %Y')}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Date added</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">{{data.utc_date.strftime('%d %B %Y')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Name of Brand</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Aaacccrd" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Supplier name</label>
                        <!-- <button class="btn btn-success btn-flat" data-toggle="modal" data-target="#add-agrochemical">Add Supplier</button> -->
                        <select name="supplier_id" id ="supplier_id" class="form-control" required="required">
                        <option selected="selected">Select supplier</option>
                        <option value="secondoption">Add a new supplier</option>
                          {% for supplier in SUPPLIER %}
                         
                          <option value="{{supplier.id}}"  {% if supplier.id == supplier_id %}  selected="selected" {% endif %} >{{supplier.name}}</option>
                          {% endfor %}


                          <!-- <input type="text" placeholder="Hero Group" name="supplier_id"
                               id="supplier_id" class="form-control  " /> -->
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Total quantity</label>
                        <div class="input-group custom-input-group">
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" name="quantity" id="quantity" placeholder="100" onkeydown="return event.keyCode !== 69"/>
                        <div class="input-group-addon right">Kg</div>
                      </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Min quantity for low alert</label>
                        <div class="input-group custom-input-group">
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="minimum" name = "minimum" placeholder="10" onkeydown="return event.keyCode !== 69"/>
                        <div class="input-group-addon right">Kg</div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="col-sm-4">
                      <div class="form-group">
                        <label>Remaining quantity</label>
                        <div class="input-group custom-input-group">
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" name = "notes" id="notes"  placeholder="10" onkeydown="return event.keyCode !== 69" />
                        <div class="input-group-addon right">Kg</div>
                      </div>
                      </div>
                    </div> -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Fertilizer component</label>
                        <select name="active_component_id" id= "active_component_id" class="form-control" required="required">
                          {% for com in COMPONENT %}
                          {% if com.commodity == 1 %}
                          <option value="{{com.id}}" {% if com.id == active_component_id %} selected="selected" {% endif %} >{{com.component}}</option>
                          {%endif%}
                          {% endfor %}
                        </select>
                        
                        <!-- <input type="text" class="form-control"name = "active_component_id" id="active_component_id" placeholder="Nitrogen" /> -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Active ingredients</label>
                        <input type="text" name="active_ingradient" class="form-control" id="active_ingradient" placeholder="Nitrogen" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-success btn-add-supply" >Add</button>
                </div>
              </div>
            </div>
          </div>

    <!-- Edit Fertilizer Modal -->


    <div class="modal fade custom-modal" id="edit-fertilizer" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Edit fertilizer</h3>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date of reorder</label>
                          <div class="meta-data-sm">
                            <span type="text" class="form-control" name="reordred_f" id="reordred_f" >{{data.utc_date.strftime('%d %B %Y')}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date added</label>
                          <div class="meta-data-sm">
                            <input type="text" class="form-control" name="created_fi" id="created_fi"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Name of Brand</label>
                        <input type="text" name="name_f" class="form-control" id="name_f" placeholder="Aaacccrd" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Supplier name</label>
                        <input type="text" name="supply_f" class="form-control" id="supply_f" placeholder="Aaacccrd" />
                        
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Total quantity</label>
                        <div class="input-group custom-input-group">
                        <input name ="quantity_f" id ="quantity_f"type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="100" onkeydown="return event.keyCode !== 69"/>
                        <div class="input-group-addon right">Kg</div>
                      </div>
                    </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Minimum quantity for low alert</label>
                        <div class="input-group custom-input-group">
                        <input type="number" name="minimum_f" id="minimum_f" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69"/>
                        <div class="input-group-addon right">Kg</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Remaining quantity</label>
                        <div class="input-group custom-input-group">
                        <input type="number" name="remaining_f" id="remaining_f" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69" />
                        <div class="input-group-addon right">Kg</div>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Fertilizer component</label>
                        <input type="text" class="form-control" id="fertcomp_f" name="fertcomp_f" placeholder="Nitrogen" />
                      </div>
                    </div>
                    <!-- <div class="col-sm-4">
                      <div class="form-group">
                        <label>Active ingredients</label>
                        <input type="text" class="form-control" id="activein_f" name="activein_f" placeholder="Nitrogen" />
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-success btn-update-supply">Update</button>
                </div>
              </div>
            </div>
          </div>


<!-- Add agrochemical Modal -->

<div class="modal fade custom-modal" name = "add-agrochemical" id="add-agrochemical" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Add agrochemical</h3>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Date of reorder</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Date added</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Name of Brand</label>
                    <input type="text" class="form-control" name="name1" id="name1" placeholder="Aaacccrd" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Supplier name</label>
                    
                    <select name="supplier_commodity_id1" id ="supplier_commodity_id1" class="form-control" required="required">
                      <option >Select supplier</option>
                      <option value="thirdoption">Add a new supplier</option>
                      {% for supplier in SUPPLIER %} 
                      
                      <option value="{{supplier.id}}"  {% if supplier.id == supplier_commodity_id1 %}  selected="selected" {% endif %} >{{supplier.name}}</option>
                     
                      {% endfor %}

                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Total quantity</label>
                    <div class="input-group custom-input-group">
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" name="quantity1" id="quantity1" placeholder="100" onkeydown="return event.keyCode !== 69" />
                    <div class="input-group-addon right">Kg</div>
                  </div>
                </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Min quantity for low alert</label>
                    <div class="input-group custom-input-group">
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="minimum1" name = "minimum1" placeholder="10 Kg" onkeydown="return event.keyCode !== 69"/>
                    <div class="input-group-addon right">Kg</div>

                        </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label>Remaining quantity</label>
                    <div class="input-group custom-input-group">
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" name = "notes1" id="notes1"  placeholder="10" onkeydown="return event.keyCode !== 69" />
                    <div class="input-group-addon right">Kg</div>

                        </div>
                  </div>
                </div> -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Active ingredients</label>
                    <select name="active_component_id1" id= "active_component_id1" class="form-control" required="required">
                      {% for com in COMPONENT %}
                      {% if com.commodity == 2 %}
                      <option value="{{com.id}}" {% if com.id == active_component_id1 %} selected="selected" {% endif %} >{{com.component}}</option>
                      {%endif%}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- <div class="col-sm-6">
                  <div class="form-group">
                    <label>Active ingredients</label>
                    <input type="text" class="form-control" id="active_ingad1" name="active_ingad1"  placeholder="Nitrogen" />
                  </div>
                </div> -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success btn-add-agro">Add</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Edit agrochemical Modal -->

    <div class="modal fade custom-modal" id="edit-agrochemical" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Edit agrochemical</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date of reorder</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium dark-grey-text"name="reordred_ag" id="reordred_ag" >{{data.utc_date.strftime('%d %B %Y')}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date added</label>
                    <div class="meta-data-sm">
                      <input type="text" class="form-control" name="created_ag" id="created_ag"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Name of agrochemical</label>
                  <input type="text" name="name_ag" class="form-control" id="name_ag" placeholder="Aaacccrd" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Supplier name</label>
                  <input type="text" name="supply_ag" class="form-control" id="supply_ag" placeholder="Aaacccrd" />
                  <!-- <select name="" class="form-control select2" required="required">
                    <option value="" selected="selected">Jackie Chebet</option>
                  </select> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total quantity</label>
                  <div class="input-group custom-input-group">
                    <input name ="quantity_ag" id ="quantity_ag"type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="100" onkeydown="return event.keyCode !== 69"/>
                    <div class="input-group-addon right">Kg</div>
                </div>
              </div>
            </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Minimum quantity for low alert</label>
                  <div class="input-group custom-input-group">
                    <input type="number" name="minimum_ag" id="minimum_ag" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69"/>
                    <div class="input-group-addon right">Kg</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Remaining quantity</label>
                  <div class="input-group custom-input-group">
                    <input type="number" name="remaining_ag" id="remaining_ag" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69" />
                    <div class="input-group-addon right">Kg</div>

                    </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Agrochemical component</label>
                  <input type="text" class="form-control" id="agrocomp_ag" name="agrocomp_ag" placeholder="Nitrogen" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Active ingredients</label>
                  <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success btn-update-agro">Update</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="reorder_fert" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
      <div class="modal-dialog" role="document" style="width: 425px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Reorder Fertilizer!</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="errors hidden" style="margin-bottom: 10px;">
                  <span class="label label-danger">Reorder Fertilizer !</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  
                  <input type="hidden" value="" name="reorder_type_id" required="required">Are you sure reorder this fertilizer?</input>
                </div>
              </div>
             
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat reorder-fert-button" >Yes</button>
            </span>
          </div>
        </div>
      </div>
    </div>


    


    <div class="modal fade" id="agromodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add new supplier</h4>
          </div>
          <div class="modal-body">


            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Supplier name</label>
                  <input type="text" class="form-control" name="sup_new_agro_name" id="sup_new_agro_name" placeholder="Name" />
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Total quantity</label>
                  <input type="text" class="form-control" id="" placeholder="100" />
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Minimum quantity for low alert</label>
                  <input type="text" class="form-control" id="" placeholder="10 Kg" />
                </div>
              </div> -->
            </div>
           
          </div>
          <div class="modal-footer">

          
              <div class="row">
                  <div class="col-xs-12">
                      <div  class="text-center">
                        <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                        <button class="btn btn-success button-add-agro-supplier">Save</button>
                      </div>
                  </div>
              </div>
             
            
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add new supplier</h4>
          </div>
          <div class="modal-body">


            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Supplier name</label>
                  <input type="text" class="form-control" name="sup_new_name" id="sup_new_name" placeholder="Name" />
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Total quantity</label>
                  <input type="text" class="form-control" id="" placeholder="100" />
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Minimum quantity for low alert</label>
                  <input type="text" class="form-control" id="" placeholder="10 Kg" />
                </div>
              </div> -->
            </div>
           
          </div>
          <div class="modal-footer">

          
              <div class="row">
                  <div class="col-xs-12">
                      <div  class="text-center">
                        <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                        <button class="btn btn-success button-add-supplier">Save</button>
                      </div>
                  </div>
              </div>
             
            
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="reorder_agro" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
      <div class="modal-dialog" role="document" style="width: 425px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Reorder Agrochemical!</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="errors hidden" style="margin-bottom: 10px;">
                  <span class="label label-danger">Reorder Agrochemical !</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  
                  <input type="hidden" value="" name="" required="required">Are you sure reorder this Agrochemical?</input>
                </div>
              </div>
             
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat reorder-agro-button" >Yes</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  
    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });








      $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#rowTab a[href="' + hash + '"]').tab('show');


     

    $(".modal").find("button.btn-add-supply").on("click", function(){
        
        var _name = $(".modal").find("#name").val();
        var _quantity = $(".modal").find("#quantity").val();
        var _minimum = $(".modal").find("#minimum").val().trim();
        // var supplier_commodity_id = $(".modal").find("#supplier_commodity_id").val().trim();
        var _notes = $(".modal").find("#notes").val();
        var _supplier_id = $(".modal").find("#supplier_id").val();
        var _active_component_id = $(".modal").find("#active_component_id").val();
        var _active_ingradient = $(".modal").find("#active_ingradient").val(); 

        
      


        if (_name != "" && _quantity != "" && _minimum != "" && _supplier_id != "" && _active_component_id != "" && _active_ingradient != "" ){
       
         add_fertilizer(_name,_quantity,_minimum,_notes,_active_component_id,_supplier_id);

         $('#add-fertilizer').modal('hide');

         location.reload(); 
         }

        else
          {  
                              
            alert("Field Missing!");    
          }
        
      });

// Add new supplier


$(".modal").find("button.button-add-supplier").on("click", function(){
  var _name_supplier = $(".modal").find("#sup_new_name").val();



  if (_name_supplier != "" ){
       
       add_supplier(_name_supplier);

       $('#myModal').modal('hide');

       location.reload(); 
       }

      else
        {  
                            
          alert("Field Missing!");    
        }

});

// Add new supplier agrochemical



$(".modal").find("button.button-add-agro-supplier").on("click", function(){
  var _name_ag_supplier = $(".modal").find("#sup_new_agro_name").val();



  if (_name_ag_supplier != "" ){
       
    add_ag_supplier(_name_ag_supplier);

       $('#myModal').modal('hide');

       location.reload(); 
       }

      else
        {  
                            
          alert("Field Missing!");    
        }

});

// Reorder Fertilizer


$('.reorder-fert').click(function(){
  var _reord_fert_id = $(this).attr('re_order_id');
  var _reord_fert_name = $(this).attr('re_order_name');
  

$(".modal").find("button.reorder-fert-button").on("click", function(){

  
  reorder_fertilizer(_reord_fert_id,_reord_fert_name)

  $('#reorder_fert').modal('hide');

  location.reload(); 


});

});



// Reorder Agrochemical


$('.reorder-agro').click(function(){
  var _reord_agro_id = $(this).attr('re_order_ag_id');
  var _reord_agro_name = $(this).attr('re_order_ag_name');
  

$(".modal").find("button.reorder-agro-button").on("click", function(){

  
  reorder_agrochemical(_reord_agro_id,_reord_agro_name)

  $('#reorder_agro').modal('hide');

  location.reload(); 


});

});


// Update Fertilizer


$('.fertclass').click(function(){
 var fert_id =  $(this).attr('f_id'); //getting the btn's id
 var f_name = $(this).attr('fe_name');
 var f_quantity = $(this).attr('fe_quantity');
 var f_minimum =  $(this).attr('fe_minimum');
 var f_remaining = $(this).attr('fe_remaining')
 var f_notes = $(this).attr('fe-notes');
 var f_suppluer = $(this).attr('fe_supply');
 var f_component = $(this).attr('fe_component');
 var f_created = $(this).attr('fe_created');
 var f_reordered = $(this).attr('fe_reordered');
//  var f_component = $(this).attr('t_info');
//  alert(f_remaining)

$(".modal").find('#name_f').val(f_name)
$(".modal").find("#quantity_f").val(f_quantity);
$(".modal").find("#minimum_f").val(f_minimum);
$(".modal").find("#remaining_f").val(f_remaining);
$(".modal").find("#notes").val(f_notes);
$(".modal").find("#supply_f").val(f_suppluer);
$(".modal").find("#fertcomp_f").val(f_component);
$(".modal").find("#created_fi").val(f_created);
$(".modal").find("#reordred_f").val(f_reordered);


      $(".modal").find("button.btn-update-supply").on("click", function(){
        
        var _name = $(".modal").find("#name_f").val();
        var _quantity = $(".modal").find("#quantity_f").val();
        var _minimum = $(".modal").find("#minimum_f").val().trim();
        var _remaining =  $(".modal").find("#remaining_f").val().trim();
        // var supplier_commodity_id = $(".modal").find("#supplier_commodity_id").val().trim();
        var _notes = $(".modal").find("#notes").val();
        var _supplier_id = $(".modal").find("#supply_f").val();
        var _active_component_id = $(".modal").find("#fertcomp_f").val();
        var _id = fert_id;

        // alert("Values",_name,_quantity,_minimum,_notes)
      


        if (_name != "" && _quantity != "" && _minimum != "" && _supplier_id != ""){
       
         update_fertilizer(_id,_name,_quantity,_minimum,_notes,_active_component_id,_supplier_id,_remaining);

         $('#edit-fertilizer').modal('hide');

         location.reload(); 
         }

        else
          {  
                              
            alert("Field Missing!");    
          }
        
      });
  
    });



    // Edit Agrochemicals



$('.agroclass').click(function(){
 var agro_id =  $(this).attr('ag_id'); //getting the btn's id
 var ag_name = $(this).attr('ag_name');
 var ag_quantity = $(this).attr('ag_quantity');
 var ag_minimum =  $(this).attr('ag_minimum');
 var ag_remaining = $(this).attr('ag_remaining')
 var ag_notes = $(this).attr('ag-notes');
 var ag_suppluer = $(this).attr('ag_supply');
 var ag_component = $(this).attr('ag_component');
 var ag_created = $(this).attr('ag_created');
 var ag_reordered = $(this).attr('ag_reordered');
//  var f_component = $(this).attr('t_info');
//  alert(f_remaining)

$(".modal").find('#name_ag').val(ag_name)
$(".modal").find("#quantity_ag").val(ag_quantity);
$(".modal").find("#minimum_ag").val(ag_minimum);
$(".modal").find("#remaining_ag").val(ag_remaining);
$(".modal").find("#notes").val(ag_notes);
$(".modal").find("#supply_ag").val(ag_suppluer);
$(".modal").find("#agrocomp_ag").val(ag_component);
$(".modal").find("#created_ag").val(ag_created);
$(".modal").find("#reordred_ag").val(ag_reordered);


      $(".modal").find("button.btn-update-agro").on("click", function(){
        
        var _name = $(".modal").find("#name_ag").val();
        var _quantity = $(".modal").find("#quantity_ag").val();
        var _minimum = $(".modal").find("#minimum_ag").val().trim();
        var _remaining =  $(".modal").find("#remaining_ag").val().trim();
        var _notes = $(".modal").find("#notes").val();
        var _supplier_id = $(".modal").find("#supply_ag").val();
        var _active_component_id = $(".modal").find("#agrocomp_ag").val();
        var _id = agro_id;

        // alert("Values",_name,_quantity,_minimum,_notes)
      


        if (_name != "" && _quantity != "" && _minimum != "" && _supplier_id != ""){
       
         update_agrochemical(_id,_name,_quantity,_minimum,_notes,_active_component_id,_supplier_id,_remaining);

         $('#edit-agrochemical').modal('hide');

         location.reload(); 
         }

        else
          {  
                              
            alert("Field Missing!");    
          }
        
      });
  
    });









      $(".modal").find("button.btn-add-agro").on("click", function(){
        
        var name1 = $(".modal").find("#name1").val();
        var quantity1 = $(".modal").find("#quantity1").val();
        var minimum1 = $(".modal").find("#minimum1").val();
        var active_ingrad = $(".modal").find("#active_ingad1").val();
        var notes1 = $(".modal").find("#notes1").val();
        var active_component_id1 = $(".modal").find("#active_component_id1").val();
        var supplier_commodity_id1 = $(".modal").find("#supplier_commodity_id1").val();
        
        if (name1 != "" && quantity1 != "" && minimum1 != "" && active_component_id1 != "" && supplier_commodity_id1 != "" && active_ingrad != "" ){
        
        add_agrochemicals(name1,quantity1,minimum1,notes1,active_component_id1,supplier_commodity_id1);
       
        $('#add-agrochemical').modal('hide');

        location.reload(); 
        }

        else
          {  
                              
            alert("Field Missing!");    
           
          }  

       
        
      });
   
   





    });


    function add_supplier(sup_name){

      if (sup_name != undefined) {
          $.post(
            "./fertilizers-agrochems",
            {
              "action": "add_supplier",
              "supplier_n_name": sup_name,
             
            },
            
            
          );
          }

    }


function add_ag_supplier(sup_name){

if (sup_name != undefined) {
    $.post(
      "./fertilizers-agrochems",
      {
        "action": "add_ag_suppliers",
        "supplier_agn_name": sup_name,
       
      },
      
      
    );
    }

}





    function add_fertilizer(type_name,_quantity,_minimum,_notes,_active_component_id,_supplier_id) {
            if (type_name != undefined) {
          $.post(
            "./fertilizers-agrochems",
            {
              "action": "add_fertilizer",
              "name": type_name,
              "quantity": _quantity,
              "minimum":_minimum,
              "notes":_notes,
              "active_component_id":_active_component_id,
              "supplier_id": _supplier_id


            },
            
            
          );
          }
      }



      function update_fertilizer(_id,type_name,_quantity,_minimum,_notes,_active_component_id,_supplier_id,_remaining) {
            if (type_name != undefined) {
          $.post(
            "./fertilizers-agrochems",
            {
              "action": "update_fertilizer",
              "id" : _id,
              "name": type_name,
              "quantity": _quantity,
              "minimum":_minimum,
              "notes":_notes,
              "active_component_id":_active_component_id,
              "supplier_id": _supplier_id,
              "remaining": _remaining,


            },
            
            
          );
          }
      }


  



      function update_agrochemical(_id,type_name,_quantity,_minimum,_notes,_active_component_id,_supplier_id,_remaining) {
            if (type_name != undefined) {
          $.post(
            "./fertilizers-agrochems",
            {
              "action": "update_agrochemical",
              "id" : _id,
              "name": type_name,
              "quantity": _quantity,
              "minimum":_minimum,
              "notes":_notes,
              "active_component_id":_active_component_id,
              "supplier_id": _supplier_id,
              "remaining": _remaining,


            },
            
            
          );
          }
      }



      function reorder_fertilizer(re_fert_id,re_fert_name){


        $.post(
            "./fertilizers-agrochems",
            {
              "action": "reorder_fert",
              "refertid": re_fert_id,
              "refertname": re_fert_name,
              
            },
            
            
          );



      }



function reorder_agrochemical(re_agro_id,re_agro_name){


$.post(
    "./fertilizers-agrochems",
    {
      "action": "reorder_agro",
      "reagroid": re_agro_id,
      "reagroname": re_agro_name,
      
    },
    
    
  );



}




      function add_agrochemicals(type_name,_quantity,_minimum,_notes,_active_component_id,_supplier_commodity_id) {
            if (type_name != undefined) {
          $.post(
            "./fertilizers-agrochems",
            {
              "action": "add_agrochemicals",
              "name": type_name,
              "quantity": _quantity,
              "minimum":_minimum,
              "notes":_notes,
              "active_component_id":_active_component_id,
              "supplier_commodity_id":_supplier_commodity_id
            },
            
            
          );
          }
      }

      function submit_form() {
          $("form[name='shield_type']").submit();
      }


      $('#supplier_id').change(function() {
    var opval = $(this).val();
    if(opval=="secondoption"){
        $('#myModal').modal("show");
    }
});

$('#supplier_commodity_id1').change(function() {
    var opval = $(this).val();
    if(opval=="thirdoption"){
        $('#agromodal').modal("show");
    }
});



  </script>
    

  </body>
</html>
