<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Plants</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add Plants
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../product-inventory';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
              <div class="user-form shadow-outline" style="width: 1200px;
              margin: 80px auto;
              padding: 30px;
              background-color: #fff;">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>Plants <span class="badge badge-default badge-user-count">1</span></h3>
                  </div>
                 
                </div>

                {% if FORM_ACTION_RESPONSE %}
                  <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                <div class="row mt-3">
                  <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Created date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>

                  <div class="col-lg-2 col-md-3 col-sm-4 pl-sm-0">
                    <div class="meta-data">
                      <p>
                        Created by<br />
                        <span class="date-today">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 pl-sm-0">
                    <div class="meta-data">
                      <p>
                        Plant status<br />
                        <span class="date-today">Active</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator" />

                <form name="frm_green" action="" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="row headers mt-3">
                    <div style="width: 5%;" class="col-sm-1 col-lg-1 pl-sm-0">&nbsp;</div>
                    <div style="font-size: 8px; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">Name of Plant*</div>
                    <div style="font-size: 8px; width: 15%;" class="col-sm-2 col-lg-2 pl-sm-0">Planting Start Date*</div>
                    <div style="font-size: 8px; width: 10%; margin-left: 15px;" class="col-sm-1 col-lg-1 pl-sm-0">Variety of plant*</div>
                    <div style="font-size: 8px; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">Number of plants*</div>
                    <div style="font-size: 8px; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">Planting period*</div>
                    <div style="font-size: 8px; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">Production period*</div>
                    <div style="font-size: 8px; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">Harvest period*</div>
                    <div style="font-size: 8px; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">Harvest Estimate*</div>
                    <!-- <div style="font-size: 8px; width:100px" class="col-sm-1 pl-sm-0">Production Stage*</div> -->
                    
                    <div style="font-size: 8px; width: 5%;" class="col-sm-2 col-lg-2 pl-sm-0">&nbsp;</div>
                  </div>

                  <div class="greenhouse-to-add"></div>

                  <div class="row">
                    <div class="col-sm-12">
                      <a href="#" class="btn btn-success btn-flat btn-add-greenhouse"> <i class="fa fa-plus pr-2"></i> Add Plants</a>
                    </div>
                  </div>

                  <div class="hidden">
                    <div class="greenhouse-fields">
                      <div class="row" >

                        <div style="font-size: smaller;width: 5%;" class="col-sm-1 col-lg-1 pl-xl-0 "  ></div>
                       
                        
                        <div style="font-size: smaller; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">
                          <div class="form-group">

                    <select name="plantname" id="plantname" editable="true" class="form-control green-bg" required="required">
                    {% for psug in PSUGGEST %}
                    <option value="{{psug.plant_name}}" {% if psug.plant_name==plantname %} selected="selected" {% endif %}>{{psug.plant_name}}</option>
                    {% endfor %}
                  </select>

                            
          
                            <!-- <input type="text" placeholder="Basil" pattern="[a-zA-Z]*" onkeypress="return fn_validateNumeric(this,event)" style="height:30px;width:100px;" class="form-control" name="plantname[]" required="required" /> -->
                          </div>
                        </div>

                        <div style="font-size: smaller; width: 15%; " class="col-sm-2 col-lg-2 pl-sm-0" >
                          <div class="form-group">
                            <input type="date" placeholder="" style="height:35px;"  class="form-control" name="plantingdate[]" required />
                          </div>
                        </div>

                        <div style="width: 10%;" class="col-sm-1 col-lg-1 l-sm-0" >
                          <div class="form-group">

                            <select name="varietyofplant" id="varietyofplant" class="form-control green-bg" required="required">
                              {% for vsug in VSUGGEST %}
                              <option value="{{vsug.variety_name}}" {% if vsug.variety_name==varietyofplant %} selected="selected" {% endif %}>{{vsug.variety_name}}</option>
                              {% endfor %}
                            </select>

                            <!-- <input type="text" class="form-control" style="height:30px;width:100px;" value="" id="extra7" name="varietyofplant[]" onkeypress="return isNumber(event)" required="required"/> -->
                           
                            <!-- <input type="text" placeholder="" style="height:30px;" class="form-control" name="varietyofplant[]" required /> -->
                              
                          
                          </div>
                        </div>

                        <div style="font-size: smaller; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0" >
                          <div class="input-group custom-input-group">
                            <input type="text" min="0" class="form-control" style="height:35px;" value="" oninput="this.value = Math.abs(this.value)" class="form-control" id="number_plant" name="number_plant[]" onkeypress="return isNumber(event)" required/>
                            <!-- <input type="text" min="0" style="height:30px;width:50px;margin-left: 20px;" oninput="this.value = Math.abs(this.value)" id="number_plant" name="number_plant[]" class="form-control"> -->
                            <div style="height:30px;font-size: smaller;" class="input-group-addon right">seeds</div>
                          </div>
                        </div>

                       

                        <div style="font-size: smaller; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0" >
                          <div class="input-group custom-input-group">

                            <select name="planting_period" id="planting_period" class="form-control green-bg" required="required">
                              {% for vsug in VSUGGEST %}
                              <option value="{{vsug.planting_period}}" {% if vsug.planting_period==planting_period %} selected="selected" {% endif %}>{{vsug.planting_period}}</option>
                              {% endfor %}
                            </select>
                            <!-- <input type="text" min="0" class="form-control" style="height:30px;" value="" oninput="this.value = Math.abs(this.value)" id="planting_period" name="planting_period[]" onkeypress="return isNumber(event)" required="required"/> -->
                            <!-- <input type="text" min="0" style="height:30px;width:50px;" oninput="this.value = Math.abs(this.value)" id="planting_period" name="planting_period[]" class="form-control"> -->
                            <div style="height:30px;font-size: smaller;padding: 6px 6px;" class="input-group-addon right">days</div>
                          </div>
                        </div>
                        
                       
                        <div style="font-size: smaller; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0" >
                          <div class="input-group custom-input-group">

                            <select name="production_period" id="production_period" class="form-control green-bg" required="required">
                              {% for vsug in VSUGGEST %}
                              <option value="{{vsug.production_period}}" {% if vsug.production_period==production_period %} selected="selected" {% endif %}>{{vsug.production_period}}</option>
                              {% endfor %}
                            </select>
                            <!-- <input type="text" min="0" class="form-control" style="height:30px;" value="" oninput="this.value = Math.abs(this.value)" id="production_period" name="production_period[]" onkeypress="return isNumber(event)" required="required"/> -->
                            <!-- <input type="text" min="0" style="height:30px;width:50px;" oninput="this.value = Math.abs(this.value)" id="production_period" name="production_period[]" class="form-control"> -->
                            <div style="height:30px;width:20px;font-size: smaller;padding: 6px 6px;" class="input-group-addon right">days</div>
                          </div>
                        </div>
                        <div style="font-size: smaller; width: 10%; " class="col-sm-1 col-lg-1 pl-sm-0"  >
                          
                          <div class="input-group custom-input-group">

                            <select name="harvest_period" id="harvest_period" class="form-control green-bg" required="required">
                              {% for vsug in VSUGGEST %}
                              <option value="{{vsug.harvest_period}}" {% if vsug.harvest_period==harvest_period %} selected="selected" {% endif %}>{{vsug.harvest_period}}</option>
                              {% endfor %}
                            </select>

                            <!-- <input type="text" min="0" class="form-control" style="height:30px;" value="" oninput="this.value = Math.abs(this.value)" name="harvest_period[]" required autofocus onkeypress="return isNumber(event)"/> -->
                            <div style="font-size: smaller;padding: 4px 4px; " class="input-group-addon right">days</div>
                            <!-- <input type="text" style="height:30px;" placeholder="" class="form-control" name="harvest_period[]" required autofocus /> -->
                          </div>
                        </div>


                        <div style="font-size: smaller; width: 10%;" class="col-sm-1 col-lg-1 pl-sm-0">
                          <div class="input-group custom-input-group">
                            <input type="text" min="0" class="form-control" style="height:35px;" value="" oninput="this.value = Math.abs(this.value)" id="harvest_estimate" name="harvest_estimate[]" onkeypress="return isNumber(event)" required/>
                            <!-- <input type="text" min="0" style="height:30px;width:50px;" oninput="this.value = Math.abs(this.value)" id="harvest_estimate" name="harvest_estimate[]" class="form-control"> -->
                            <div style="height:30px;width:20px;font-size: smaller;" class="input-group-addon right">Kgs</div>
                          </div>
                        </div>

                        <!-- <div style="font-size: smaller; " class="col-sm-1 pl-sm-0"  >
                        <div class="form-group" >
                         
                          <select name="maturity_period[]" style="height:30px;width:90px;" class="form-control" required="required">
                             
                            {% for st in STAGES %}
                            <option value="{{st.id}}"{% if st.id == maturity_period %}  selected="selected"{% endif %}>{{st.name}}</option>
                            {% endfor %}
                          
                        </select>
                        </div>
                      </div> -->

                        <div style="font-size: smaller;width: 5%;" class="col-sm-2 col-lg-2 pl-xl-0 "  >
                          <a style="height:30px;width:40px;" class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="$(this).closest('.row').remove();update_tally();">X</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}

    </div>

    {% include '/shared/base-js.html' %}
    <script>
        var greenh = {{MULTIGREEN|tojson}};
      $(function () {
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
        if (greenh.length == 0) {
            add_greenhouse_row();
          }
        else {
          $.each(greenh, function(k,v){
              add_greenhouse_row_with_data(v);
          });
          add_greenhouse_row();
        }

        $(".btn-add-greenhouse").on("click", function () {
          add_greenhouse_row();
        });

      });

      function add_greenhouse_row() {
        $(".greenhouse-to-add").append($(".greenhouse-fields .row").clone());
        $(".greenhouse-to-add .select2").select2();

        update_tally();
      }


      function add_greenhouse_row_with_data(data) {
        var fields = $(".greenhouse-fields .row").clone();

        fields.find(".col-sm-2:nth-child(1) input").val(data.greenhouse_ref);
        fields.find(".col-sm-2:nth-child(2) input").val(data.size);
        fields.find(".col-sm-2:nth-child(4) input").val(data.info_link);
        fields.find(".col-sm-2:nth-child(5) select").val(greenhouse_type_id);

        $(".greenhouse-to-add").append(fields);
        $(".greenhouse-to-add .select2").select2();

        // add_user_row();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".greenhouse-to-add").find(".row").length);
      }

    

      function submit_form() {
          $("form[name='frm_green']").submit();
      }


      function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}


function fn_validateNumeric(thi,e)
{
    if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;
   if (((keycode>=65) && (keycode<=90))||((keycode>=97) && (keycode<=122)))
   {
        return true;
   }
   else
   {
        return false;
   }
}
    </script>

  </body>
</html>
