<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>Farm Inventory</h1>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mb-5">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#plantjourney" data-toggle="tab" aria-expanded="false">Plant Journey</a></li>
                  <li class=""><a href="#greenhouses" data-toggle="tab" aria-expanded="false">Greenhouses</a></li>
                  <li class=""><a href="#shields" data-toggle="tab" aria-expanded="true">Farmshields</a></li>
                  <li class=""><a href="#screenhouses" data-toggle="tab" aria-expanded="true">Screenhouses</a></li>
                  <li class=""><a href="#shadenets" data-toggle="tab" aria-expanded="true">Shadenets</a></li>
                  <li class=""><a href="#farms" data-toggle="tab" aria-expanded="true">Farms</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- Plant Journey -->

                
                <div id="plantjourney" class="tab-pane active">
                  <div class="row">
                    <div class="col-sm-4 col-md-7">
                      <h3 class="mt-2 f-22-medium">Plants <span class="badge badge-default">{{PLANTS|list|length}}</span></h3>
                    </div>


                    <div class="col-sm-8 col-md-5">
                      <div class="float-sm-right">
                      
                        <div class="btn-group">
                          <a href="./plants/add" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" > <i class="fa fa-plus pr-2"></i> Add Plants</a>
                          <!-- <a href="./plants/add"> <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add Plants</button></a> -->
                          <!-- <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button> -->

                          <!-- <ul class="dropdown-menu btn-list-sm-text" role="menu">
                            <li>
                              <a href="./plants/add"> <i class="fa fa-plus pr-2"></i> Add Plants</a>
                            </li>
                           
                          </ul> -->
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by plant name/variety name" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  

                  <div class="row accounts">
                    <div class="col-sm-12">
                      <div class="table-responsive accounts-records">
                        <table class="table accounts-table custom-collapsable-table mt-4">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value="" class="minimal" /></th>
                              <th>
                                NAME OF PLANT
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                PLANTING DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STAGE OF PLANT
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                DATE STAGE ENTERED
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <!-- <th>
                                HARVEST PLANNING
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th> -->
                              <th>
                               HARVEST AMOUNT
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <!-- <th>
                                ALERTS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th> -->
                              <th colspan="3">
                                STATUS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>

                              <!-- <th colspan="3"></th> -->
                            </tr>
                          </thead>
                          {% for plantz in  PLANTS %}
                         
                          <tbody>
                            <tr data-toggle="collapse" data-target="#plant-{{plantz.id}}" class="accordion-toggle">
                             
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>
                                <span class="dark-grey-text f-14-bold">{{plantz.crop.plant.name}}</span>
                              </td>
                              <td>
                               
                                
                                 {{plantz.start_date}}
                               
                              </td>
                              {% if plantz.planting_id.current_production_stage != {} %}
                              <td>{{plantz.planting_id.current_production_stage.production_stage.name}}</td>
                              {%else%}
                              <td>NA</td>
                              {%endif%}


                              {% if plantz.planting_id.current_production_stage != {} %}
                              <td>{{plantz.planting_id.current_production_stage.created}}</td>
                              {%else%}
                              <td>NA</td>
                              {%endif%}


                               
                               
                                
                               
                              
                              
                              
                              <!-- <td>S-1002</td> -->
                              <td>
                                
                                
                                <span class="date">NA</span>
                                
                              </td>


                              {% if plantz.status == "Active" %}
                              <td><span class="badge badge-success active">Active</span></td>
                              {% elif plantz.status == "Inactive" %}
                              <td><span class="badge badge-success inactive">Inactive</span></td>
                              
                              {% endif %}

                              
                              
                              
                              
                              <td>
                                <div class="dropdown table-dropdown">
                                  <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    
                                    <li><a class ="btn btn-success btn-success-outline btn-flat edit-plant" editplant_id="{{plantz.id}}" plantz_name_id="{{plantz.crop.plant.id}}" plantz_variety_id="{{plantz.crop.id}}" plantz_name="{{plantz.crop.plant.name}}" plantz_variety="{{plantz.crop.name}}" plantz_startdate="{{plantz.start_date}}" no_of_plant ="{{plantz.seedling_tally}}" harvest_estimate_pl ="{{plantz.harvest_estimate}}"  pl_period = "{{plantz.planting_period}}" planting_prd_pl ="{{plantz.production_period}}"  planting_harv_pl="{{plantz.harvest_period}}" data-toggle="modal" data-target="#edit-plant-journey" >Edit</a></li>

                                    <!-- <li><a class ="btn btn-success btn-success-outline btn-flat re-plant" replant_id="{{plantz.id}}" data-toggle="modal" data-target="#re_plant" >Replant</a></li> -->
                                    {% if plantz.status == 'Active' %}
                                    <li><a class ="btn btn-success btn-success-outline btn-flat deactivate-pl" plantyz_id="{{plantz.id}}" data-toggle="modal" data-target="#deactivate_plant" class="red-link">Deactive</a></li>
                                    {%else%}
                                    <li><a class ="btn btn-success btn-success-outline btn-flat activate-pl"  planta_id="{{plantz.id}}" data-toggle="modal" data-target="#activate_plant" class="red-link">Activate</a></li>
                                    {%endif%}
                                  </ul>
                                </div>
                              </td>
                            </tr>






                            <tr>
                              <td colspan="9" class="collapsed-row">
                                <div id="plant-{{plantz.id}}" class="accordian-body collapse content-container">
                                  <div class="row">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="f-14-bold dark-grey-text">Plant Journey </span><br />
                                        <span class="f-12">Below are the details </span>
                                      </div>

                                    </div>

                                  

                                    <div class="tab-content">
                                    
                                    <div id="agronomfert-level-" class="tab-pane active">

                                    <div class="row mt-4">
                                      <div class="col-xs-4 col-sm-3 col-lg-2">
                                        <div class="meta-data-box mb-4">
                                          <p>Crop or veriety name</p>
                                          <span>{{plantz.crop.name}}</span>
                                        </div>
                                      </div>
                                      <div class="col-xs-4 col-sm-3 col-lg-2">
                                        <div class="meta-data-box mb-4">
                                          <p>Number of Plants</p>
                                          <span>{{plantz.seedling_tally}} units</span>
                                        </div>
                                      </div>
                                      <div class="col-xs-4 col-sm-3 col-lg-2">
                                        <div class="meta-data-box mb-4">
                                          <p>Harvest Estimates</p>
                                          <span>{{plantz.harvest_estimate}} Kgs</span>
                                        </div>
                                      </div>
                                      <div class="col-xs-4 col-sm-3 col-lg-2">
                                        <div class="meta-data-box mb-4">
                                          <p>Planting period</p>
                                          <span>{{plantz.planting_period}} Days</span>
                                        </div>
                                      </div>
                                      <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Harvest Period</p>
                                        <span>{{plantz.harvest_period}} Days</span>
                                      </div>
                                    </div>
                                      <div class="col-xs-4 col-sm-3 col-lg-2">
                                        <div class="meta-data-box mb-4">
                                          <p>Production period</p>
                                          <span>{{plantz.production_period}} Days</span>
                                        </div>
                                      </div>
                                    </div>

                                  </div>

                                


                                 

                                 
                                  
                                  



                                </div>
                                </div>
                              </td>
                            </tr>






                            
                          </tbody>
                         
                          {% endfor %}
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Greenhouses -->
                <div id="greenhouses" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Greenhouses <span class="badge badge-default">{{GHOUSES|list|length}}</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                GREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                TYPE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SIZE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <!-- <th>
                                DEVICE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th> -->
                              <!-- <th>
                                SHEILD ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th> -->
                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STATUS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                         {% for grnhs in  GHOUSES %}
                         {% if grnhs.greenhouse != {} %}
                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">{{grnhs.greenhouse.greenhouse_pre}}{{grnhs.greenhouse.greenhouse_ref}}</span>
                              </td>
                              <td>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="This is...." class="tooltip-link">
                                  <span class="question-icon">
                                    <i class="fa fa-question green-text"></i>
                                  </span>
                                  {{grnhs.greenhouse.greenhouse_type_id.name}}
                                </a>
                              </td>

                              <td>{{grnhs.greenhouse.size}}</td>



                               


                             
                             
                            
                             
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  {{grnhs.greenhouse.created_by.first_name}} {{grnhs.greenhouse.created_by.last_name}}
                                  <span class="date">{{grnhs.created}}</span>
                                </span>
                              </td>
                              {% if grnhs.status == "Active" %}
                              <td><span class="badge badge-success active">Active</span></td>
                              {% elif grnhs.status == "Inactive" %}
                              <td><span class="badge badge-success inactive">Inactive</span></td>
                              <td><a href="./activate-greenhouse/{{grnhs.id}}" class="btn btn-success btn-success-outline btn-flat">Activate</a></td>
                              {% endif %}


                             
                            </tr> 
                            
                          </tbody>
                          {%endif%}
                          {% endfor %}
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- External shields-->

                <div id="shields" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">External shields <span class="badge badge-default">{{SHIELDS|list|length}}</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                Product ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                TYPE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                Spear ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STATUS
                              </th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                           {% for shield in SHIELDS %} 
                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">{{shield.shield.serial.boron_id}}</span>
                              </td>
                              <td>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="This is...." class="tooltip-link">
                                  <span class="question-icon">
                                    <i class="fa fa-question green-text"></i>
                                  </span>
                                  {{shield.shield.type.name}}
                                </a>
                              </td>
                              
                              <td>{{shield.shield.serial.spear_actual_id}}</td>
                             
                              
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  {{shield.created_by.first_name}} {{shield.created_by.last_name}}
                                  <span class="date">{{shield.created}}</span>
                                </span>
                              </td>
                              {% if shield.status == "Active" %}
                              <td><span class="badge badge-success active">Active</span></td>
                              {% elif shield.status == "Inactive" %}
                              <td><span class="badge badge-success inactive">Inactive</span></td>
                              <td><a href="./activate-shield/{{shield.id}}" class="btn btn-success btn-success-outline btn-flat">Activate</a></td>
                              {% endif %}


                              
                            </tr>
                          </tbody>
                           {% endfor %} 
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Screenhouses-->
                <div id="screenhouses" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Screenhouses <span class="badge badge-default">{{SCREENHOUSE|list|length}}</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                 

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                SCREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SIZE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <!-- <th>
                                GREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th> -->
                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STATUS
                              </th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          {% for screen in SCREENHOUSE %}
                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">{{screen.screenhouse.screenhouse_ref}}</span>
                              </td>
                              <td>{{screen.screenhouse.size}}</td>
                             
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  {{screen.created_by.first_name}} {{screen.created_by.last_name}}
                                  <span class="date">{{screen.created}}</span>
                                </span>
                              </td>
                              {% if screen.status == "Active" %}
                              <td><span class="badge badge-success active">{{screen.status}}</span></td>
                              {% elif  screen.status == "Inactive" %}
                              <td><span class="badge badge-success Inactive">{{screen.status}}</span></td>
                              <td><a href="./activate-screenhouse/{{screen.id}}" class="btn btn-success btn-success-outline btn-flat">Activate</a></td>
                              {% endif %}
                              
                            </tr>
                          </tbody>
                          {% endfor %}
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Shadenets-->
                <div id="shadenets" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Shadenets <span class="badge badge-default">{{SHADNETS|list|length}}</span></h3>
                    </div>
                  </div>

                  {% if FORM_ACTION_RESPONSE %}
                <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                {% endif %}

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                SHADENET ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SIZE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <!-- <th>
                                GREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th> -->

                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STATUS
                              </th>

                             <th>&nbsp;</th>
                              
                              
                            </tr>
                          </thead>
                         {% for shad in SHADNETS %}
                         
                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">{{shad.shadenet.shadenet_ref}}</span>
                              </td>
                              <td>{{shad.shadenet.size}}</td>
                             
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  {{shad.created_by.first_name}} {{shad.created_by.last_name}}
                                  <span class="date">{{shad.created}}</span>
                                </span>
                              </td>
                               {% if shad.status == "Active" %}
                              <td><span class="badge badge-success active">Active</span></td>
                              <td></td>
                              {% elif  shad.status == 'Inactive' %}
                              <td><span class="badge badge-success inactive">Inactive</span></td>
                              <td><a href="./activate-shadenet/{{shad.id}}" class="btn btn-success btn-success-outline btn-flat">Activate</a></td>
                              {% endif %}
                            </tr>
                          </tbody>
                          
                          {% endfor %}
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  ./row -->
        </section>
      </div>
      

      <div class="modal fade" id="re_plant" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
        <div class="modal-dialog" role="document" style="width: 425px;">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Re-plant the same plant !</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="errors hidden" style="margin-bottom: 10px;">
                    <span class="label label-danger">Re-Plant !</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    
                    <input type="hidden" value="" name="user_id" required="required">Are you sure for Re-plant the same plant ?</input>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="modal-footer">
              <span class="actions text-right pull-right">
                <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success btn-flat button-re-plant" >Yes</button>
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="deactivate_plant" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
        <div class="modal-dialog" role="document" style="width: 425px;">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Deactivate Plant Journey !</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="errors hidden" style="margin-bottom: 10px;">
                    <span class="label label-danger">Deactivate Plant !</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    
                    <input type="hidden" value="" name="user_id" required="required">Are you sure for deactivate the plant journey ?</input>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="modal-footer">
              <span class="actions text-right pull-right">
                <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success btn-flat button-deactivate-plant" >Yes</button>
              </span>
            </div>
          </div>
        </div>
      </div>

<!-- Activate Plant -->

      <div class="modal fade" id="activate_plant" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
        <div class="modal-dialog" role="document" style="width: 425px;">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Activate Plant Journey !</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="errors hidden" style="margin-bottom: 10px;">
                    <span class="label label-danger">Activate Plant !</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    
                    <input type="hidden" value="" name="user_id" required="required">Are you sure for Activate the plant journey ?</input>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="modal-footer">
              <span class="actions text-right pull-right">
                <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success btn-flat button-activate-plant" >Yes</button>
              </span>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade custom-modal" id="edit-plant-journey" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Edit Plant Journey</h3>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Date of Modify</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text"name="reordred_ag" id="reordred_ag">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <div class="form-group">
                    <label>Name of Plant</label>
                    <input type="text" name="namee_plant" class="form-control" id="namee_plant" placeholder="Basil" readonly/>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                  <div class="form-group">
                    <label>Variety of Plant</label>
                    <input type="text" name="variety_plant" class="form-control" id="variety_plant" placeholder="Ansie Basil" readonly />
                    <!-- <select name="" class="form-control select2" required="required">
                      <option value="" selected="selected">Jackie Chebet</option>
                    </select> -->
                  </div>
                </div>
              </div>
              <div class="row">
                

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Plant start date</label>
                    <div class="input-group custom-input-group">
                      <input type="date" class="" name="pstart_date" id="pstart_date" ></input>
                    </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Number of plants</label>
                    <div class="input-group custom-input-group">
                      <input name ="no_ofplant" id ="no_ofplant"type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="100" onkeydown="return event.keyCode !== 69"/>
                      <div class="input-group-addon right">Seeds</div>
                  </div>
                </div>
              </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Harvest Estimate</label>
                    <div class="input-group custom-input-group">
                      <input type="number" name="harvest_esti" id="harvest_esti" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69"/>
                      <div class="input-group-addon right">Kg</div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Planting period</label>
                    <div class="input-group custom-input-group">
                      <input type="number" name="planting_pr" id="planting_pr" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69" />
                      <div class="input-group-addon right">Days</div>
  
                      </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Production period</label>
                    <div class="input-group custom-input-group">
                      <input type="number" name="production_pl" id="production_pl" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69" />
                      <div class="input-group-addon right">Days</div>
  
                      </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Harvest period</label>
                    <div class="input-group custom-input-group">
                      <input type="number" name="harvest_pl" id="harvest_pl" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="" placeholder="10" onkeydown="return event.keyCode !== 69" />
                      <div class="input-group-addon right">Days</div>
  
                      </div>
                  </div>
                </div>


                
               
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success btn-update-plant">Update</button>
            </div>
          </div>
        </div>
      </div>

      
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });
// Deactivate Plant
     
$('.deactivate-pl').click(function(){
  // var _planto_id = $(this).attr('plantyz_id');
var _planto_id =  $(this).attr('plantyz_id');
  // alert(_planto_id)
  
  

$(".modal").find("button.button-deactivate-plant").on("click", function(){

  
  deactivate_plant(_planto_id)

  $('#deactivate-plant').modal('hide');

  location.reload(); 


});

});


// Activate Plant



$('.activate-pl').click(function(){
  // var _planto_id = $(this).attr('plantyz_id');
var _planta_id =  $(this).attr('planta_id');
// alert(_planta_id)
  
  

$(".modal").find("button.button-activate-plant").on("click", function(){

  
  activate_plant(_planta_id)

  $('#activate_plant').modal('hide');

  location.reload(); 


});

});


// Edit Plant 

$('.edit-plant').click(function(){
  // var _planto_id = $(this).attr('plantyz_id');
var _plante_id =  $(this).attr('editplant_id');
var _plante_name =  $(this).attr('plantz_name');
var _plante_variety =  $(this).attr('plantz_variety');
var _plante_start_date =  $(this).attr('plantz_startdate');
var _plante_noplant =  $(this).attr('no_of_plant');
var _plante_harvest_esti =  $(this).attr('harvest_estimate_pl');
var _plante_period =  $(this).attr('pl_period');
var _plante_prod_period =  $(this).attr('planting_prd_pl');
var _plante_harv_period =  $(this).attr('planting_harv_pl');
var _plantz_name_id = $(this).attr('plantz_name_id');
var _plantz_variety_id = $(this).attr('plantz_variety_id');
// alert(_plantz_variety_id)


$(".modal").find('#namee_plant').val(_plante_name)
$(".modal").find("#variety_plant").val(_plante_variety);
$(".modal").find("#pstart_date").val(_plante_start_date);
$(".modal").find("#no_ofplant").val(_plante_noplant);
$(".modal").find("#harvest_esti").val(_plante_harvest_esti);
$(".modal").find("#planting_pr").val(_plante_period);
$(".modal").find("#production_pl").val(_plante_prod_period);
$(".modal").find("#harvest_pl").val(_plante_harv_period);




$(".modal").find("button.btn-update-plant").on("click", function(){


  var _p_name = $(".modal").find("#namee_plant").val();
  var _p_variety = $(".modal").find("#variety_plant").val();
  var _p_start_d = $(".modal").find("#pstart_date").val().trim();
  var _p_no_plant =  $(".modal").find("#no_ofplant").val().trim();
  var _p_harv_esti = $(".modal").find("#harvest_esti").val().trim();
  var _p_plant_period =  $(".modal").find("#planting_pr").val().trim();
  var _p_prod_period = $(".modal").find("#production_pl").val().trim();
  var _p_harv_period =  $(".modal").find("#harvest_pl").val().trim();


  if (_p_name != "" && _p_variety != "" && _p_start_d != "" && _p_no_plant != ""){
  update_plant(_plante_id,_plantz_name_id,_plantz_variety_id,_p_name,_p_variety,_p_start_d,_p_no_plant,_p_harv_esti,_p_plant_period,_p_prod_period,_p_harv_period)



$('#edit-plant-journey').modal('hide');

location.reload(); 
}

else
 {  
                     
   alert("Field Missing!");    
 }




// $('#edit-plant-journey').modal('hide');

// location.reload(); 


});

});






   });


function deactivate_plant(_plant_id){


$.post(
    "./product-inventory",
    {
      "action": "deactivate_plant",
      "deactivate": _plant_id,  
    },
  );

}


function activate_plant(_plant_id){


$.post(
    "./product-inventory",
    {
      "action": "activate_plant",
      "activate": _plant_id,  
    },
  );

}


function update_plant(_plant_id,_plantz_name_id,_plantz_variety_id,_p_name,_p_variety,_p_start_d,_p_no_plant,_p_harv_esti,_p_plant_period,_p_prod_period,_p_harv_period){


$.post(
    "./product-inventory",
    {
      "action": "update_plant",
      "pid": _plant_id,  
      "plname":_p_name,
      "plvariety":_p_variety,
      "pstartdate":_p_start_d,
      "pnoplant":_p_no_plant,
      "pharvesti":_p_harv_esti,
      "plantperiod":_p_plant_period,
      "plantprod":_p_prod_period,
      "plantharv":_p_harv_period,
      "plname_id":_plantz_name_id,
      "plvariety_id":_plantz_variety_id

    },
  );

}



  </script>
    </script>

  </body>
</html>
