<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Traceability reports</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-igh sidebar-mini sidebar-collapse ">
    <div class="wrapper">

        {% include '/shared/header.html' %}

        {% include '/shared/main-sidebar.html' %}

        <div class="content-wrapper">

            <section class="content-header">

                <div class="col-xs-12 ">
                    <div class="row">
                        <div class="">
                            <a href="../activated-products" class="btn btn-light-green btn-flat" onclick="deactivate_account();"> <i
                                    class="fa fa-chevron-left pr-2"></i>Greenhouses</a>
                        </div>
                        <!-- <div class="float-sm-right">
                <a href="./export" class="btn btn-lg btn-lg-custom btn-success-outline btn-flat mt-4 mr-3"><i class="fa fa-download pr-2"></i> Export</a>
                 </div> -->
                    </div>
                    <h3>{{GREENHOUSE.greenhouse.greenhouse_ref}}</h3>
                </div>

            </section>

            <section class="content">


                <!-- Summary -->

                <!-- <div class="row mb-5">
            <div class="col-sm-4 col-md-2 pr-sm-0">
              <div class="summary-grey-outline mt-4">
                <p>
                  4<br />
                  <span class="inverse">Total reports</span>
                </p>
              </div>
            </div>
          </div> -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive accounts-records">
                            <table class="table accounts-table custom-collapsable-table mt-4">


                                <tbody>



                                    <tr>
                                        <td colspan="8" class="">
                                            <div id="" class="">

                                                <div class="col-xs-12 col-sm-10">
                                                    {% if SHIELD != {} %}
                                                    <span class="f-14-bold dark-grey-text">Shield-
                                                        {{SHIELD.customer_shield.shield.serial.boron_id}}</span><br />
                                                    {%else%}
                                                    <span class="f-14-bold dark-grey-text">Shield- NA</span><br />
                                                    {%endif%}
                                                    <span class="f-12">Below are the details </span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="nav-tabs-custom data mt-4 mb-5">
                                                            <ul class="nav nav-tabs">
                                                                <li class="active"><a href="#shield-details"
                                                                        data-toggle="tab" aria-expanded="false">Shield
                                                                        Details</a></li>
                                                                <li class=""><a href="#spear-details" data-toggle="tab"
                                                                        aria-expanded="true">Spear details</a></li>
                                                                <li class=""><a href="#plant-associated"
                                                                        data-toggle="tab" aria-expanded="true">Plant
                                                                        associated</a></li>
                                                                <li class=""><a href="#inactive-plants"
                                                                        data-toggle="tab" aria-expanded="true">Inactive
                                                                        plants</a></li>

                                                            </ul>
                                                        </div>

                                                        <div class="tab-content">
                                                            <!-- Daily report score -->
                                                            <div id="shield-details" class="tab-pane active">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <h6 class="f-14-bold dark-grey-text">Shield
                                                                            Details</h6>
                                                                    </div>
                                                                </div>

                                                                <div class="row mt-4">
                                                                    <div class="col-xs-6 col-sm-5 col-lg-3">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Shield Type</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.customer_shield.shield.type.name}}
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Assigned By</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.customer_shield.created_by.first_name}}
                                                                                {{SHIELD.customer_shield.created_by.last_name}}</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Assigned Date</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.customer_shield.created}}</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Longitude of device</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.latitude}}</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Latitude of device</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.longitude}}</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Area of growth</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.growth_area}} SqM</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Type of soil</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.soil_type.name}}</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Battery</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.customer_shield.shield.serial.shield_battery_level}}
                                                                                %</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Signal</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>0</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div id="spear-details" class="tab-pane">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <h6 class="f-14-bold dark-grey-text"><img
                                                                                src="/admin/static/img/icons/plant-info.svg"
                                                                                alt="" class="mr-2"> Spear Details</h6>
                                                                    </div>
                                                                </div>

                                                                <div class="row mt-4">
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Spear ID</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.customer_shield.shield.serial.spear_actual_id}}</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Battery</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>{{SHIELD.customer_shield.shield.serial.spear_battery_level}}
                                                                                %</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Signal</p>
                                                                            {%if SHIELD != {}%}
                                                                            <span>0</span>
                                                                            {%else%}
                                                                            <span>NA</span>
                                                                            {%endif%}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div id="plant-associated" class="tab-pane">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <h6 class="f-14-bold dark-grey-text"> Plant
                                                                            Associated</h6>
                                                                    </div>
                                                                </div>

                                                                <div class="nav-tabs-custom data mt-4 mb-5">
                                                                    <ul class="nav nav-tabs">
                                                                        {% if PLANTS != {} %}
                                                                        <li class="active"><a
                                                                                href="#plant-{{PLANTS.id}}"
                                                                                data-toggle="tab"
                                                                                aria-expanded="false">{{PLANTS.crop.plant.name}}</a>
                                                                        </li>
                                                                        {%else%}
                                                                        <li class="active"><a href="" data-toggle="tab"
                                                                                aria-expanded="false">NA</a></li>
                                                                        {%endif%}
                                                                        <!-- <li class=""><a href="#plant-2" data-toggle="tab" aria-expanded="true">Plant 2</a></li>
                                          <li class=""><a href="#plant-3" data-toggle="tab" aria-expanded="true">Plant 3</a></li>
                                          <li class=""><a href="#plant-4" data-toggle="tab" aria-expanded="true">Plant 4</a></li> -->

                                                                    </ul>
                                                                </div>


                                                                <div id="plant-1" class="tab-pane">

                                                                    <div class="row mt-4">
                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>Planting start date</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.start_date}}</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>Variety of plant</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.crop.name}}</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>No of Plants</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.seedling_tally}}</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>Harvest Estimate</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.harvest_estimate}}
                                                                                    KG</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>Planting Period</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.planting_period}}
                                                                                    days</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>Production Period</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.production_period}}
                                                                                    days</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}

                                                                            </div>
                                                                        </div>


                                                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                            <div class="meta-data-box mb-4">
                                                                                <p>Harvest Period</p>
                                                                                {% if PLANTS != {} %}
                                                                                <span>{{PLANTS.harvest_period}}
                                                                                    days</span>
                                                                                {%else%}
                                                                                <span>NA</span>
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>


                                                                <!-- <div id="plant-2" class="tab-pane">

                                        <div class="row mt-4">
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                             <p>Planting start date</p>
                                             <span>12/11/2022</span>
                                           </div>
                                         </div>
                                         <div class="col-xs-4 col-sm-3 col-lg-2">
                                           <div class="meta-data-box mb-4">
                                             <p>Variety of plant</p>
                                             <span>Tomoato</span>
                                           </div>
                                         </div>
                                         <div class="col-xs-4 col-sm-3 col-lg-2">
                                           <div class="meta-data-box mb-4">
                                             <p>No of Plants</p>
                                             <span>20</span>
                                           </div>
                                         </div>

                                         <div class="col-xs-4 col-sm-3 col-lg-2">
                                           <div class="meta-data-box mb-4">
                                             <p>Harvest Estimate</p>
                                             <span>100KG</span>
                                           </div>
                                         </div>

                                         <div class="col-xs-4 col-sm-3 col-lg-2">
                                           <div class="meta-data-box mb-4">
                                             <p>Planting Period</p>
                                             <span>20 days</span>
                                           </div>
                                         </div>

                                         <div class="col-xs-4 col-sm-3 col-lg-2">
                                           <div class="meta-data-box mb-4">
                                             <p>Production Period</p>
                                             <span>20 days</span>
                                           </div>
                                         </div>


                                         <div class="col-xs-4 col-sm-3 col-lg-2">
                                           <div class="meta-data-box mb-4">
                                             <p>Harvest Period</p>
                                             <span>20 days</span>
                                           </div>
                                         </div>

                                       </div>
                                   </div> -->
                                                            </div>


                                                            <!-- Harvest information-->
                                                            <div id="inactive-plants" class="tab-pane">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <h6 class="f-14-bold dark-grey-text"><img
                                                                                src="/admin/static/img/icons/harvest-info.svg"
                                                                                alt="" class="mr-2"> Harvest information
                                                                        </h6>
                                                                    </div>
                                                                </div>

                                                                <div class="row mt-4">
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Date of harvest</p>
                                                                            <span>NA</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Time of harvest</p>
                                                                            <span>NA</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                                                        <div class="meta-data-box mb-4">
                                                                            <p>Kilos harvested</p>
                                                                            <span>NA</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>





















                            <div class="content-wrapper">
                                <section class="content-header">
                                    <h1>Plants Journey</h1>
                                </section>
                                <section class="content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="nav-tabs-custom data mb-5">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#active-plant" data-toggle="tab"
                                                            aria-expanded="false">Active Plants</a></li>
                                                    <li class=""><a href="#inactive-plant" data-toggle="tab"
                                                            aria-expanded="true">Inactive Plants</a></li>

                                                </ul>
                                            </div>

                                            <div class="tab-content">
                                                <!-- Active Plant -->
                                                <div id="active-plant" class="tab-pane active">
                                                    <!-- <div class="row">
                                    <div class="col-xs-12">
                                      <h3 class="mt-2 f-22-medium">Greenhouses <span class="badge badge-default">{{GHOUSES|list|length}}</span></h3>
                                    </div>
                                  </div> -->

                                                    <div class="row search-users">
                                                        <div class="col-xs-3 col-sm-2 col-md-1">
                                                            <button class="btn btn-success btn-flat btn-filter"
                                                                onclick="filter();"><i class="fa fa-filter"></i>
                                                                Filter</button>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                                                            <div class="shadow-outline">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon">
                                                                            <i class="fa fa-search"></i>
                                                                        </div>
                                                                        <input type="text"
                                                                            placeholder="Search by greenhouse ID/assigned by/created date"
                                                                            class="form-control" id="" />
                                                                        <div class="input-group-addon">
                                                                            <button
                                                                                class="btn btn-sm btn-link btn-clear-search">Clear
                                                                                all filters</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row accounts mt-5">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <table
                                                                    class="table custom-normal-table accounts-records">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                NAME OF PLANT
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                PLANTING DATE
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                STAGE OF PLANT
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                DATE STAGE ENTERED
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>

                                                                            <th>
                                                                                TIME STAGE ENTERED
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                HARVEST AMOUNT
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>&nbsp;</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                {% if  PLANTS != {}%}
                                                                                <span
                                                                                    class="dark-grey-text f-14-bold">{{PLANTS.crop.plant.name}}</span>
                                                                                    {%else%}
                                                                                    <span>NA</span>
                                                                                    {%endif%}
                                                                            </td>
                                                                            <td>
                                                                                <a href="#" data-toggle="tooltip"
                                                                                    data-placement="top"
                                                                                    title="This is...."
                                                                                    class="tooltip-link">
                                                                                    <span class="question-icon">
                                                                                        <i
                                                                                            class="fa fa-question green-text"></i>
                                                                                    </span>
                                                                                    {%if PLANTS != {}%}
                                                                                    {{PLANTS.start_date}}
                                                                                    {%else%}
                                                                                    NA
                                                                                    {%endif%}
                                                                                </a>
                                                                            </td>
                                                                            {%if PLANTS != {}%}
                                                                            <td>{{PLANTS.planting_id.current_production_stage.production_stage.name}}
                                                                            </td>
                                                                            {%else%}
                                                                            <td> NA</td>
                                                                            {%endif%}







                                                                            <td>NA</td>

                                                                            <td>
                                                                                NA
                                                                            </td>

                                                                            <td><span
                                                                                    class="badge badge-success active">NA</span>
                                                                            </td>

                                                                            <td>
                                                                            </td>




                                                                        </tr>

                                                                    </tbody>

                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- External shields-->

                                                <div id="inactive-plant" class="tab-pane">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 class="mt-2 f-22-medium">Inactive Plants <span
                                                                    class="badge badge-default">{{SHIELDS|list|length}}</span>
                                                            </h3>
                                                        </div>
                                                    </div>

                                                    <div class="row search-users">
                                                        <div class="col-xs-3 col-sm-2 col-md-1">
                                                            <button class="btn btn-success btn-flat btn-filter"
                                                                onclick="filter();"><i class="fa fa-filter"></i>
                                                                Filter</button>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                                                            <div class="shadow-outline">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon">
                                                                            <i class="fa fa-search"></i>
                                                                        </div>
                                                                        <input type="text"
                                                                            placeholder="Search by greenhouse ID/assigned by/created date"
                                                                            class="form-control" id="" />
                                                                        <div class="input-group-addon">
                                                                            <button
                                                                                class="btn btn-sm btn-link btn-clear-search">Clear
                                                                                all filters</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row accounts mt-5">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <table
                                                                    class="table custom-normal-table accounts-records">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                NAME OF PLANT
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                PLANTING DATE
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                STAGE OF PLANT
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                DATE STAGE ENTERED
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>


                                                                            <th>
                                                                                TIME STAGE ENTERED
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>
                                                                                HARVEST AMOUNT
                                                                                <i
                                                                                    class="fa fa-long-arrow-up mr-n1"></i>
                                                                                <i class="fa fa-long-arrow-down"></i>
                                                                            </th>
                                                                            <th>&nbsp;</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <span class="dark-grey-text f-14-bold">
                                                                                    <!-- value -->
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <!-- <a href="#" data-toggle="tooltip"
                                                                                    data-placement="top"
                                                                                    title="This is...."
                                                                                    class="tooltip-link">
                                                                                    <span class="question-icon">
                                                                                        <i
                                                                                            class="fa fa-question green-text"></i>
                                                                                    </span> -->
                                                                                <!-- name -->
                                                                                </a>
                                                                            </td>

                                                                            <td>
                                                                                <!-- spear_actual_id -->
                                                                            </td>


                                                                            <td>
                                                                                <!-- <span class="avatar"
                                                                                    style="background-image: url(/customer/static/img/avatar.png);">
                                                                                    &nbsp;
                                                                                </span>
                                                                                <span class="names">
                                                                                    first_name last_name
                                                                                    <span class="date">created</span>
                                                                                </span> -->
                                                                            </td>

                                                                            <td>
                                                                            </td>
                                                                            <td>
                                                                            </td>




                                                                        </tr>
                                                                    </tbody>

                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>




                                            </div>
                                        </div>
                                    </div>

                                    <!--  ./row -->
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
        $(function () {
            $(".select2").select2();
            $("input[type='checkbox'].minimal").iCheck({
                checkboxClass: "icheckbox_minimal-green",
            });
        });
    </script>
</body>

</html>