<link rel="shortcut icon" type="image/png" href="{{url_for('.static',filename='img/favicon.png')}}">

<!-- Select2 -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

<link rel="stylesheet" href="{{url_for('.static',filename='bootstrap/css/bootstrap.min.css')}}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="{{url_for('.static',filename='css/AdminLTE.min.css')}}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{{url_for('.static',filename='css/skins/_all-skins.min.css')}}">
<!-- iCheck -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/iCheck/flat/_all.css')}}">
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/iCheck/minimal/_all.css')}}">
<!-- Morris chart -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/morris/morris.css')}}">
<!-- jvectormap -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/jvectormap/jquery-jvectormap-1.2.2.css')}}">
<!-- Date Picker -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/datepicker/datepicker3.css')}}">
<!-- Daterange picker -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/daterangepicker/daterangepicker-bs3.css')}}">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="{{url_for('.static',filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">

<link rel="stylesheet" href="{{url_for('.static',filename='css/helper.css')}}" />

<link rel="stylesheet" href="{{url_for('.static',filename='css/skins/radio-pill.css')}}">

<link rel="stylesheet" href="{{url_for('.static',filename='css/skins/skin-igh.css')}}">
