<div class="">
  <div class="modal fade" id="switch_farm" tabindex="-1" role="dialog" aria-labelledby="switch_farm_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-sm-12">
              <h3>Switch farm</h3>
              
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <ul class="farms">
                {% for farm in FARMS %}
                  <li class="farm{% if farm.farm.status == 0 %} inactive-farm{% endif %}{% if farm.farm.id|string == session.farm|string %} active-farm{% endif %}">
                    
                    <a onclick="switch_farm('{{farm.farm.id}}')">
                      <span class="photo" style="background-image: url(/customer/static/img/farm.jpg)">
                        {% if farm.farm.status == "Active" %}
                        <span class="is-active label badge">Active</span>
                        {% endif %}
                        {% if farm.farm.status == "Inactive" %}
                        <span class="inactive label badge">Inactive</span>
                        {% endif %}
                      </span>
                    </a>
                    <span class="meta">
                      <span class="name" ><a onclick="switch_farm('{{farm.farm.id}}')">{{farm.farm.name}}</a></span>
                      <span class="location"><i class="fa fa-map-marker"></i> {{farm.farm.city}}</span>
                      <span class="edit-farm"><a href="/customer/farms/{{farm.farm.id}}/edit"><i class="fa fa-pencil"></i></a></span>
                    </span>
                  </li>
                {% endfor %}
                <li class="farm farm-add">
                  <a href="/customer/farms/add">
                    <span class="photo">
                      <i class="fa fa-plus fa-2x"></i><br />
                      <span class="name">Add Farm</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="switch_farms" tabindex="-1" role="dialog" aria-labelledby="switch_farm_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-sm-12">
              <h3>Switch farm</h3>
              
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <ul class="farms">
                {% for farm in FARMS %}
                  <li class="farm{% if farm.farm.status == 0 %} inactive-farm{% endif %}{% if farm.farm.id|string == session.farm|string %} active-farm{% endif %}">
                    
                    <a onclick="switch_farm('{{farm.farm.id}}')">
                      <span class="photo" style="background-image: url(/customer/static/img/farm.jpg)">
                        {% if farm.farm.status == 1 %}
                        <span class="is-active label badge">Active</span>
                        {% endif %}
                        {% if farm.farm.status == 0 %}
                        <span class="inactive label badge">Inactive</span>
                        {% endif %}
                      </span>
                    </a>
                    <span class="meta">
                      <span class="name" ><a onclick="switch_farm('{{farm.farm.id}}')">{{farm.farm.name}}</a></span>
                      <span class="location"><i class="fa fa-map-marker"></i> {{farm.farm.city}}</span>
                      <span class="edit-farm"><a href="/customer/farms/{{farm.id}}/edit"><i class="fa fa-pencil"></i></a></span>
                    </span>
                  </li>
                {% endfor %}
                <li class="farm farm-add">
                  <a href="/customer/farms/add">
                    <span class="photo">
                      <i class="fa fa-plus fa-2x"></i><br />
                      <span class="name">Add Farm</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="modal fade custom-modal" id="switch_menu" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
    <div class="modal-dialog1 modal-sm" role="document">
      <div class="">
       
        <div class="modal-body">
          <div onclick="location.href='/customer/reports/daily-work';">
            
             
                <div class="dialog-mod-text col-xs-4">
                  <label >Create daily work report</label>
                 
                </div>
               
             
            </div>
          
          


          <div onclick="location.href='/customer/support/';">
            
              <div class="dialog-mod-text float-right">
                <label >Maintenance or support</label>
               
              </div>
           
          </div>
        </div>

       
      </div>
    </div>
  </div>





  



  


  <div class="raw col-xs-12 footer-container navbar-fixed-bottom visible-xs-block">
    <nav class="footer-navbar ">
      <div class="dots-btn" data-toggle="modal" data-target="#switch_menu">
        
        <div class="dot dot-2">

          <div class="plus-business">

            <!-- <a href="#" class="nav-menu-link nav-menu-setting"><i class="fas fa-home"></i></a> -->

          </div>


        </div>
        
      </div>
      <div onclick="location.href='/customer/';" class="">
        <!-- <a href="/customer/support/" class="nav-menu-link nav-menu-setting"><i class="fas fa-home"></i></a> -->
        
       
        <!-- <a href="/customer/reports/daily-work" class="nav-menu-link nav-menu-setting"
          ><j class="fas fa-address-card"></j
        ></a> -->
      </div>
      <div class="row col-xs-12">
      
      <div onclick="location.href='/customer/';" class="nav-menu-business col-xs-2"></div>


      <div onclick="location.href='/customer/alerts/';"class="nav-menu-notify col-xs-2">
        
      </div>

      <div class="col-xs-4"></div>

      

      <div onclick="location.href='/customer/settings/activity-log';" class="nav-menu-alert col-xs-2"></div>


      <div class="nav-menu-profile col-xs-2"onclick="location.href='/customer/settings/profile';"></div>
    </div>


     
    </nav>
  </div>
</div>


