<header class="main-header visible-lg-block visible-md-block">
  <span class="logo">
    <a href="#" class="sidebar-toggle logo-lg" data-toggle="offcanvas" role="button">
      <img src="{{url_for('.static',filename='img/FarmCloud alone.png')}}" height="20">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a href="#" class="sidebar-toggle logo-mini" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </span>
</header>
