<aside class="main-sidebar ">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar ">
		{% if CUSTOMER_PORTAL %}
		<div class="user-panel">
      <div class="pull-left">
		
				{% if FARMS|length > 1 %}
						<a href=""   data-toggle="modal" data-target="#switch_farm"><div class="farm-icon ">&nbsp;</div></a>
						{% endif %}
      </div>
      <div class="pull-left info">
				<div class="row">
					<div class="col-sm-6 farm-name">{%if FARM %}{{FARM.name}}{%else%}No selected farm{%endif%}</div>
					<div class="col-sm-6 farm-actions">
						<!-- {% if FARMS|length > 1 %}
						<a href=""   data-toggle="modal" data-target="#switch_farm">Switch</a>
						{% endif %} -->
					</div>
				</div>
      </div>
	  <!-- <button class="pull-right"style="color: #000;">Switch</button> -->
    </div>
		{% endif %}

		<!-- Sidebar user panel -->
		<div class="user-panel " style="min-height: 55px; display:none;">
			<div class="info" style="left: 0px">
				
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu ">
			{% if ADMIN_PORTAL %}
			<li class="{{ADMIN_PORTAL_DASHBOARD_ACTIVE}}">
				<a href="/admin/">
					<i class="fa fa-bar-chart"></i> <span>Summary</span>
				</a>
			</li>
			<li class="{{ADMIN_PORTAL_INVENTORY_ACTIVE}}">
				<a href="/admin/inventory">
					<i class="fa fa-cubes"></i> <span>Inventory</span>
				</a>
			</li>
			<li class="{{ADMIN_PORTAL_CUSTOMERS_ACTIVE}}">
				<a href="/admin/customers">
					<i class="fa fa-users"></i> <span>Customers</span>
				</a>
			</li>

			<li class="{{ADMIN_PORTAL_MAINTENANCE_ACTIVE}}">
				<a href="/admin/maintenance">
					<i class="fa fa-wrench"></i> <span>Maintenance</span>
				</a>
			</li>
			<li class="{{ADMIN_PORTAL_ALERTS_ACTIVE}}">
				<a href="/admin/alerts">
					<i class="fa fa-bell-o"></i> <span>Alerts</span>
				</a>
			</li>

			<hr noshade />

			<li class="treeview {{ADMIN_PORTAL_REPORTS_ACTIVE}}">
				<a href="#">
					<i class="fa fa-list-alt"></i> <span>Reports</span>  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="/admin/reports/daily"> Daily work reports</a></li>
					<li><a href="/admin/reports/traceability"> Traceability record</a></li>
				</ul>
			</li>

			<hr noshade />

			<li class="treeview {{ADMIN_PORTAL_SETTINGS_ACTIVE}}">
				<a href="#">
					<i class="fa fa-gear"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li class="{{ADMIN_PORTAL_SETTINGS_USER_PROFILE_ACTIVE}}"><a href="/admin/settings/profile"> My Profile</a></li>
					<li class="{{ADMIN_PORTAL_SETTINGS_USER_INVITES_ACTIVE}}"><a href="/admin/settings/users"> Users & Invites</a></li>
					<li class="{{ADMIN_PORTAL_SETTINGS_USER_ROLES_ACTIVE}}"><a href="/admin/settings/roles"> User Roles</a></li>
					<li class="{{ADMIN_PORTAL_SETTINGS_USER_ACTIVITY_LOG_ACTIVE}}"><a href="/admin/settings/activity-log"> Activity log</a></li>
					<li class=""><a href="/logout"> Logout</a></li>
					<!-- <li class="user-config no-hover" style="margin-top: 15px;">

						
						<fieldset class="r-pill">
						  <div class="r-pill__group">
							<span class="badge badge-primary">°F</span>
						
							<span> °C  </span>
							
						  </div>
						</fieldset>
					</li> -->

               <form>
					
                    <li class="user-config no-hover" style="margin-top: 15px;">
					<div class="btn-group btn-group-toggle r-pill" data-toggle="buttons">
						<label class="btn r-pill__group btn-primary  active">
						  <input type="radio" name="options_ce"  class="form-control form-control-sm" id="option1" autocomplete="off" checked><span class="badge badge-primary">°C </span> 
						</label>
						<label class="btn r-pill__group btn-primary ">
						  <input type="radio" class="form-control text-muted" name="options_fa" id="option2" autocomplete="off"> <span class="badge badge-primary">°F</span> 
						</label>
						
					</div>
				</li>


				<li class="user-config no-hover">
					<div class="btn-group btn-group-toggle r-pill" data-toggle="buttons">
						<label class="btn r-pill__group btn-primary  active">
						  <input type="radio" name="options_litu"  class="form-control form-control-sm" id="option_lit" autocomplete="off" checked><span class="badge badge-primary">Litres </span> 
						</label>
						<label class="btn r-pill__group btn-primary ">
						  <input type="radio" class="form-control text-muted" name="options_gallons" id="option2" autocomplete="off"> <span class="badge badge-primary">Gallon</span> 
						</label>
					</div>
						
					</li>


					<li class="user-config no-hover">
						<div class="btn-group btn-group-toggle r-pill" data-toggle="buttons">
							<label class="btn r-pill__group btn-primary  active">
							  <input type="radio" name="options_m"  class="form-control form-control-sm" id="option1" autocomplete="off" checked><span class="badge badge-primary">Meter </span> 
							</label>
							<label class="btn r-pill__group btn-primary ">
							  <input type="radio" class="form-control text-muted" name="options_feet" id="option2" autocomplete="off"> <span class="badge badge-primary">Feet</span> 
							</label>
						</div>
							
						</li>

					</form>


					
					<!-- <li class="user-config no-hover">
						<fieldset class="r-pill">
						  <div class="r-pill__group">
							<span class="badge badge-primary">Litres</span>
							<span >Gallon</span>
						  </div>
						</fieldset>
					</li> -->
					<!-- <li class="user-config no-hover" style="margin-bottom: 15px;">
						<fieldset class="r-pill">
						  <div class="r-pill__group">
							<span >Meter</span>
							<span class="badge badge-light">Feet</span>
						  </div>
						</fieldset>
					</li> -->
				</ul>
			</li>
			<hr noshade />
			{% endif %}
			{% if CUSTOMER_PORTAL %}
			<li class="{{CUSTOMER_PORTAL_DASHBOARD_ACTIVE}} ">
				<a href="/customer/">
					<i class="fa fa-bar-chart"></i> <span>Summary</span>
				</a>
			</li>
			<li class="{{CUSTOMER_PORTAL_SUPPORT_ACTIVE}}">
				<a href="/customer/support">
					<i class="fa fa-wrench"></i> <span>Support</span>
				</a>
			</li>
			<li class="{{CUSTOMER_PORTAL_ALERTS_ACTIVE}}">
				<a href="/customer/alerts">
					<i class="fa fa-bell-o"></i> <span>Alerts</span>
				</a>
			</li>
			<li class="{{CUSTOMER_PORTAL_REPORTS_ACTIVE}}">
				<a href="/customer/reports/daily-work">
					<i class="fa fa-list-alt"></i> <span>Daily work reports</span>
				</a>
			</li>
			<hr noshade />

			<li class="treeview {{CUSTOMER_PORTAL_PRODUCTS_ACTIVE}}">
				<a href="#">
					<i class="fa"><img src="/customer/static/img/favicon.png" class="igh-icon" /></i> <span>My products</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="/customer/inventory/product-inventory"> Product inventory</a></li>
					<li><a href="/customer/inventory/activated-products"> Activated products</a></li>
					<li><a href="/customer/inventory/fertilizers-agrochems"> Fertilizers & Agrochemicals</a></li>
				</ul>
			</li>
			<hr noshade />
			<li class="treeview {{CUSTOMER_PORTAL_SETTINGS_ACTIVE}}">
				<a href="#">
					<i class="fa fa-gear"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="/customer/settings/profile"> My profile</a></li>
					<li><a href="/customer/settings/users"> Users & invites</a></li>
					<li><a href="/customer/settings/roles"> User roles</a></li>
					<li><a href="/customer/settings/activity-log"> Activity log</a></li>
					<li><a href="/logout"> Logout</a></li>
					<form name="frm_type" action="" method="post" enctype="application/x-www-form-urlencoded">
					<li class=" no-hover" >
						<div class="btn-group btn-group-toggle r-pill" data-toggle="buttons">
							<label class="btn r-pill__group btn-primary  active">
							  <input type="radio" name="options_c"  class="form-control form-control-sm" id="option1" autocomplete="off" checked><span class="badge badge-primary">°C </span> 
							</label>
							<label class="btn r-pill__group btn-primary ">
							  <input type="radio" class="form-control text-muted" name="options_f" value = "1"id="option2" autocomplete="off"> <span class="badge badge-primary">°F</span> 
							</label>
							
						</div>
					</li>
	
	
					<li class=" no-hover" >
						<div class="btn-group btn-group-toggle r-pill" data-toggle="buttons">
							<label class="btn r-pill__group btn-primary  active">
							  <input type="radio" name="options_lit"  class="form-control form-control-sm" id="option1" autocomplete="off" checked><span class="badge badge-primary">Litres </span> 
							</label>
							<label class="btn r-pill__group btn-primary ">
							  <input type="radio" class="form-control text-muted" name="options_gallon" id="option2" autocomplete="off"> <span class="badge badge-primary">Gallon</span> 
							</label>
						</div>
							
						</li>
	
	
						<li class=" no-hover" >
							<div class="btn-group btn-group-toggle r-pill" data-toggle="buttons">
								<label class="btn r-pill__group btn-primary  active">
								  <input type="radio" name="options" value="meter" class="form-control form-control-sm" id="option1" autocomplete="off" checked><span class="badge badge-primary">Meter </span> 
								</label>
								<label class="btn r-pill__group btn-primary ">
								  <input type="radio" class="form-control text-muted" value="feets" name="options" id="option2" autocomplete="off"> <span class="badge badge-primary">Feet</span> 
								</label>
							</div>
								
							</li>

						</form>


						
					<!-- <li class="user-config no-hover" style="margin-top: 15px;">
						<fieldset class="r-pill">
						  <div class="r-pill__group">
							
						  </div>
						</fieldset>
					</li> -->

					
					<!-- <li class="user-config no-hover">
						
						<fieldset class="r-pill">
						  <div class="r-pill__group">
							
						  </div>
						</fieldset>
					</li> -->
					<!-- <li class="user-config no-hover" style="margin-bottom: 15px;">
						<fieldset class="r-pill">
						  <div class="r-pill__group">
						  	
						  </div>
						</fieldset>
					</li> -->
				</ul>
			</li>
			<hr noshade />

			{% endif %}
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
<script type="text/javascript">

function submit_form() {
          $("form[name='frm_type']").submit();
      }

</script>
