<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Create report</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse create-report user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Create traceability report
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./traceability';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();" >Export</button>
            <!-- onclick="document.location.href='./export';" -->
          </span>
        </section>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>1. Form your report base</h3>
                  </div>
                </div>


                <form name="frm_trace" action="" method="post" enctype="application/x-www-form-urlencoded">

                <div class="row mt-3">
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Report ID<br />
                        <span class="date-today">R-XXXX</span>
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Date of creation<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Created by<br />
                        <span class="date-today">{{PROFILE.user.first_name}} {{PROFILE.user.last_name}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="meta-data mb-4">
                      <p>
                        Location<br />
                        <div name="address" id="address"></div>
                        <!-- <span type="text" id="address" class="date-today">Nairobi</span> -->
                      </p>
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-6 col-sm-6">
                    <div class="meta-data mb-4">
                      <p>
                        DATE FROM<br />
                        <input  type="date" id="date_from" name="date_from" class="form-control"></input>
                      </p>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="meta-data mb-4">
                      <p>
                        DATE TO<br />
                        <input  type="date" id="date_to" name="date_to" class="form-control"></input>
                      </p>
                    </div>
                  </div>
                 
                
                </div>

                <div class="custom-form mt-4">
                 
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Customer ID</label>
                          <select name="customer_id" id="customer_id" class="form-control select2 green-bg" required="required" onchange="populate(this.id,'farm_id')">
                            {% for customer in CUSTOMER %}
                            {% if customer.status == 'Active'%}
                            <option value="{{customer.id}}"  {% if customer.id == customer_id %}selected="selected"{%endif%}>{{customer.main_id}}</option>
                            {% endif %}
                            {%endfor%}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Farm ID</label>
                         
                          <select name="farm_id" id="farm_id" class="form-control select2 green-bg" required="required" >
                            
                            {% for farm in FARMS %}
                            {% if farm.status == 'Active'%}
                            <option value="{{farm.id}}"  {% if farm.id == farm_id %} selected="selected" {%endif%}>F-{{farm.farm.main_id}}</option>
                            
                             
                            {% endif %}
                            {%endfor%}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Device ID</label>
                          <select name="shield_id" class="form-control select2 green-bg" required="required">
                            {% for sh in SHIELDS %}
                            {% if sh.status == 'Active'%}
                            <option value="{{sh.id}}"  {% if sh.id == shield_id %} selected="selected"{%endif%}>{{sh.shield.serial.boron_id}}</option>
                            {% endif %}
                            {%endfor%}
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Plant name</label>
                          <select name="plaint_id" class="form-control select2 green-bg" required="required">
                            {% for plnt in PLANTS %}
                            <option value="{{plnt.id}}" {% if plnt.id == plaint_id %} selected="selected"{%endif%}>{{plnt.name}}</option>
                            {%endfor%}
                          </select>
                        </div>
                      </div>
                    </div>
                    <hr class="separator" />

                    <div class="row">
                      <div class="col-xs-12">
                        <h3>2. Select items you would like to showcase</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/plant-info.svg" alt="" class="mr-2" /> Plant information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="planting_date" value="1" class="minimal pr-5" /> Date of planting </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="veriety_crop" value="1" class="minimal pr-5" /> Variety of crop </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/fertilizer-info.svg" alt="" class="mr-2" /> Fertilizer information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="fertilizer_name" value="1" class="minimal" /> Fertilizer name </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="fertilizer_comp" value="1" class="minimal pr-5" /> Fertilizer component </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="application_date" value="1" class="minimal" /> Date of apllication </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/agrochemical-info.svg" alt="" class="mr-2" /> Agrochemical information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="agro_name" value="1" class="minimal" /> Agrochemical name </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="agro_comp" value="1" class="minimal pr-5" /> Agrochemical component </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="agro_app_date" value="1" class="minimal" /> Date of apllication </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/harvest-info.svg" alt="" class="mr-2" /> Harvest information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="harv_date" value="1" class="minimal" /> Date of harvest </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="harv_time" value="1" class="minimal pr-5" /> Kilos harvested </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/irrigation-info.svg" alt="" class="mr-2" /> Irrigation information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="irrigation" value="1" class="minimal" /> Total irrigation/month </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
   


    <!-- $(document).ready(function(){

      var $customer = $("customer_id"),
      $farm = $("farm_id"),
      $options = $farm.find('option');
      $customer.on('change',function(){
        $farm.html($options.filter('[value="'+this.value+'"]'));
      }).trigger('change');

    }); -->

    <script>

    $.get("https://ipinfo.io?token=993744d53d9589", function (response) {
    $("#ip").html("IP: " + response.ip);
    $("#address").html("" + response.city + ", " + response.region);
    });

    var customerz = {{ CUSTOMER|tojson}};
    var farm = {{ FARMS|tojson }};
    var device = {{ SHIELDS|tojson }}
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });


      // function populate(s1,s2)
      //  {
      //    var s1 = document.getElementById(s1)
      //    var s2 = document.getElementById(s2)

      //    s2.innerHTML = "";

      //    if(s1.value == customerz.id )
      //    {
      //      var optionarray = farm;
      //    }

      //    for(var option in optionarray)
      //    {
      //      var farm_id = optionarray['farm']['farm']['farm_ref']
      //      var newoption = document.createElement("option");
      //      newoption.value = farm_id;
      //      newoption.innerHTML=farm_id;
      //      s2.option.add(newoption)

      //    }
      //  }

     
      function submit_form() {
      $("form[name='frm_trace']").submit();
     
    }

    
    </script>
  </body>
</html>
