<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Export report</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row mb-5">
                <div class="col-sm-6 col-md-8">
                  {% if TRACE != {}  %}
                  <h3 class="f-22-medium">Report ID: R- {{TRACE.report_id.main_id}}</h3>
                  {%else%}
                  <h3 class="f-22-medium">Report ID: R- (NA)</h3>
                  {%endif%}
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 mt-3">
                  <div class="f-12 light-grey-text">Date of creation</div>
                  <div class="f-14-bold">{{TRACE.created}}</div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 mt-3">
                  <div class="f-12 light-grey-text">Created by</div>
                  {% if TRACE != {}  %}
                  <div class="f-14-bold">{{TRACE.created_by.first_name}} {{TRACE.created_by.last_name}}</div>
                  {%else%}
                  <div class="f-14-bold">NA</div>
                  {%endif%}
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-5">
                  <div class="white-block shadow-outline p-5">
                    <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/farm-details.svg" alt="" class="mr-2"> Farmer details</h6>
                    <div class="row">
                      <div class="col-xs-6  col-sm-4">
                        <div class="meta-data-box mb-4">
                          <p>Customer ID</p>
                          {% if TRACE != {}  %}
                          <span>{{TRACE.customer_id.main_id}}</span>
                          {%else%}
                          <span>NA</span>
                          {%endif%}
                        </div>
                      </div>
                      <div class="col-xs-6  col-sm-4">
                        <div class="meta-data-box mb-4">
                          <p>Farm ID</p>
                          {% if TRACE != {}  %}
                          <span>F-{{TRACE.customer_farm_id.farm.main_id}}</span>
                          {%else%}
                          <span>NA</span>
                          {%endif%}
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-xs-6 col-sm-7">
                        <div class="meta-data-box mb-4">
                          <p>Device ID</p>
                          {% if TRACE != {}  %}
                          <span>{{TRACE.customer_shield_id.shield.serial.boron_id}}</span>
                          {%else%}
                          <span>NA</span>
                          {%endif%}
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-5">
                        <div class="meta-data-box mb-4">
                          <p>Location ID</p>
                          {% if TRACE != {}  %}
                          <span>F-{{TRACE.customer_farm_id.farm.city}}</span>
                          {%else%}
                          <span>NA</span>
                          {%endif%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-5">
                    <div class="white-block shadow-outline p-5 report-height">
                      <h6 class="f-14-bold dark-grey-text">Daily report score</h6>
                      <div class="row">
                        <div class="col-md-3">
                            <div class="btn btn-success  mt-3">
                                <span class="white-text">Good</span>
                              </div>
                          <p class="mt-2">Average daily report score</p>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row ">
               <div class="col-xs-12">
                  <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/plant-info.svg" alt="" class="mr-2"> Plant information</h6>
                      <div class="row mt-4">
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Date of planting</p>
                              {% for cropz in CROP %}
                              {% if cropz != [] %}
                              <span>{{cropz.start_date}}</span><br>
                              {%else%}
                               <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Plant name</p>
                              {% for cropz in CROP %}
                              {% if cropz != [] %}
                              <span>{{cropz.crop.plant.name}}</span><br>
                              {%else%}
                               <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Plant variety</p>
                              {% for cropz in CROP %}
                              {% if cropz != [] %}
                              <span>{{cropz.crop.name}}</span><br>
                              {%else%}
                              <span>NA</span>
                             {%endif%}
                             {%endfor%}
                            </div>
                          </div>
                        </div>
                  </div>
               </div>
            </div>

            <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/agrochemical-info.svg" alt="" class="mr-2"> Agrochemical information</h6>
                      <div class="row mt-4">
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Agrochemical name</p>
                              {% for agro in AGRO %}
                              {% if agro != [] %}
                               <span>{{agro.agrochemical.name}}</span><br>
                              {%else%}
                               <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Agrochemical component</p>
                              {% for agro in AGRO %}
                              {% if agro != []%}
                              <span>NA</span><br>
                              {%else%}
                              <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Date of application</p>
                              {% for agro in AGRO %}
                              {% if agro != [] %}
                              <span>{{agro.date_time_applied}}</span><br>
                              {%else%}
                              <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                        </div>
                   </div>
                </div>
             </div>

            <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/fertilizer-info.svg" alt="" class="mr-2"> Fertilizer information</h6>
                       <div class="row mt-4">
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Fertilizer name</p>
                              {% for fert in FERT%}
                              {%if fert != []%}
                              <span>{{fert.fertilizer.name}}</span><br>
                              {%else%}
                              <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Fertilizer component</p>
                              {% for fert in FERT%}
                              {%if fert.fertilizer != []%}
                              <span>NA</span><br>
                              {%else%}
                              <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Date of application</p>
                              {% for fert in FERT%}
                              {%if fert != []%}
                              <span>{{fert.date_time_applied}}</span><br>
                              {%else%}
                             
                              <span>NA</span>
                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                        </div>
                   </div>
                </div>
             </div>

             <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/harvest-info.svg" alt="" class="mr-2"> Harvest information</h6>
                      <div class="row mt-4">
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Date of harvest</p>
                              {% for harv in HARV%}
                              {%if harv != []%}
                              <span>{{harv.harvest_date_time}}</span><br>
                              {%else%}
                              <span>NA</span>

                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                          <!-- <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Time of harvest</p>
                              <span></span>
                            </div>
                          </div> -->
                          <div class="col-xs-6 col-sm-4 col-lg-3">
                            <div class="meta-data-box mb-4">
                              <p>Kilos harvested</p>
                              {% for harv in HARV%}
                              {%if harv != []%}
                              <span>{{harv.kilos_harvested}} kgs</span><br>
                              {%else%}
                              <span>NA</span>

                              {%endif%}
                              {%endfor%}
                            </div>
                          </div>
                        </div>
                   </div>
                </div>
             </div>

             <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/irrigation-info.svg" alt="" class="mr-2"> Irrigation information</h6>
                      <div class="row ">
                          <div class="col-sm-2 chart-meta">
                            {% if TRACE != {}  %}
                            <h6><span class=" dark-grey-text">{{TRACE.customer_shield_id.shield.serial.water_dispensed}} L</span></h6>
                            {%else%}
                            <h6><span class=" dark-grey-text">NA</span></h6>
                            {%endif%}

                            <p>Total irrigation</p>
                          </div>
                        </div>
                   </div>
                </div>
             </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });


    $.get("https://ipinfo.io?token=993744d53d9589", function (response) {
    $("#ip").html("IP: " + response.ip);
    $("#address").html("" + response.city + ", " + response.region);
    });
    </script>
  </body>
</html>
