<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Traceability reports</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="row">
            <div class="col-sm-8">
              <h1>Traceability report <span class="badge badge-default">{{TRACE|list|length}}</span></h1>
            </div>

            <div class="col-sm-4">
              <div class="float-sm-right">
                <a href="" class="btn btn-lg btn-lg-custom btn-success-outline btn-flat mt-4 mr-3"><i class="fa fa-download pr-2"></i> Export</a>
                <a href="./create" class="btn btn-lg btn-lg-custom btn-success btn-flat mt-4">Create a report</a>
              </div>
            </div>
          </div>
        </section>

        <form name="myForm" id="myForm" action="" method="post" enctype="application/x-www-form-urlencoded">
        <section class="content col-sm-12">
          <div class="row search-users">
            <div class="col-xs-3 col-sm-2 col-md-1">
              <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" name="tag" id="tag" placeholder="Search by Customer ID/ Device ID" class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Summary -->

          <!-- <div class="row mb-5">
            <div class="col-sm-4 col-md-2 pr-sm-0">
              <div class="summary-grey-outline mt-4">
                <p>
                  4<br />
                  <span class="inverse">Total reports</span>
                </p>
              </div>
            </div>
          </div> -->

          <div class="row accounts">
            <div class="col-sm-12">
              <div class="table-responsive accounts-records">
                <table class="table accounts-table custom-collapsable-table mt-4">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="" value="" class="minimal" /></th>
                      <th>
                        REPORT ID
                        <i class="fa fa-long-arrow-up mr-n1"></i>
                        <i class="fa fa-long-arrow-down"></i>
                      </th>
                      <th>
                        CUSTOMER ID
                        <i class="fa fa-long-arrow-up mr-n1"></i>
                        <i class="fa fa-long-arrow-down"></i>
                      </th>
                      <th>
                        FARM ID
                        <i class="fa fa-long-arrow-up mr-n1"></i>
                        <i class="fa fa-long-arrow-down"></i>
                      </th>
                      <th>
                        LOCATION
                        <i class="fa fa-long-arrow-up mr-n1"></i>
                        <i class="fa fa-long-arrow-down"></i>
                      </th>
                      <th>
                        CREATED BY & DATE
                        <i class="fa fa-long-arrow-up mr-n1"></i>
                        <i class="fa fa-long-arrow-down"></i>
                      </th>
                      <th>
                        DATE EXTRACTED
                        <i class="fa fa-long-arrow-up mr-n1"></i>
                        <i class="fa fa-long-arrow-down"></i>
                      </th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                 {% for trace in  TRACE  %}
                  <tbody>
                    <tr data-toggle="collapse" data-target="#traceability-report-{{trace.id}}" class="accordion-toggle">
                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                      <td><span class="dark-grey-text f-14-bold">R-{{trace.report_id.main_id}}</span></td>
                      <td>{{trace.customer_id.main_id}}</td>
                      <td>F-{{trace.customer_farm_id.farm.main_id}}</td>
                      <td>{{trace.customer_farm_id.farm.city}}</td>
                      <td>
                        <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                          &nbsp;
                        </span>
                        <span class="names">
                          {{trace.created_by.first_name}} {{trace.created_by.last_name}}
                          <span class="date">{{trace.created}}</span>
                        </span>
                      </td>
                      <td>{{trace.created}}</td>
                      <td>
                        <a href="./export" class="btn b btn-success-outline btn-flat"><i class="fa fa-download pr-2"></i> Export </a>
                      </td>
                    </tr>
                   
                    
                    <tr>
                      <td colspan="8" class="collapsed-row">
                        <div id="traceability-report-{{trace.id}}" class="accordian-body collapse content-container">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="f-14-bold dark-grey-text">Report details </span><br />
                              <span class="f-12">Below are the details </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="nav-tabs-custom data mt-4 mb-5">
                                <ul class="nav nav-tabs">
                                  <li class="active"><a href="#daily-report-{{trace.id}}" data-toggle="tab" aria-expanded="false">Daily report score</a></li>
                                  <li class=""><a href="#plant-info-{{trace.id}}" data-toggle="tab" aria-expanded="true">Plant information</a></li>
                                  <li class=""><a href="#fertilizer-info-{{trace.id}}" data-toggle="tab" aria-expanded="true">Fertilizer information</a></li>
                                  <li class=""><a href="#agro-info-{{trace.id}}" data-toggle="tab" aria-expanded="true">Agrochemical information</a></li>
                                  <li class=""><a href="#harvest-info-{{trace.id}}" data-toggle="tab" aria-expanded="true">Harvest information</a></li>
                                  <li class=""><a href="#irrigation-info-{{trace.id}}" data-toggle="tab" aria-expanded="true">Irrigation information</a></li>
                                </ul>
                              </div>

                              <div class="tab-content">
                                <!-- Daily report score -->
                                <div id="daily-report-{{trace.id}}" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <h6 class="f-14-bold dark-grey-text">Daily report score</h6>
                                        </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-lg-2">
                                              <div class="btn bg-mid-yellow mt-3">
                                                  <span class="white-text">{{trace.report_id.score}}</span>
                                                </div>
                                            <p class="mt-2">Average daily report score</p>
                                          </div>

                                          <div class="col-lg-10">

                                          </div>
                                        </div>
                                </div>

                                <!-- Plant information-->

                                {% for traceplant in TRACEPLANT%}
                                {% if traceplant.traceability_report_id.id == trace.id %}
                               
                                <div id="plant-info-{{trace.id}}" class="tab-pane">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/plant-info.svg" alt="" class="mr-2"> Plant information</h6>
                                        </div>
                                      </div>

                                      <div class="row mt-4">
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Date of planting</p>

                                              {% set count = [] %}
                                              {% for traceplant in TRACEPLANT%}
                                              {% if traceplant.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                             
                                              <span>{{count|length}}</span>
                                              
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Plant name</p>
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Plant variety</p>
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                        </div>

                                </div>

                                {%else%}


                                <div id="plant-info-{{trace.id}}" class="tab-pane">
                                  <div class="row">
                                      <div class="col-xs-12">
                                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/plant-info.svg" alt="" class="mr-2"> Plant information</h6>
                                      </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Date of planting</p>

                                            
                                           
                                            <span>NA</span>
                                            
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Plant name</p>
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Plant variety</p>
                                            <span>NA</span>
                                          </div>
                                        </div>
                                      </div>

                              </div>


                                {%endif%}
                                {%endfor%}
                               
                                <!-- Fertilizer information -->
                                {% for tracefert in TRACEFERT%}
                                {% if tracefert.traceability_report_id.id == trace.id %}
                                
                                <div id="fertilizer-info-{{trace.id}}" class="tab-pane">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/fertilizer-info.svg" alt="" class="mr-2"> Fertilizer information</h6>
                                        </div>
                                      </div>

                                      <div class="row mt-4">
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Fertilizer name</p>

                                              {% set count = [] %}
                                              {% for tracefert in TRACEFERT%}
                                              {% if tracefert.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                             
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Fertilizer component</p>
                                              {% set count = [] %}
                                              {% for tracefert in TRACEFERT%}
                                              {% if tracefert.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Date of application</p>
                                              {% set count = [] %}
                                              {% for tracefert in TRACEFERT%}
                                              {% if tracefert.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                        </div>
                                </div>

                                {%else%}


                                <div id="fertilizer-info-{{trace.id}}" class="tab-pane">
                                  <div class="row">
                                      <div class="col-xs-12">
                                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/fertilizer-info.svg" alt="" class="mr-2"> Fertilizer information</h6>
                                      </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Fertilizer name</p>

                                            
                                           
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Fertilizer component</p>
                                           
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Date of application</p>
                                           
                                            <span>NA</span>
                                          </div>
                                        </div>
                                      </div>
                              </div>

                                {%endif%}
                                {%endfor%}
                                <!-- Agrochemical information -->


                                {% for traceagro in TRACEAGRO%}
                                {% if traceagro.traceability_report_id.id == trace.id %}


                                <div id="agro-info-{{trace.id}}" class="tab-pane ">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/agrochemical-info.svg" alt="" class="mr-2"> Agrochemical information</h6>
                                        </div>
                                      </div>

                                      <div class="row mt-4">
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Agrochemical name</p>

                                              {% set count = [] %}
                                              {% for traceagro in TRACEAGRO%}
                                              {% if traceagro.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-5 col-sm-4 col-lg-3">
                                            <div class="meta-data-box mb-4">
                                              <p>Agrochemical component</p>
                                              {% set count = [] %}
                                              {% for traceagro in TRACEAGRO%}
                                              {% if traceagro.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Date of application</p>
                                              {% set count = [] %}
                                              {% for traceagro in TRACEAGRO%}
                                              {% if traceagro.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                        </div>
                                </div>

                                {%else%}

                                <div id="agro-info-{{trace.id}}" class="tab-pane ">
                                  <div class="row">
                                      <div class="col-xs-12">
                                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/agrochemical-info.svg" alt="" class="mr-2"> Agrochemical information</h6>
                                      </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Agrochemical name</p>
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-5 col-sm-4 col-lg-3">
                                          <div class="meta-data-box mb-4">
                                            <p>Agrochemical component</p>
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Date of application</p>
                                            <span>NA</span>
                                          </div>
                                        </div>
                                      </div>
                              </div>



                                {%endif%}
                                {%endfor%}

                                <!-- Harvest information-->

                                {% for traceharv in TRACEHARV%}
                                {% if traceharv.traceability_report_id.id == trace.id %}

                                <div id="harvest-info-{{trace.id}}" class="tab-pane">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/harvest-info.svg" alt="" class="mr-2"> Harvest information</h6>
                                        </div>
                                      </div>

                                      <div class="row mt-4">
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Date of harvest</p>
                                              {% set count = [] %}
                                              {% for traceharv in TRACEHARV%}
                                              {% if traceharv.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Time of harvest</p>
                                              {% set count = [] %}
                                              {% for traceharv in TRACEHARV%}
                                              {% if traceharv.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                          <div class="col-xs-4 col-sm-3 col-lg-2">
                                            <div class="meta-data-box mb-4">
                                              <p>Kilos harvested</p>
                                              {% set count = [] %}
                                              {% for traceharv in TRACEHARV%}
                                              {% if traceharv.traceability_report_id.id == trace.id %}
                                              {% if count.append('1') %}{% endif %}
                                              {% endif %}{%endfor%}
                                              <span>{{count|length}}</span>
                                            </div>
                                          </div>
                                        </div>
                                </div>

                                {%else%}

                                <div id="harvest-info-{{trace.id}}" class="tab-pane">
                                  <div class="row">
                                      <div class="col-xs-12">
                                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/harvest-info.svg" alt="" class="mr-2"> Harvest information</h6>
                                      </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Date of harvest</p>
                                           
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Time of harvest</p>
                                            
                                            <span>NA</span>
                                          </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-lg-2">
                                          <div class="meta-data-box mb-4">
                                            <p>Kilos harvested</p>
                                            
                                            <span>NA</span>
                                          </div>
                                        </div>
                                      </div>
                              </div>


                                {%endif%}
                                {%endfor%}

                                <!-- Irrigation information -->
                                <div id="irrigation-info-{{trace.id}}" class="tab-pane">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/irrigation-info.svg" alt="" class="mr-2"> Irrigation information</h6>
                                        </div>
                                      </div>

                                      <div class="row ">
                                          <div class="col-sm-2 chart-meta">
                                            <h6><span class=" dark-grey-text">10,000L</span></h6>
                                            <p>Total irrigation</p>
                                          </div>
                                        </div>

                                      <div class="row">
                                        <div class="col-xs-12">
                                           <!-- Graph goes here -->
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  {%endfor%}
                </table>
              </div>
            </div>
          </div>
        </section>
        </form>
      </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script>
  </body>
</html>
