<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa FarmCloud - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.js')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse summary-page">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-xs-9 main-view">
              <div class="row">
                <div class="col-xs-5 col-sm-4">
                  <h3><small>Hello, </small> <div>{{PROFILE.user.first_name}} {{PROFILE.user.last_name}}</div></h3>
                </div>
                <div class="col-sm-8" style="vertical-align: bottom;">
                  <nav class="navbar navbar-static-top">
                    <div class="navbar-custom-menu">
                      <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu sys-alerts shadow-outline">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning badge">0</span>
                          </a>
                          <ul class="dropdown-menu">
                            <li class="header">
                              Alerts <span class="label label-warning badge">0</span>
                              <p class="date">{{data.utc_date.strftime('%B %d,%Y')}}</p>
                            </li>
                            <!-- <li class="alert-item">
                              <span class="header">Request to action on item</span>
                              <span class="copy">Action <a href="#">M-09</a> on item requested by customer 23234343434.</span>
                              <span class="timestamp">12 May 2020, 17:31</span>
                              <button class="btn btn-flat btn-action">Accept request</button>
                            </li>
                            <li class="alert-item">
                              <span class="header">Plants: Cauliflower & Onion</span>
                              <span class="copy">Current reading for humidity sensor on shield D-2003 is <span class="label label-danger badge">26.78<sup>&deg;</sup>c</span></span>
                              <span class="timestamp">12 May 2020, 17:31</span>
                              <button class="btn btn-flat btn-action">View</button>
                            </li>
                            <li class="footer"><a href="#">See all</a></li> -->
                          </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu shadow-outline">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/igh/static/img/farm-icon.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{PROFILE.user.first_name}}</span>
                            <i class="fa fa-chevron-down"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/admin/settings/profile">My profile</a>
                            </li>
                            <li>
                              <a href="/logout">Logout</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <h4>{{CUSTOMER|list|length}}</h4>
                    <p class="f-12 light-grey-text">Total customers</p>
                    <span class="green-text f-12"> +10 <i class="fa fa-long-arrow-up"></i></span>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <h4>{{VARIETIES|list|length}}</h4>
                    <p class="f-12 light-grey-text">Total crops by customers</p>
                    <span class="green-text f-12"> +10 <i class="fa fa-long-arrow-up"></i></span>
                  </div>
                </div>
                <div class="col-xs-6  col-sm-4  col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <h4>{{ALLFARMS|selectattr('status','equalto','Active')|list|length}}</h4>
                    <p class="f-12 light-grey-text">Total farms irrigating</p>
                    <a href="./customers" class="green-link underline f-12-bold"> View</a>
                  </div>
                </div>

                <div class="col-xs-6  col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <h4 class="f-bold red-link">{{ALLFARMS|selectattr('status','equalto','Inactive')|list|length}}</h4>
                    <p class="f-12 light-grey-text">Total farms not irrigating</p>
                    <a href="./customers" class="green-link underline f-12-bold"> View</a>
                  </div>
                </div>
              </div>


              <!-- <div class="products">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Products</h4>
                  </div>
                </div>
                <div class="row float-container">
                  <div class="col-sm-2 float-child">
                    <div class="white-block shadow-outline product greenhouses">
                      <div class="photo">&nbsp;</div>
                      <h5>{{GREENHOUSES|selectattr('assigned','equalto','1')|list|length}}<small></small></h5>
                      <p class="caption">Greenhouses sold</p>
                      <p class="inverse green-text f-12">
                        {{GREENHOUSES|selectattr('assigned','equalto','0')|list|length}} available
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-2 float-child">
                    <div class="white-block shadow-outline product external-shields">
                      <div class="photo">&nbsp;</div>
                      <h5>{{DEVICES|selectattr('assigned','equalto','1')|list|length}}</h5>
                      <p class="caption">Devices sold</p>
                      <p class="inverse">
                        {{DEVICES|selectattr('assigned','equalto','0')|list|length}} available
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-2 float-child">
                    <div class="white-block shadow-outline product screenhouses">
                      <div class="photo">&nbsp;</div>
                      <h5>{{SCREENHOUSE|selectattr('assigned','equalto','1')|list|length}}</h5>
                      <p class="caption">Screenhouses activated</p>
                      <p class="inverse">
                        {{SCREENHOUSE|selectattr('assigned','equalto','0')|list|length}} available
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-2 float-child">
                    <div class="white-block shadow-outline product shadenets">
                      <div class="photo">&nbsp;</div>
                      <h5>{{SHADNET|selectattr('assigned','equalto','1')|list|length}}</h5>
                      <p class="caption">Shadenets activated</p>
                      <p class="inverse">
                        {{SHADNET|selectattr('assigned','equalto','0')|list|length}} available
                      </p>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="row mt-5">
                <h4 class="product-section">Products</h4>
                
                <div class="col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <img src="/admin/static/img/greenhouse.jpg" alt="" class="width-100" />

                    <h4>{{GREENHOUSES|selectattr('assigned','equalto','1')|list|length}}</h4>
                    <p class="f-12 light-grey-text">Greenhouses sold</p>
                    <span class="green-text f-12"> {{GREENHOUSES|selectattr('assigned','equalto','0')|list|length}} available </span>
                  </div>
                </div>

                <div class="  col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <img src="/admin/static/img/shadenet.jpg" alt="" class="width-100" />
                    <h4>{{DEVICES|selectattr('assigned','equalto','1')|list|length}}</h4>
                    <p class="f-12 light-grey-text">Devices sold</p>
                    <span class="green-text f-12">{{DEVICES|selectattr('assigned','equalto','0')|list|length}} available </span>
                  </div>
                </div>
                <div class=" col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <img src="/admin/static/img/screenh.jpg" alt="" class="width-100" />
                    <h4 class="f-bold">{{SCREENHOUSE|selectattr('assigned','equalto','1')|list|length}}</h4>
                    <p class="f-12 light-grey-text">Screenhouses sold</p>
                    <span class="green-text f-12"> {{SCREENHOUSE|selectattr('assigned','equalto','0')|list|length}} available </span>
                  </div>
                </div>

                <div class=" col-sm-4 col-md-3 col-lg-2">
                  <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                    <img src="/admin/static/img/shadenet.jpg" alt="" class="width-100" />
                    <h4>{{SHADNET|selectattr('assigned','equalto','1')|list|length}}</h4>
                    <p class="f-12 light-grey-text">Shadnets sold</p>
                    <span class="green-text f-12"> {{SHADNET|selectattr('assigned','equalto','0')|list|length}} available </span>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-xs-12">
                  <h4>Overview</h4>
                  <div class="nav-tabs-custom data">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#customer-base" data-toggle="tab" aria-expanded="false">Customer base</a></li>
                      <li class=""><a href="#greenhouses-sold" data-toggle="tab" aria-expanded="true">Greenhouses sold</a></li>
                      <li class=""><a href="#devices-sold" data-toggle="tab" aria-expanded="true">Devices sold</a></li>
                      <li class=""><a href="#crops" data-toggle="tab" aria-expanded="false">Crops</a></li>
                      <li class=""><a href="#water-irrigation" data-toggle="tab" aria-expanded="true">Water irrigation</a></li>
                      <li class=""><a href="#harvests" data-toggle="tab" aria-expanded="true">Harvests</a></li>
                      <li class=""><a href="#fertilizers" data-toggle="tab" aria-expanded="false">Fertilizers</a></li>
                      <li class=""><a href="#agrochemical" data-toggle="tab" aria-expanded="true">Agrochemical</a></li>
                    </ul>
                  </div>

                  <div class="tab-content">

                    <!-- Customer base -->
                    <div id="customer-base" class="tab-pane active">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">Kenya</span></h6>
                          <p class="f-12 light-grey-text">Highest location of customers</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">{{CUSTOMER|list|length}}</span></h6>
                          <p class="f-12 light-grey-text">Total customers in Kenya</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>

                              <div class="float-right text-right mt-3">
                                <span class="f-18-medium light-grey-text"> {{CUSTOMER|list|length}}</span><br />
                                <span class="light-grey-text f-12"> customers</span>
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2">
                              <span class="f-11 light-grey-text"> Customer ID ({{CUSTOMER|list|length}})</span>
                            </div>
                            
                            <ul class="list-none  pl-0 pt-3" style="height: 263px; overflow-x: scroll;">
                              {% for customer in CUSTOMER %}
                              <li class="pt-3"><a href="#" class="green-link"> {{customer.main_id}}</a></li>
                              {% endfor %}
                            </ul>
                          
                          
                          </div>
                        </div>

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Greenhouses sold-->
                    <div id="greenhouses-sold" class="tab-pane">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">Kenya</span></h6>
                          <p class="f-12 light-grey-text">Highest location of greenhouses</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">{{GREENHOUSES|list|length}}</span></h6>
                          <p class="f-12 light-grey-text">Total greenhouses in Kenya</p>
                        </div>
                      </div>

                      <div class="row">
                        
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>

                              <div class="float-right text-right mt-3">
                                <span class="f-18-medium light-grey-text t"> {{GREENHOUSES|list|length}}</span><br />
                                <span class="light-grey-text f-12"> greenhouses</span>
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID ({{CUSTOMER|list|length}})</span>
                              <span class="f-11 light-grey-text float-right"> greenhouses</span>
                            </div>

                            
                            <ul class="list-none pl-0 pt-3" style="height: 268px; overflow-x: scroll;">
                              {% for customer in CUSTOMER %}
                              <li class="pt-3 clearfix">
                                <a href="#" class="green-link float-left"> {{customer.main_id}}</a>

                                {% set count = [] %}
                                {% for custom in CUSTOMERG %}
                                {% if customer.main_id == custom.customer.main_id %}
                                {% if count.append('1') %}{% endif %}
                                {% endif %}{%endfor%}
                                <span class="float-right f-12 light-grey-text pr-3">{{count|length}}</span>
                              </li>
                              {% endfor %}
              
                            </ul>
                           
                          </div>
                         </div>

                         <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container1"></div>
                        </div>

                       
                      </div> 
                    </div>

                    <!-- Devices sold -->
                    <div id="devices-sold" class="tab-pane">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">Kenya</span></h6>
                          <p class="f-12 light-grey-text">Highest location of devices sold</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">{{DEVICES|selectattr('assigned','equalto','1')|list|length}}</span></h6>
                          <p class="f-12 light-grey-text">Total devices in Kenya</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>

                              <div class="float-right text-right mt-3">
                                <span class="f-18-medium light-grey-text"> {{DEVICES|selectattr('assigned','equalto','1')|list|length}}</span><br />
                                <span class="light-grey-text f-12"> Devices</span>
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID ({{CUSTOMER|list|length}})</span>
                              <span class="f-11 light-grey-text float-right">Devices</span>
                            </div>
                            <ul class="list-none pl-0 pt-3" style="height: 268px; overflow-x: scroll;">
                              {% for customer in CUSTOMER %}
                             
                              <li class="pt-3 clearfix">
                                <a href="#" class="green-link float-left">{{customer.main_id}}</a>
                                {% set count = [] %}
                                {% for custom in CUSTOMERD %}
                                {% if customer.main_id == custom.customer.main_id %}
                                {% if count.append('1') %}{% endif %}
                                {% endif %}{%endfor%}
                                <span class="float-right f-12 light-grey-text pr-3"> {{ count|length }}</span>

                                 
                              </li>
                             
                              {% endfor %}
                              
                            </ul>
                          </div>
                        </div>

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container2"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Crops -->
                    <div id="crops" class="tab-pane">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">Nairobi</span></h6>
                          <p class="f-12 light-grey-text">Highest location of Basil sold</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">100</span></h6>
                          <p class="f-12 light-grey-text">Total Basil in Nairobi</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-sm-offset-5 mt-5 mb-4">
                          <div class="float-sm-right">
                            <select id="select_farm" name="farm" class="form-control select2" tabindex="-1" aria-hidden="true">
                              <option value="" selected="selected">Basil </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>

                              <div class="float-right text-right mt-3">
                                <span class="f-18-medium light-grey-text"> 100</span><br />
                                <span class="light-grey-text f-12"> Basil</span>
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID (10)</span>
                              <span class="f-11 light-grey-text float-right"> Basil (Kgs)</span>
                            </div>
                            <ul class="list-none pl-0 pt-3" style="height: 268px; overflow-x: scroll;">
                              {% for customer in CUSTOMER %}
                              <li class="pt-3 clearfix">
                                <a href="#" class="green-link float-left"> {{customer.main_id}}</a>
                                <span class="float-right f-12 light-grey-text pr-3">10</span>
                              </li>
                              {% endfor %}
                             
                            </ul>
                          </div>
                        </div>

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container3"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Water irrigation-->
                    <div id="water-irrigation" class="tab-pane">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">Nairobi</span></h6>
                          <p class="f-12 light-grey-text">Highest location of water irrigated</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">20,000L</span></h6>
                          <p class="f-12 light-grey-text">Total litres in Nairobi</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>

                              <div class="float-right text-right mt-3"><span class="f-18-medium light-grey-text"> 20,000 L</span><br /></div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID (10)</span>
                              <span class="f-11 light-grey-text float-right"> Litres</span>
                            </div>
                            <ul class="list-none pl-0 pt-3" style="height: 271px; overflow-x: scroll;">
                              {% for customer in CUSTOMER %}
                              <li class="pt-3 clearfix">
                                <a href="#" class="green-link float-left"> {{customer.main_id}}</a>
                                <span class="float-right f-12 light-grey-text pr-3">2000</span>
                              </li>
                            {% endfor %}
                              
                            </ul>
                          </div>
                        </div>

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container4"></div>
                        </div>
                      </div>
                    </div>
                    <!-- Harvests -->
                    <div id="harvests" class="tab-pane">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">Kenya</span></h6>
                          <p class="f-12 light-grey-text">Highest location of harvests</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2  chart-meta">
                          {% set vars = {'total_amount': 0} %}
                                {% for harv in HARVEST %}
                                {% if vars.update({'total_amount': vars.total_amount + harv.kilos_sold }) %}
                                {% endif %}
                                {% endfor %}
                          <h6><span class="dark-grey-text f-bold">{{ vars.total_amount }} kgs</span></h6>
                          <p class="f-12 light-grey-text">Total harvest </p>
                        </div>
                        <div class="col-sm-4 col-md-3 col-md-offset-5 mt-5 ">
                          <div class="float-right mb-4">
                            <div class="btn-group" role="group" aria-label="...">
                              <button type="button" class="btn btn-success-outline">Kgs</button>
                              <button type="button" class="btn btn-grey-outline">Units</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>

                              <div class="float-right text-right mt-3">
                                {% set vars = {'total_amount': 0} %}
                                {% for harv in HARVEST %}
                                {% if vars.update({'total_amount': vars.total_amount + harv.kilos_sold }) %}
                                {% endif %}
                                {% endfor %}
                                <span class="f-18-medium light-grey-text"> {{ vars.total_amount }} Kgs</span>
                                
                                
                                
                                
                               
                                

                                
                               
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID ({{HARVEST|list|length}})</span>
                              <span class="f-11 light-grey-text float-right"> Kgs</span>
                            </div>
                            <ul class="list-none pl-0 pt-3" style="height: 271px; overflow-x: scroll;">
                            


                             
                              {% for customer in CUSTOMER %}
                              {% for harv in HARVEST %}
                              {% set existingIds = [] %}
                              {% if harv.id not in existingIds %}
                              {% if harv.customer_id.main_id == customer.main_id %}

                              <li class="pt-3 clearfix">
                               
                                <a href="#" class="green-link float-left"> {{customer.main_id}}</a>
                                <span class="float-right f-12 light-grey-text pr-3">{{harv.kilos_sold}}</span>
                               
                              </li>
                              

                              {% endif %}
                             {% endif %}
                             {% endfor %}
                             {% endfor %}
                             
                             
                              
                            </ul>
                          </div>
                        </div>

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container5"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Fertilizers -->
                    <div id="fertilizers" class="tab-pane">
                      <div class="row">
                        {% for suppler in SUPPLY %}
                        <div class="col-xs-12 col-sm-3 col-lg-2 chart-meta">
                          <h6><span class="dark-grey-text f-bold">{{suppler.name}}</span></h6>
                          <p class="f-12 light-grey-text">Most popular fertilizer brand</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        {% endfor %}
                       
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID ({{FERTILIZE|list|length}})</span>
                              <span class="f-11 light-grey-text float-right"> Brand & supplier</span>
                            </div>
                            <ul class="list-none pl-0 pt-3" style="height: 271px; overflow-x: scroll;">
                              {% for fert in FERTILIZE %}
                              {% if fert.fertilizer != {} %}
                              <li class="pt-3 clearfix">
                                <a href="#" class="green-link float-left"> {{fert.customer_id.main_id}}</a>
                                <span class="float-right f-12 dark-grey-text pr-3">{{fert.fertilizer.name}}</span>
                                <span class="float-right f-12 light-grey-text pr-3">{{fert.fertilizer.supplier_commodity.name}}</span>
                              </li>
                              {%endif%}
                              {% endfor %}
                              
                            </ul>
                          </div>
                        </div>

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container6"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Agrochemical-->
                    <div id="agrochemical" class="tab-pane">
                      <div class="row">
                        {% for suppler in SUPPLY %}
                        <div class="ccol-xs-6 col-sm-3 col-lg-2  chart-meta">
                          <h6><span class="dark-grey-text f-bold">{{suppler.name}}</span></h6>
                          <p class="f-12 light-grey-text">Most popular agrochemical brand</p>
                          <a href="./customers" class="f-12-bold green-link underline">View</a>
                        </div>
                        {% endfor %}
                       
                      </div>

                      <div class="row">
                        <div class="col-sm-3 pr-sm-0">
                          <div class="shadow-outline white-block overflow-hidden p-4">
                            <div class="clearfix">
                              <div class="float-left">
                                <h5 class="mb-1"><span class="dark-grey-text f-bold">Kenya</span></h5>
                                <a href="./customers" class="f-12-bold green-link underline">View batch</a>
                              </div>
                            </div>

                            <div class="section-separator-bordered mt-4 pt-2 pb-2 clearfix">
                              <span class="f-11 light-grey-text float-left"> Customer ID ({{AGRO|list|length}})</span>
                              <span class="f-11 light-grey-text float-right"> Brand & supplier</span>
                            </div>
                            <ul class="list-none pl-0 pt-3" style="height: 271px; overflow-x: scroll;">
                              {% for agro in AGRO %}
                              {% if agro.agrochemical != {} %}
                              <li class="pt-3 clearfix">
                                <a href="#" class="green-link float-left"> {{agro.customer_id.main_id}}</a>
                                <span class="float-right f-12 dark-grey-text pr-3">{{agro.agrochemical.name}}</span>
                                <span class="float-right f-12 light-grey-text pr-3">{{agro.agrochemical.supplier_commodity.name}}</span>
                              </li>
                              {%endif%}
                              {% endfor %}
                             
                            </ul>
                          </div>
                        </div>

                       

                        <div class="col-sm-9 pl-sm-0">
                          <!-- <p class="m-5">Location graph here!</p> -->

                          <div id="container7"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-sm-12 ">
                  <h4 class="mb-4">Variety catered</h4>
                </div>
                <div class="col-sm-6">
                  <div class="shadow-outline white-block mb-4">
                    <h5 class="f-16-bold">Crops</h5>
                    <div class="box-body chart-responsive">
                      <div class="chart" id="sales-chart" style="height: 250px; position: relative;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="shadow-outline white-block">
                    <h5 class="f-16-bold">Soil</h5>
                    <div class="box-body chart-responsive">
                      <div class="chart" id="soil-chart" style="height: 250px; position: relative;"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-xs-12">
                  <h4>Role overview</h4>
                  <div class="nav-tabs-custom data mb-5">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#sales-team" data-toggle="tab" aria-expanded="false">Sales team</a></li>
                      <li class=""><a href="#agronomists-team" data-toggle="tab" aria-expanded="true">Agronomists</a></li>
                    </ul>
                  </div>

                  <div class="tab-content">
                    <!-- Sales team support -->
                    <div id="sales-team" class="tab-pane active">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="shadow-outline white-block summary-block summary-block-sm mb-4">
                            <h4>{{IGH_USER|list|length}}</h4>
                            <p class="f-12 light-grey-text">Total salesmen</p>
                            <a href="#" class="green-link underline f-12"> Download report</a>
                          </div>
                        </div>

                        <div class="col-md-10">
                          <div class="shadow-outline white-block summary-block summary-block-sm">
                            <div class="row">
                              <div class=" col-md-2">
                                <h6 class="f-14-bold">{{PROFILE.user.first_name}} {{PROFILE.user.last_name}}</h6>
                                <p class="f-12 light-grey-text">Top salesman of the month</p>
                                <a href="profile.html" class="green-link underline f-12">View profile</a>
                              </div>
                              <div class="col-sm-4 col-md-2">
                                <h6 class="f-14-bold">0 KES</h6>
                                <p class="f-12 light-grey-text">Total revenue created</p>
                              </div>
                              <div class="col-sm-4 col-md-2">
                                <h6 class="f-14-bold">{{CUSTOMER|list|length}}</h6>
                                <p class="f-12 light-grey-text">Customers added</p>
                              </div>

                              <div class="col-sm-4 col-md-2">
                                <h6 class="f-14-bold">{{DEVICES|selectattr('assigned','equalto','1')|list|length}}</h6>
                                <p class="f-12 light-grey-text">Devices sold</p>
                              </div>
                              <div class="col-sm-4 col-md-2">
                                <h6 class="f-14-bold">{{GREENHOUSES|selectattr('assigned','equalto','1')|list|length}}</h6>
                                <p class="f-12 light-grey-text">Greenhouses sold</p>
                              </div>
                              <div class="col-sm-4 col-md-2">
                                <h6 class="f-14-bold">{{SCREENHOUSE|selectattr('assigned','equalto','1')|list|length}}</h6>
                                <p class="f-12 light-grey-text">Other products</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-xs-12">
                          <div class="shadow-outline white-block chart-box">
                            <div class="row">
                              <div class="col-sm-9 col-lg-10 ">
                                <h5>Revenue generated</h5>
                              </div>

                              <div class="col-sm-3 col-lg-2">
                                <select id="select_farm" name="farm" class="form-control select2" tabindex="-1" aria-hidden="true">
                                  <option value="" selected="selected">2020</option>
                                  <option value="" selected="selected">2021</option>
                                  <option value="" selected="selected">2022</option>
                                </select>
                              </div>
                            </div>

                            <div class="row chart-meta">
                              <div class="col-sm-3 col-md-2">
                                <h6 class="f-bold">0</h6>
                                <p>Total revenue generated</p>
                              </div>

                              <div class="col-sm-3 col-md-2">
                                <h6 class="f-bold">0 KES</h6>
                                <p>Subscriptions</p>
                              </div>

                              <div class="col-sm-3 col-md-2">
                                <h6 class="f-bold">0 KES</h6>
                                <p>One time payments</p>
                              </div>
                              <div class="col-sm-3 col-md-2">
                                <h6 class="f-bold">{{DEVICES|selectattr('assigned','equalto','1')|list|length}}</h6>
                                <p>Total devices sold</p>
                              </div>
                              <div class=" col-sm-3 col-md-2">
                                <h6 class="f-bold">{{GREENHOUSES|selectattr('assigned','equalto','1')|list|length}}</h6>
                                <p>Total greenhouses sold</p>
                              </div>
                            </div>

                            <div class="row chart-periods">
                              <div class="col-sm-6">
                                <div class="btn-group">
                                  <a class="btn btn-flat btn-default btn-period active" rel="monthly">Monthly</a>
                                  <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                </div>
                              </div>
                            </div>

                            <div class="row chart-area brown">
                              <div class="col-sm-12">
                                <div class="chart-container">
                                  <div class="chart ct-chart ct-perfect-fourth" id="all_farms_water">
                                    <div class="y-axis">
                                      <div class="axis-label">
                                        <span>Readings</span>
                                      </div>
                                    </div>
                                    <div class="row chart-area">
                                      <div class="col-sm-12">
                                        <div class="chart-container">
                                          <div class="chart ct-chart ct-perfect-fourth" id="all_farms_water">
                                            <div class="y-axis">
                                              <div class="axis-label">
                                                <span>&nbsp;</span>
                                              </div>
                                            </div>
                                            <div class="x-axis">
                                              <div class="chart-data">
                                              </div>
                                              <div class="axis-label">
                                                <span>&nbsp;</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-xs-12">
                          <div class="shadow-outline white-block chart-box">
                            <div class="row">
                              <div class="col-md-6 col-sm-4 col-lg-8">
                                <h5>Customer report</h5>
                              </div>

                              <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <select id="select_farm" name="farm" class="form-control select2" tabindex="-1" aria-hidden="true">
                                  <option value="" selected="selected">January</option>
                                </select>
                              </div>

                              <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pl-sm-0">
                                <select id="select_farm" name="farm" class="form-control select2" tabindex="-1" aria-hidden="true">
                                  <option value="" selected="selected">2022</option>
                                </select>
                              </div>
                            </div>

                            <div class="row chart-meta">
                              <div class="col-sm-3 col-md-2">
                                <h6 class="f-bold">{{CUSTOMER|list|length}}</h6>
                                <p>Total customer base in 2022</p>
                              </div>
                            </div>

                            <div class="row chart-periods">
                              <div class="col-sm-6">
                                <div class="btn-group">
                                  <a class="btn btn-flat btn-default btn-period active" rel="monthly">Monthly</a>
                                  <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row chart-area">
                        <div class="col-sm-12">
                          <div class="chart-container">
                            <div class="chart ct-chart ct-perfect-fourth" id="all_farms_water">
                              <div class="y-axis">
                                <div class="axis-label">
                                  <span>Readings</span>
                                </div>
                              </div>
                              <div class="x-axis">
                                <div class="chart-data">
                                  <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-bar" style="width: 100%; height: 100%;">
                                    <g class="ct-grids">
                                      <line y1="300" y2="300" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="264.375" y2="264.375" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="228.75" y2="228.75" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="193.125" y2="193.125" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="157.5" y2="157.5" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="121.875" y2="121.875" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="86.25" y2="86.25" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="50.625" y2="50.625" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                      <line y1="15" y2="15" x1="70" x2="921.5" class="ct-grid ct-vertical"></line>
                                    </g>
                                    <g>
                                      <g class="ct-series ct-series-a">
                                        <line x1="83.73387096774194" x2="83.73387096774194" y1="300" y2="124.725" class="ct-bar" ct:value="123"></line>
                                        <line x1="111.20161290322581" x2="111.20161290322581" y1="300" y2="73.42500000000001" class="ct-bar" ct:value="159"></line>
                                        <line x1="138.6693548387097" x2="138.6693548387097" y1="300" y2="164.625" class="ct-bar" ct:value="95"></line>
                                        <line x1="166.13709677419354" x2="166.13709677419354" y1="300" y2="127.57499999999999" class="ct-bar" ct:value="121"></line>
                                        <line x1="193.60483870967744" x2="193.60483870967744" y1="300" y2="94.80000000000001" class="ct-bar" ct:value="144"></line>
                                        <line x1="221.07258064516128" x2="221.07258064516128" y1="300" y2="77.69999999999999" class="ct-bar" ct:value="156"></line>
                                        <line x1="248.54032258064518" x2="248.54032258064518" y1="300" y2="110.475" class="ct-bar" ct:value="133"></line>
                                        <line x1="276.008064516129" x2="276.008064516129" y1="300" y2="123.30000000000001" class="ct-bar" ct:value="124"></line>
                                        <line x1="303.4758064516129" x2="303.4758064516129" y1="300" y2="46.349999999999994" class="ct-bar" ct:value="178"></line>
                                        <line x1="330.9435483870968" x2="330.9435483870968" y1="300" y2="107.625" class="ct-bar" ct:value="135"></line>
                                        <line x1="358.41129032258067" x2="358.41129032258067" y1="300" y2="15" class="ct-bar" ct:value="200"></line>
                                        <line x1="385.8790322580645" x2="385.8790322580645" y1="300" y2="123.30000000000001" class="ct-bar" ct:value="124"></line>
                                        <line x1="413.3467741935484" x2="413.3467741935484" y1="300" y2="23.55000000000001" class="ct-bar" ct:value="194"></line>
                                        <line x1="440.8145161290323" x2="440.8145161290323" y1="300" y2="143.25" class="ct-bar" ct:value="110"></line>
                                        <line x1="468.28225806451616" x2="468.28225806451616" y1="300" y2="116.17500000000001" class="ct-bar" ct:value="129"></line>
                                        <line x1="495.75" x2="495.75" y1="300" y2="147.525" class="ct-bar" ct:value="107"></line>
                                        <line x1="523.2177419354839" x2="523.2177419354839" y1="300" y2="119.025" class="ct-bar" ct:value="127"></line>
                                        <line x1="550.6854838709678" x2="550.6854838709678" y1="300" y2="131.85" class="ct-bar" ct:value="118"></line>
                                        <line x1="578.1532258064517" x2="578.1532258064517" y1="300" y2="131.85" class="ct-bar" ct:value="118"></line>
                                        <line x1="605.6209677419355" x2="605.6209677419355" y1="300" y2="153.225" class="ct-bar" ct:value="103"></line>
                                        <line x1="633.0887096774194" x2="633.0887096774194" y1="300" y2="153.225" class="ct-bar" ct:value="103"></line>
                                        <line x1="660.5564516129033" x2="660.5564516129033" y1="300" y2="136.125" class="ct-bar" ct:value="115"></line>
                                        <line x1="688.0241935483871" x2="688.0241935483871" y1="300" y2="131.85" class="ct-bar" ct:value="118"></line>
                                        <line x1="715.491935483871" x2="715.491935483871" y1="300" y2="127.57499999999999" class="ct-bar" ct:value="121"></line>
                                        <line x1="742.9596774193549" x2="742.9596774193549" y1="300" y2="164.625" class="ct-bar" ct:value="95"></line>
                                        <line x1="770.4274193548388" x2="770.4274193548388" y1="300" y2="114.75" class="ct-bar" ct:value="130"></line>
                                        <line x1="797.8951612903227" x2="797.8951612903227" y1="300" y2="113.32499999999999" class="ct-bar" ct:value="131"></line>
                                        <line x1="825.3629032258065" x2="825.3629032258065" y1="300" y2="131.85" class="ct-bar" ct:value="118"></line>
                                        <line x1="852.8306451612904" x2="852.8306451612904" y1="300" y2="138.975" class="ct-bar" ct:value="113"></line>
                                        <line x1="880.2983870967743" x2="880.2983870967743" y1="300" y2="123.30000000000001" class="ct-bar" ct:value="124"></line>
                                        <line x1="907.766129032258" x2="907.766129032258" y1="300" y2="126.15" class="ct-bar" ct:value="122"></line>
                                      </g>
                                    </g>
                                    <g class="ct-labels">
                                      <foreignObject style="overflow: visible;" x="70" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">01</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="97.46774193548387" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">02</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="124.93548387096774" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">03</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="152.40322580645162" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">04</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="179.8709677419355" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">05</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="207.33870967741936" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">06</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="234.80645161290323" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">07</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="262.2741935483871" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">08</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="289.741935483871" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">09</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="317.2096774193549" y="305" width="27.467741935483872" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">10</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="344.6774193548387" y="305" width="27.467741935483843" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">11</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="372.14516129032256" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">12</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="399.61290322580646" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">13</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="427.08064516129036" y="305" width="27.467741935483843" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">14</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="454.5483870967742" y="305" width="27.467741935483843" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">15</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="482.01612903225805" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">16</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="509.48387096774195" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">17</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="536.9516129032259" y="305" width="27.467741935483843" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">18</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="564.4193548387098" y="305" width="27.467741935483843" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">19</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="591.8870967741935" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">20</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="619.3548387096774" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">21</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="646.8225806451613" y="305" width="27.467741935483787" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">22</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="674.2903225806451" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">23</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="701.758064516129" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">24</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="729.2258064516129" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">25</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="756.6935483870968" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">26</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="784.1612903225807" y="305" width="27.467741935483787" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">27</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="811.6290322580645" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">28</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="839.0967741935484" y="305" width="27.4677419354839" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">29</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="866.5645161290323" y="305" width="27.467741935483787" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 27px; height: 20px;">30</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" x="894.0322580645161" y="305" width="30" height="20">
                                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 30px; height: 20px;">31</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="264.375" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">0L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="228.75" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">25L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="193.125" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">50L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="157.5" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">75L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="121.875" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">100L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="86.25" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">125L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="50.625" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">150L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="15" x="10" height="35.625" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 50px;">175L</span>
                                      </foreignObject>
                                      <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="50">
                                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 50px;">200L</span>
                                      </foreignObject>
                                    </g>
                                  </svg>
                                </div>
                                <div class="axis-label">
                                  <span>Days in month</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Agronomists-->
                    <div id="agronomists-team" class="tab-pane">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="shadow-outline white-block summary-block summary-block-sm">
                            <h4>1000</h4>
                            <p class="f-12 light-grey-text">Total agronomists</p>
                            <a href="./customers" class="green-link underline f-12"> Download report</a>
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="shadow-outline white-block summary-block summary-block-sm">
                            <div class="row">
                              <div class="col-md-4">
                                <h4>1000</h4>
                                <p class="f-12 light-grey-text">Total agronomists</p>
                                <a href="./customers" class="green-link underline f-12">View report</a>
                              </div>
                              <div class="col-md-4">
                                <h4>10</h4>
                                <p class="f-12 light-grey-text">Ranking</p>
                              </div>
                              <div class="col-md-4">
                                <h4>100</h4>
                                <p class="f-12 light-grey-text">Customers catered</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 support-view">
              <div class="white-block1 shadow-outline">
                <h3>Support & maintenance <span class="badge badge-default">{{MAINTAIN|list|length + AGRO_VISIT|list|length}}</span></h3>

                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#outgoing" data-toggle="tab" aria-expanded="false">Ongoing ({{MAINTAIN|list|length}})</a></li>
                    <li class=""><a href="#scheduled" data-toggle="tab" aria-expanded="true">Scheduled ({{AGRO_VISIT|list|length}})</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="outgoing">
                      <p class="citation">Request support or maintenance</p>
                      <ul class="concerns">
                        {% for maintn in MAINTAIN %}
                        <li>
                          <span class="header">{{maintn.type}}</span>
                          <span class="copy">Issue concern by customer {{maintn.customer_id.main_id}}. See request <a href="#">M-{{maintn.serial}}</a></span>
                          <span class="timestamp">{{maintn.created}}</span>
                        </li>
                        {% endfor %}
                       
                      </ul>
                    </div>
                    <div class="tab-pane" id="scheduled">
                      <p class="citation">Request support or maintenance</p>
                      <ul class="schedules">

                        {% for schedule in AGRO_VISIT %}
                        <li>
                          <span class="header">{{schedule.maintenance_id.type}}</span>
                          <span class="copy">Issue concern by customer ID {{schedule.customer.main_id}}. See request <a href="#">M-{{schedule.maintenance_id.serial}}</a></span>
                          <span class="timestamp">Visit on: <span class="dt">{{schedule.visit_date}},{{schedule.visit_time}}</span></span>
                        </li>
                        {% endfor %}
                       
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/chartjs/Chart.js')}}"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/ke/ke-all.js"></script>
   
    <script type="text/javascript">
      $(function () {



        var data = [
    ['ke-co', 0],
    ['ke-ny', 1],
    ['ke-ce', 2],
    ['ke-na', 3],
    ['ke-565', 4],
    ['ke-rv', 1],
    ['ke-we', 6],
    ['ke-ne', 7]
];

// Create the chart
Highcharts.mapChart('container', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});



Highcharts.mapChart('container1', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});



Highcharts.mapChart('container2', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});


Highcharts.mapChart('container3', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});


Highcharts.mapChart('container4', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});



Highcharts.mapChart('container5', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});



Highcharts.mapChart('container6', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});


Highcharts.mapChart('container7', {
    chart: {
        map: 'countries/ke/ke-all'
    },

    title: {
        text: ''
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Random data',
        states: {
            hover: {
                color: '#33cc33'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});

        
       
        var areaChartData = {
             
              datasets: [
                {
                  label               : 'Clients',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data
                }
              ]
            }
        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
        var barChart                         = new Chart(barChartCanvas)
        var barChartData                     = areaChartData
        barChartData.datasets[0].fillColor   = '#ccc'
        barChartData.datasets[0].strokeColor = '#ccc'
        barChartData.datasets[0].pointColor  = '#ccc'
        var barChartOptions                  = {
          scaleBeginAtZero        : true,
          scaleShowGridLines      : true,
          scaleGridLineColor      : 'rgba(0,0,0,.05)',
          scaleGridLineWidth      : 1,
          scaleShowHorizontalLines: true,
          scaleShowVerticalLines  : true,
          barShowStroke           : true,
          barStrokeWidth          : 2,
          barValueSpacing         : 5,
          barDatasetSpacing       : 1,
          responsive              : true,
          maintainAspectRatio     : true
        }

        barChartOptions.datasetFill = false
        barChart.Bar(barChartData, barChartOptions)
      });
    </script>
    <script>
      var donut = new Morris.Donut({
      element: 'sales-chart',
      resize: true,
      colors: ["#1D4870", "#E8B1AC", "#DC6739", "#D0E1A3", "#596E3A"],
      data: [
        {label: "Basil Genevese", value: 30},
        {label: "Basil thai", value: 20},
        {label: "Basil Genevese", value: 10},
        {label: "Basil thai", value: 30},
        {label: "Basil Genevese", value: 10}
      ],
      hideHover: 'auto'
    });

    var donut = new Morris.Donut({
      element: 'soil-chart',
      resize: true,
      colors: ["#171A24", "#503921", "#865F37", "#C68039", "#EFBC8A"],
      data: [
        {label: "Dark soil", value: 30},
        {label: "Soil type 2", value: 20},
        {label: "Soil type 3", value: 10},
        {label: "Soil type 4", value: 30},
        {label: "Soil type 5", value: 10}
      ],
      hideHover: 'auto'
    });
    </script>

    <script>
    $('#map').vectorMap({map: 'africa_merc'});
    </script>






   

  </body>
</html>
