<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">
      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add a customer
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>
            
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <form name="user_type" action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> CUSTOMER DETAILS</a></li>
              <li><a href="#">GREENHOUSES</a></li>
              <li><a href="#">DEVICES</a></li>
              <li><a href="#">SCREENHOUSES</a></li>
              <li><a href="#">SHADNETS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>1. Customer details</h3>
                  </div>
                  <div class="col-lg-2 col-sm-4">
                    <a href="./add/bulk" class="btn btn-success btn-sm btn-success-outline btn-flat float-md-right">Customer bulk upload</a>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Registration date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator" />
                <div class="custom-form">
                  <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>First name</label>
                          <input type="text" name="first_name" class="form-control" pattern="[a-zA-Z][a-zA-Z ]{2,}" value="{{POSTEDCUSTOMER['first_name']}}" required="required">
                          
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Last name</label>
                          <input type="text" name="last_name" class="form-control" pattern="[a-zA-Z][a-zA-Z ]{2,}" value="{{POSTEDCUSTOMER['last_name']}}" required="required">
                          
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Phone number</label>
                          <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" pattern="+[0-9]*" maxlength=12 inputmode="numeric" class="form-control" name="phone_number" id="phone_number" value="{{POSTEDCUSTOMER['phone_number']}}" required>
                         
                        </div>
                      </div>

                    
                     

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group has-feedback">
                          <label>Email address</label>
                          <input type="email" name="email_address" class="form-control" placeholder="Email" value="{{POSTEDCUSTOMER['email_address']}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="required">
                         
                        </div>
                      </div>

                   
                    </div>

                    {% if FORM_ACTION_RESPONSE %}
                    <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                    {% endif %}

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Relationship manager</label>
                          <select name="igh_contact_id" class="form-control select2 green-bg" required="required">
                            {% for assign in ASSIGN_MEMB %}
                            <option value="{{assign.id}}" {% if assign.id == POSTEDCUSTOMER.igh_contact_id %} selected="selected"{% endif %}>{{assign.user.first_name}} {{assign.user.last_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <hr class="separator" />

                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="f-14-bold dark-grey-text">Farm details</h6>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Farm Name</label>

                          <input name="farm_name" class="form-control green-bg" required="required">
 
                        </div>
                      </div> 
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label> Address</label>
                          <input type="text" name="farm_address" class="form-control green-bg">
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>State</label>

                          <input type="text" id="farm_state" name="farm_state" class="form-control" >
            
                        </div>
                      </div>


                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>City</label>

                          <input type="text" id="farm_city" name="farm_city" class="form-control" >
            
                        </div>
                      </div>
                    </div>

                   


                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Pincode</label>

                          <input type = "number" name="farm_pincode" class="form-control green-bg" required="required">
 
                        </div>
                      </div> 
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Latitude</label>
                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" name="farm_lat" class="form-control green-bg" >
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Longitude</label>

                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="farm_lng" name="farm_lng" class="form-control" ></input>
            
                        </div>
                      </div>


                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Area</label>

                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="farm_area" name="farm_area" class="form-control" ></input>
            
                        </div>
                      </div>
                    </div>


                    {% if FARM_ACTION_RESPONSE %}
                    <p class="resp-text text-{{FARM_ACTION_RESPONSE['type']}}">{{FARM_ACTION_RESPONSE['message1']}}</p>
                    {% endif %}

                    <hr class="separator" />

                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="f-14-bold dark-grey-text">Billing details</h6>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Billing cycle date</label>

                          <input type="date" name="cylce" class="form-control green-bg" data-date-format="mm/dd/yyyy" required="required">
 
                        </div>
                      </div> 
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label> Type of sale</label>
                          <select name="name" id="name"class="form-control select2 green-bg" required="required">
                            <option value="Subscriptions" selected="selected">Subscription</option>
                          </select>
                        </div>
                      </div>



                     

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Cost of sale</label>
                          <div class="input-group custom-input-group">
                          <input type="number"  min="0" oninput="this.value = Math.abs(this.value)" id="amount" name="amount" class="form-control" required="required"></input>
                          <div class="input-group-addon right">KES</div>
                        </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label> Billing address</label>
                          <input type="text" name="billing_address" class="form-control" value="{{POSTEDCUSTOMER['billing_address']}}" required="required">
                          
                          
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label> Shipping address</label>
                          <input type="text" name="shipping_address" class="form-control" value="{{POSTEDCUSTOMER['shipping_address']}}" required="required">
                        </div>
                      </div>
                    </div>
                    {% if BILLING_ACTION_RESPONSE %}
                    <p class="resp-text text-{{BILLING_ACTION_RESPONSE['type']}}">{{BILLING_ACTION_RESPONSE['message2']}}</p>
                    {% endif %}
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    

        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions text-right pull-right">
            
            {% if FORM_ACTION_RESPONSE.type == "success" %}
            <a href="./add/greenhouses" name ="register" class="btn btn-success btn-flat"  onclick="submit_form();">Next</a>
            {% endif %}
          </div>
        </footer>

      </form>
        {% include '/shared/footer.html' %}
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script>
      var customer = {{POSTEDCUSTOMER|tojson}};
      $(function () {

        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
        

        $('.datepicker').datepicker({
       startDate: '-3d'
        });


        function buttonState(){
    $("a").each(function(){
        $('#register').attr('disabled', 'disabled');
        if($(this).val() == "" ) return false;
        $('#register').attr('disabled', '');
    })
}

$(function(){
    $('#register').attr('disabled', 'disabled');
    $('input').change(buttonState);
})



       
   
     $.each(customer, function(k,v){
      add_customer_row_with_data(v);
     });
      });


  function add_customer_row_with_data(data) {
   var fields = $(".user-form .row").clone();

   fields.find(".col-md-3:nth-child(1) input").val(data.first_name);
   fields.find(".col-md-3:nth-child(2) input").val(data.phone_number);
   fields.find(".col-md-3:nth-child(3) input").val(data.email_address);
   fields.find(".col-md-3:nth-child(4) select").val(data.igh_contact_id);
   fields.find(".col-md-3:nth-child(5) select").val(data.billing_address);
   fields.find(".col-md-3:nth-child(6) select").val(data.shipping_address);
   fields.find(".col-md-3:nth-child(3) input").val(data.cylce);
   fields.find(".col-md-3:nth-child(3) input").val(data.amount);
   fields.find(".col-md-3:nth-child(3) select").val(data.name);
   
  
   // add_user_row();

   update_tally();



 }


 function submit_form() {
     $("form[name='user_type']").submit();
 }


</script>



  </body>
</html>
