<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Customer - Greenhouse</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=farm-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add customer
          </h1>
          <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" onclick="document.location.href='../';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> CUSTOMER DETAILS</a></li>
              <li class="active"><a href="#">GREENHOUSES</a></li>
              <li><a href="#">DEVICES</a></li>
              <li><a href="#">SCREENHOUSES</a></li>
              <li><a href="#">SHADNETS</a></li>
            </ol>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>2. Greenhouse</h3>
                  </div>
                </div>
                <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                <div class="row mt-3 custom-form">
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                      <label>Assign greenhouses</label>
                      <select name="greenhouse_select" class="form-control select2" required="required">
                         {% for greenh in GREENH %}
                         {% if greenh.assigned == "0" %}
                        <option value="{{greenh.id}}" {% if greenh.id == greenhouse_select %} selected="selected" {% endif %} >{{greenh.greenhouse_ref}}</option>
                        {% endif %}
                        {% endfor %}  
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4 col-md-offset-6 col-sm-offset-4">
                    <div class="meta-data">
                      <p>
                        Assigned date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator" />

                <!-- <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded"></form> -->
                  <div class="row headers mt-3">
                    <div class="col-sm-1">&nbsp;</div>
                    <div class="col-sm-2 pl-sm-0">Greenhouse ID</div>
                    <div class="col-sm-2 pl-sm-0">type</div>
                    <div class="col-sm-2 pl-sm-0">Size</div>
                    <!-- <div class="col-sm-2 pl-sm-0">Devices</div>
                    <div class="col-sm-1 pl-sm-0">ID</div> -->
                    <div class="col-sm-2 pl-sm-0">Status</div>
                  </div>

                  <div class="greenhouses-to-add"></div>
                  
                  <div class="hidden">
                    <div class="greenhouse-fields">
                      <div class="row">
                        <div class="square-edit relative">
                          <i class="fa fa-pencil"></i>
                          <span class="square-sm square-sm-green square-sm-text-bottom">G</span>
                        </div>

                       
                          <div class="col-sm-2 pb-4 pl-sm-0 mb-2">
                           
                            {% if SELECTED != [] %}
                            <div class="meta-data-sm">
                              <span class="f-12-medium">{{SELECTED.greenhouse_ref}}</span>
                            </div>
                            {% elif SELECTED == [] %}

                            <div class="meta-data-sm">
                              <span class="f-12-medium">Not Selected</span>
                            </div>
                            {% endif %}
                          </div>



                          <div class="col-sm-2 pb-4 pl-sm-0 mb-2">
                           
                            {% if SELECTED != [] %}
                            <div class="meta-data-sm">
                              <span class="f-12-medium">{{SELECTED.greenhouse_type_id.name}}</span>
                            </div>
                            {% elif SELECTED == [] %}
                            <div class="meta-data-sm">
                              <span class="f-12-medium">Not Selected</span>
                            </div>
                            {% endif %}
                             
                           
                          
                        </div>


                        <div class="col-sm-2 pb-4 pl-sm-0 mb-2">
                          {% if SELECTED != [] %}
                          <div class="meta-data-sm">
                            <span class="f-12-medium">{{SELECTED.size}}</span>
                          </div>
                          {% elif SELECTED == [] %}
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Not Selected</span>
                          </div>
                          {% endif %}
                      </div>
                        

                        <!-- <div class="col-sm-2 pb-4 pl-sm-0 mb-2">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">G-120000</span>
                          </div>
                        </div> -->

                       
                  
                       
                        <!-- <div class="col-sm-2 pb-4 pl-sm-0 mb-2">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">24ft x 24ft</span>
                          </div>
                        </div> -->
                        <!-- <div class="col-sm-1 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">NA</span>
                          </div>
                        </div> -->

                        <!-- <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">NA</span>
                          </div>
                        </div> -->


                        <div class="col-sm-2 pb-4 pl-sm-0 mb-2">
                          {% if SELECTED != [] %}
                          <div class="meta-data-sm">
                            <span class="f-12-medium">{{SELECTED.status}}</span>
                          </div>
                          {% elif SELECTED == [] %}
                          <div class="meta-data-sm">
                            <span class="f-12-medium">NA</span>
                          </div>
                          {% endif %}
                      </div>


                        

                       
                        <div class="col-sm-12 col-md-1 pl-sm-0">
                          <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                        </div>

                       
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions text-right">
          <!-- <a href="../add" class="btn btn-grey btn-flat pull-left">Previous</a> -->
          {% if FORM_ACTION_RESPONSE.type == "success" %}
          <a href="../add/devices" class="btn btn-success btn-flat pull-right">Next</a>
          {% endif %}
          <a href="../add/devices" class="btn btn-success btn-flat pull-right">Skip & Next</a>
        </div>
      </footer>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
     
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });

        // document.getElementById('selectgh').onchange = (e) => {
        //         let selectedUser = greenh.find(greenh => greenh.id == e.target.value);
        //         console.log(selectedUser);
        //         document.getElementById('greenhouse_ref').value = selectedUser.greenhouse_ref;
        //         document.getElementById('size').value = selectedUser.size;
        //         document.getElementById('info_link').value = selectedUser.info_link;
        //     };
      });


      

      $(function () {
        add_user_row();
        $(".btn-add-user").on("click", function () {
          add_user_row();
        });
      });

      function add_user_row() {
        $(".greenhouses-to-add").append($(".greenhouse-fields .row").clone());
        $(".greenhouses-to-add .select2").select2();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".greenhouses-to-add").find(".row").length);
      }

      function submit_form() {
        $("form[name='frm_user']").submit();
      }

  </script>

  </body>
</html>
